components/transport-mgt/org.wso2.carbon.transport.jms.ui/src/main/resources/JMSTransportAdmin.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://jms.transport.carbon.wso2.org" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax274="http://util.transports.core.carbon.wso2.org/xsd" targetNamespace="http://jms.transport.carbon.wso2.org">
    <wsdl:documentation>JMSTransportAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax275="http://util.transports.core.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://util.transports.core.carbon.wso2.org/xsd" />
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>

            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateServiceSpecificOutParameters">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outParams" nillable="true" type="ax275:TransportParameter" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateServiceSpecificInParameters">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="inParams" nillable="true" type="ax275:TransportParameter" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateGloballyDefinedOutParameters">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outParams" nillable="true" type="ax275:TransportParameter" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateGloballyDefinedInParameters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="inParams" nillable="true" type="ax275:TransportParameter" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="removeConnectionFactory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="factoryName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="service" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="listener" type="xs:boolean" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceSpecificOutParameters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getServiceSpecificOutParametersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax275:TransportParameter" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceSpecificInParameters">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceSpecificInParametersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax275:TransportParameter" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGloballyDefinedOutParametersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax275:TransportParameter" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getGloballyDefinedInParametersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax275:TransportParameter" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addConnectionFactory">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="parameter" nillable="true" type="ax275:TransportParameter" />
                        <xs:element minOccurs="0" name="service" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="listener" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>

        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.transports.core.carbon.wso2.org/xsd">
            <xs:complexType name="TransportParameter">
                <xs:all>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="paramElement" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
                </xs:all>
            </xs:complexType>
        </xs:schema>

    </wsdl:types>
    <wsdl:message name="disableTransportListenerRequest" />
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception" />
    </wsdl:message>
    <wsdl:message name="getGloballyDefinedOutParametersRequest" />
    <wsdl:message name="getGloballyDefinedOutParametersResponse">
        <wsdl:part name="parameters" element="ns1:getGloballyDefinedOutParametersResponse" />
    </wsdl:message>

    <wsdl:message name="removeConnectionFactoryRequest">
        <wsdl:part name="parameters" element="ns1:removeConnectionFactory" />
    </wsdl:message>
    <wsdl:message name="updateServiceSpecificInParametersRequest">
        <wsdl:part name="parameters" element="ns1:updateServiceSpecificInParameters" />
    </wsdl:message>
    <wsdl:message name="updateGloballyDefinedInParametersRequest">
        <wsdl:part name="parameters" element="ns1:updateGloballyDefinedInParameters" />
    </wsdl:message>

    <wsdl:message name="disableTransportSenderRequest" />
    <wsdl:message name="updateGloballyDefinedOutParametersRequest">
        <wsdl:part name="parameters" element="ns1:updateGloballyDefinedOutParameters" />
    </wsdl:message>
    <wsdl:message name="getServiceSpecificOutParametersRequest">
        <wsdl:part name="parameters" element="ns1:getServiceSpecificOutParameters" />
    </wsdl:message>
    <wsdl:message name="getServiceSpecificOutParametersResponse">
        <wsdl:part name="parameters" element="ns1:getServiceSpecificOutParametersResponse" />

    </wsdl:message>
    <wsdl:message name="addConnectionFactoryRequest">
        <wsdl:part name="parameters" element="ns1:addConnectionFactory" />
    </wsdl:message>
    <wsdl:message name="getServiceSpecificInParametersRequest">
        <wsdl:part name="parameters" element="ns1:getServiceSpecificInParameters" />
    </wsdl:message>
    <wsdl:message name="getServiceSpecificInParametersResponse">
        <wsdl:part name="parameters" element="ns1:getServiceSpecificInParametersResponse" />

    </wsdl:message>
    <wsdl:message name="updateServiceSpecificOutParametersRequest">
        <wsdl:part name="parameters" element="ns1:updateServiceSpecificOutParameters" />
    </wsdl:message>
    <wsdl:message name="getGloballyDefinedInParametersRequest" />
    <wsdl:message name="getGloballyDefinedInParametersResponse">
        <wsdl:part name="parameters" element="ns1:getGloballyDefinedInParametersResponse" />
    </wsdl:message>
    <wsdl:portType name="JMSTransportAdminPortType">

        <wsdl:operation name="disableTransportListener">
            <wsdl:input message="axis2:disableTransportListenerRequest" wsaw:Action="urn:disableTransportListener" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:disableTransportListenerException" />
        </wsdl:operation>
        <wsdl:operation name="getGloballyDefinedOutParameters">
            <wsdl:input message="axis2:getGloballyDefinedOutParametersRequest" wsaw:Action="urn:getGloballyDefinedOutParameters" />
            <wsdl:output message="axis2:getGloballyDefinedOutParametersResponse" wsaw:Action="urn:getGloballyDefinedOutParametersResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getGloballyDefinedOutParametersException" />
        </wsdl:operation>

        <wsdl:operation name="removeConnectionFactory">
            <wsdl:input message="axis2:removeConnectionFactoryRequest" wsaw:Action="urn:removeConnectionFactory" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:removeConnectionFactoryException" />
        </wsdl:operation>
        <wsdl:operation name="updateServiceSpecificInParameters">
            <wsdl:input message="axis2:updateServiceSpecificInParametersRequest" wsaw:Action="urn:updateServiceSpecificInParameters" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:updateServiceSpecificInParametersException" />
        </wsdl:operation>
        <wsdl:operation name="updateGloballyDefinedInParameters">

            <wsdl:input message="axis2:updateGloballyDefinedInParametersRequest" wsaw:Action="urn:updateGloballyDefinedInParameters" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:updateGloballyDefinedInParametersException" />
        </wsdl:operation>
        <wsdl:operation name="disableTransportSender">
            <wsdl:input message="axis2:disableTransportSenderRequest" wsaw:Action="urn:disableTransportSender" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:disableTransportSenderException" />
        </wsdl:operation>
        <wsdl:operation name="updateGloballyDefinedOutParameters">
            <wsdl:input message="axis2:updateGloballyDefinedOutParametersRequest" wsaw:Action="urn:updateGloballyDefinedOutParameters" />

            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:updateGloballyDefinedOutParametersException" />
        </wsdl:operation>
        <wsdl:operation name="getServiceSpecificOutParameters">
            <wsdl:input message="axis2:getServiceSpecificOutParametersRequest" wsaw:Action="urn:getServiceSpecificOutParameters" />
            <wsdl:output message="axis2:getServiceSpecificOutParametersResponse" wsaw:Action="urn:getServiceSpecificOutParametersResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getServiceSpecificOutParametersException" />
        </wsdl:operation>
        <wsdl:operation name="addConnectionFactory">
            <wsdl:input message="axis2:addConnectionFactoryRequest" wsaw:Action="urn:addConnectionFactory" />

            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:addConnectionFactoryException" />
        </wsdl:operation>
        <wsdl:operation name="getServiceSpecificInParameters">
            <wsdl:input message="axis2:getServiceSpecificInParametersRequest" wsaw:Action="urn:getServiceSpecificInParameters" />
            <wsdl:output message="axis2:getServiceSpecificInParametersResponse" wsaw:Action="urn:getServiceSpecificInParametersResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getServiceSpecificInParametersException" />
        </wsdl:operation>
        <wsdl:operation name="updateServiceSpecificOutParameters">
            <wsdl:input message="axis2:updateServiceSpecificOutParametersRequest" wsaw:Action="urn:updateServiceSpecificOutParameters" />

            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:updateServiceSpecificOutParametersException" />
        </wsdl:operation>
        <wsdl:operation name="getGloballyDefinedInParameters">
            <wsdl:input message="axis2:getGloballyDefinedInParametersRequest" wsaw:Action="urn:getGloballyDefinedInParameters" />
            <wsdl:output message="axis2:getGloballyDefinedInParametersResponse" wsaw:Action="urn:getGloballyDefinedInParametersResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getGloballyDefinedInParametersException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JMSTransportAdminSoap11Binding" type="axis2:JMSTransportAdminPortType">

        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="removeConnectionFactory">
            <soap:operation soapAction="urn:removeConnectionFactory" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getGloballyDefinedOutParameters">
            <soap:operation soapAction="urn:getGloballyDefinedOutParameters" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disableTransportListener">
            <soap:operation soapAction="urn:disableTransportListener" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateServiceSpecificInParameters">
            <soap:operation soapAction="urn:updateServiceSpecificInParameters" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateGloballyDefinedInParameters">
            <soap:operation soapAction="urn:updateGloballyDefinedInParameters" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disableTransportSender">
            <soap:operation soapAction="urn:disableTransportSender" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateGloballyDefinedOutParameters">
            <soap:operation soapAction="urn:updateGloballyDefinedOutParameters" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceSpecificOutParameters">
            <soap:operation soapAction="urn:getServiceSpecificOutParameters" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addConnectionFactory">
            <soap:operation soapAction="urn:addConnectionFactory" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceSpecificInParameters">
            <soap:operation soapAction="urn:getServiceSpecificInParameters" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="updateServiceSpecificOutParameters">
            <soap:operation soapAction="urn:updateServiceSpecificOutParameters" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getGloballyDefinedInParameters">
            <soap:operation soapAction="urn:getGloballyDefinedInParameters" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JMSTransportAdminSoap12Binding" type="axis2:JMSTransportAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="removeConnectionFactory">
            <soap12:operation soapAction="urn:removeConnectionFactory" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGloballyDefinedOutParameters">
            <soap12:operation soapAction="urn:getGloballyDefinedOutParameters" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="disableTransportListener">
            <soap12:operation soapAction="urn:disableTransportListener" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="updateServiceSpecificInParameters">
            <soap12:operation soapAction="urn:updateServiceSpecificInParameters" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="updateGloballyDefinedInParameters">
            <soap12:operation soapAction="urn:updateGloballyDefinedInParameters" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="disableTransportSender">
            <soap12:operation soapAction="urn:disableTransportSender" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="updateGloballyDefinedOutParameters">
            <soap12:operation soapAction="urn:updateGloballyDefinedOutParameters" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getServiceSpecificOutParameters">
            <soap12:operation soapAction="urn:getServiceSpecificOutParameters" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addConnectionFactory">
            <soap12:operation soapAction="urn:addConnectionFactory" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceSpecificInParameters">
            <soap12:operation soapAction="urn:getServiceSpecificInParameters" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateServiceSpecificOutParameters">
            <soap12:operation soapAction="urn:updateServiceSpecificOutParameters" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGloballyDefinedInParameters">
            <soap12:operation soapAction="urn:getGloballyDefinedInParameters" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JMSTransportAdminHttpBinding" type="axis2:JMSTransportAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="removeConnectionFactory">
            <http:operation location="removeConnectionFactory" />
            <wsdl:input>
                <mime:content type="text/xml" part="removeConnectionFactory" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="getGloballyDefinedOutParameters">
            <http:operation location="getGloballyDefinedOutParameters" />
            <wsdl:input>
                <mime:content type="text/xml" part="getGloballyDefinedOutParameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getGloballyDefinedOutParameters" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="disableTransportListener">
            <http:operation location="disableTransportListener" />
            <wsdl:input>
                <mime:content type="text/xml" part="disableTransportListener" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateServiceSpecificInParameters">
            <http:operation location="updateServiceSpecificInParameters" />

            <wsdl:input>
                <mime:content type="text/xml" part="updateServiceSpecificInParameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateGloballyDefinedInParameters">
            <http:operation location="updateGloballyDefinedInParameters" />
            <wsdl:input>
                <mime:content type="text/xml" part="updateGloballyDefinedInParameters" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="disableTransportSender">
            <http:operation location="disableTransportSender" />
            <wsdl:input>
                <mime:content type="text/xml" part="disableTransportSender" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateGloballyDefinedOutParameters">
            <http:operation location="updateGloballyDefinedOutParameters" />

            <wsdl:input>
                <mime:content type="text/xml" part="updateGloballyDefinedOutParameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServiceSpecificOutParameters">
            <http:operation location="getServiceSpecificOutParameters" />
            <wsdl:input>
                <mime:content type="text/xml" part="getServiceSpecificOutParameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="getServiceSpecificOutParameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addConnectionFactory">
            <http:operation location="addConnectionFactory" />
            <wsdl:input>
                <mime:content type="text/xml" part="addConnectionFactory" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="getServiceSpecificInParameters">
            <http:operation location="getServiceSpecificInParameters" />
            <wsdl:input>
                <mime:content type="text/xml" part="getServiceSpecificInParameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getServiceSpecificInParameters" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="updateServiceSpecificOutParameters">
            <http:operation location="updateServiceSpecificOutParameters" />
            <wsdl:input>
                <mime:content type="text/xml" part="updateServiceSpecificOutParameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getGloballyDefinedInParameters">
            <http:operation location="getGloballyDefinedInParameters" />

            <wsdl:input>
                <mime:content type="text/xml" part="getGloballyDefinedInParameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getGloballyDefinedInParameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JMSTransportAdmin">

        <wsdl:port name="JMSTransportAdminHttpsSoap11Endpoint" binding="axis2:JMSTransportAdminSoap11Binding">
            <soap:address location="https://hiranya-laptop:8243/services/JMSTransportAdmin.JMSTransportAdminHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="JMSTransportAdminHttpsSoap12Endpoint" binding="axis2:JMSTransportAdminSoap12Binding">
            <soap12:address location="https://hiranya-laptop:8243/services/JMSTransportAdmin.JMSTransportAdminHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="JMSTransportAdminHttpsEndpoint" binding="axis2:JMSTransportAdminHttpBinding">
            <http:address location="https://hiranya-laptop:8243/services/JMSTransportAdmin.JMSTransportAdminHttpsEndpoint" />
        </wsdl:port>

    </wsdl:service>
</wsdl:definitions>