service-stubs/org.wso2.carbon.application.mgt.stub/src/main/resources/ApplicationAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.application.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://mgt.application.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.application.carbon.wso2.org">
   <wsdl:documentation>ApplicationAdmin</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ax24="http://mgt.application.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.application.carbon.wso2.org">
         <xs:import namespace="http://mgt.application.carbon.wso2.org/xsd"/>
         <xs:element name="ApplicationAdminException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="ApplicationAdminException" nillable="true" type="ns:Exception"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="Exception">
            <xs:sequence>
               <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="listAllFaultyApplications">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="listAllFaultyApplicationsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="listAllApplications">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="listAllApplicationsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getFaultException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="faultCarbonAppName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getFaultExceptionResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAppData">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAppDataResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax23:ApplicationMetadata"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="downloadCappArchive">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="downloadCappArchiveResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteFaultyApplication">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="faultyAppName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteApplication">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteAllFaultyAppliations">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.application.carbon.wso2.org/xsd">
         <xs:complexType name="ApplicationMetadata">
            <xs:sequence>
               <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="appVersion" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="artifactsDeploymentStatus" nillable="true" type="ax23:ArtifactDeploymentStatus"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="registryArtifacts" nillable="true" type="ax23:RegistryMetadata"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="registryFilters" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="registryHandlers" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceGroups" nillable="true" type="ax23:ServiceGroupMetadata"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ArtifactDeploymentStatus">
            <xs:sequence>
               <xs:element minOccurs="0" name="artifactName" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="deploymentStatus" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="RegistryMetadata">
            <xs:sequence>
               <xs:element minOccurs="0" name="artifactName" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="associations" nillable="true" type="ax23:Association"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="collections" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="dumps" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="resources" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Association">
            <xs:sequence>
               <xs:element minOccurs="0" name="sourcePath" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="targetPath" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ServiceGroupMetadata">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="services" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="sgName" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="sgType" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getFaultExceptionRequest">
      <wsdl:part name="parameters" element="ns:getFaultException"/>
   </wsdl:message>
   <wsdl:message name="getFaultExceptionResponse">
      <wsdl:part name="parameters" element="ns:getFaultExceptionResponse"/>
   </wsdl:message>
   <wsdl:message name="ApplicationAdminException">
      <wsdl:part name="parameters" element="ns:ApplicationAdminException"/>
   </wsdl:message>
   <wsdl:message name="downloadCappArchiveRequest">
      <wsdl:part name="parameters" element="ns:downloadCappArchive"/>
   </wsdl:message>
   <wsdl:message name="downloadCappArchiveResponse">
      <wsdl:part name="parameters" element="ns:downloadCappArchiveResponse"/>
   </wsdl:message>
   <wsdl:message name="deleteApplicationRequest">
      <wsdl:part name="parameters" element="ns:deleteApplication"/>
   </wsdl:message>
   <wsdl:message name="deleteFaultyApplicationRequest">
      <wsdl:part name="parameters" element="ns:deleteFaultyApplication"/>
   </wsdl:message>
   <wsdl:message name="listAllFaultyApplicationsRequest">
      <wsdl:part name="parameters" element="ns:listAllFaultyApplications"/>
   </wsdl:message>
   <wsdl:message name="listAllFaultyApplicationsResponse">
      <wsdl:part name="parameters" element="ns:listAllFaultyApplicationsResponse"/>
   </wsdl:message>
   <wsdl:message name="deleteAllFaultyAppliationsRequest">
      <wsdl:part name="parameters" element="ns:deleteAllFaultyAppliations"/>
   </wsdl:message>
   <wsdl:message name="getAppDataRequest">
      <wsdl:part name="parameters" element="ns:getAppData"/>
   </wsdl:message>
   <wsdl:message name="getAppDataResponse">
      <wsdl:part name="parameters" element="ns:getAppDataResponse"/>
   </wsdl:message>
   <wsdl:message name="listAllApplicationsRequest">
      <wsdl:part name="parameters" element="ns:listAllApplications"/>
   </wsdl:message>
   <wsdl:message name="listAllApplicationsResponse">
      <wsdl:part name="parameters" element="ns:listAllApplicationsResponse"/>
   </wsdl:message>
   <wsdl:portType name="ApplicationAdminPortType">
      <wsdl:operation name="getFaultException">
         <wsdl:input message="ns:getFaultExceptionRequest" wsaw:Action="urn:getFaultException"/>
         <wsdl:output message="ns:getFaultExceptionResponse" wsaw:Action="urn:getFaultExceptionResponse"/>
         <wsdl:fault message="ns:ApplicationAdminException" name="ApplicationAdminException" wsaw:Action="urn:getFaultExceptionApplicationAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="downloadCappArchive">
         <wsdl:input message="ns:downloadCappArchiveRequest" wsaw:Action="urn:downloadCappArchive"/>
         <wsdl:output message="ns:downloadCappArchiveResponse" wsaw:Action="urn:downloadCappArchiveResponse"/>
         <wsdl:fault message="ns:ApplicationAdminException" name="ApplicationAdminException" wsaw:Action="urn:downloadCappArchiveApplicationAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="deleteApplication">
         <wsdl:input message="ns:deleteApplicationRequest" wsaw:Action="urn:deleteApplication"/>
         <wsdl:fault message="ns:ApplicationAdminException" name="ApplicationAdminException" wsaw:Action="urn:deleteApplicationApplicationAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="deleteFaultyApplication">
         <wsdl:input message="ns:deleteFaultyApplicationRequest" wsaw:Action="urn:deleteFaultyApplication"/>
         <wsdl:fault message="ns:ApplicationAdminException" name="ApplicationAdminException" wsaw:Action="urn:deleteFaultyApplicationApplicationAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="listAllFaultyApplications">
         <wsdl:input message="ns:listAllFaultyApplicationsRequest" wsaw:Action="urn:listAllFaultyApplications"/>
         <wsdl:output message="ns:listAllFaultyApplicationsResponse" wsaw:Action="urn:listAllFaultyApplicationsResponse"/>
         <wsdl:fault message="ns:ApplicationAdminException" name="ApplicationAdminException" wsaw:Action="urn:listAllFaultyApplicationsApplicationAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="deleteAllFaultyAppliations">
         <wsdl:input message="ns:deleteAllFaultyAppliationsRequest" wsaw:Action="urn:deleteAllFaultyAppliations"/>
         <wsdl:fault message="ns:ApplicationAdminException" name="ApplicationAdminException" wsaw:Action="urn:deleteAllFaultyAppliationsApplicationAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="getAppData">
         <wsdl:input message="ns:getAppDataRequest" wsaw:Action="urn:getAppData"/>
         <wsdl:output message="ns:getAppDataResponse" wsaw:Action="urn:getAppDataResponse"/>
         <wsdl:fault message="ns:ApplicationAdminException" name="ApplicationAdminException" wsaw:Action="urn:getAppDataApplicationAdminException"/>
      </wsdl:operation>
      <wsdl:operation name="listAllApplications">
         <wsdl:input message="ns:listAllApplicationsRequest" wsaw:Action="urn:listAllApplications"/>
         <wsdl:output message="ns:listAllApplicationsResponse" wsaw:Action="urn:listAllApplicationsResponse"/>
         <wsdl:fault message="ns:ApplicationAdminException" name="ApplicationAdminException" wsaw:Action="urn:listAllApplicationsApplicationAdminException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ApplicationAdminSoap11Binding" type="ns:ApplicationAdminPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getFaultException">
         <soap:operation soapAction="urn:getFaultException" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ApplicationAdminException">
            <soap:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="downloadCappArchive">
         <soap:operation soapAction="urn:downloadCappArchive" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ApplicationAdminException">
            <soap:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteApplication">
         <soap:operation soapAction="urn:deleteApplication" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="ApplicationAdminException">
            <soap:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteFaultyApplication">
         <soap:operation soapAction="urn:deleteFaultyApplication" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="ApplicationAdminException">
            <soap:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="listAllFaultyApplications">
         <soap:operation soapAction="urn:listAllFaultyApplications" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ApplicationAdminException">
            <soap:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteAllFaultyAppliations">
         <soap:operation soapAction="urn:deleteAllFaultyAppliations" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="ApplicationAdminException">
            <soap:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAppData">
         <soap:operation soapAction="urn:getAppData" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ApplicationAdminException">
            <soap:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="listAllApplications">
         <soap:operation soapAction="urn:listAllApplications" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ApplicationAdminException">
            <soap:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="ApplicationAdminSoap12Binding" type="ns:ApplicationAdminPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getFaultException">
         <soap12:operation soapAction="urn:getFaultException" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ApplicationAdminException">
            <soap12:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="downloadCappArchive">
         <soap12:operation soapAction="urn:downloadCappArchive" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ApplicationAdminException">
            <soap12:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteApplication">
         <soap12:operation soapAction="urn:deleteApplication" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="ApplicationAdminException">
            <soap12:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteFaultyApplication">
         <soap12:operation soapAction="urn:deleteFaultyApplication" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="ApplicationAdminException">
            <soap12:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="listAllFaultyApplications">
         <soap12:operation soapAction="urn:listAllFaultyApplications" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ApplicationAdminException">
            <soap12:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteAllFaultyAppliations">
         <soap12:operation soapAction="urn:deleteAllFaultyAppliations" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="ApplicationAdminException">
            <soap12:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAppData">
         <soap12:operation soapAction="urn:getAppData" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ApplicationAdminException">
            <soap12:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="listAllApplications">
         <soap12:operation soapAction="urn:listAllApplications" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ApplicationAdminException">
            <soap12:fault use="literal" name="ApplicationAdminException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="ApplicationAdminHttpBinding" type="ns:ApplicationAdminPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="getFaultException">
         <http:operation location="getFaultException"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="downloadCappArchive">
         <http:operation location="downloadCappArchive"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deleteApplication">
         <http:operation location="deleteApplication"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="deleteFaultyApplication">
         <http:operation location="deleteFaultyApplication"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="listAllFaultyApplications">
         <http:operation location="listAllFaultyApplications"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deleteAllFaultyAppliations">
         <http:operation location="deleteAllFaultyAppliations"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getAppData">
         <http:operation location="getAppData"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="listAllApplications">
         <http:operation location="listAllApplications"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ApplicationAdmin">
      <wsdl:port name="ApplicationAdminHttpsSoap11Endpoint" binding="ns:ApplicationAdminSoap11Binding">
         <soap:address location="https://ThinkPad:8243/services/ApplicationAdmin.ApplicationAdminHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="ApplicationAdminHttpsSoap12Endpoint" binding="ns:ApplicationAdminSoap12Binding">
         <soap12:address location="https://ThinkPad:8243/services/ApplicationAdmin.ApplicationAdminHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="ApplicationAdminHttpsEndpoint" binding="ns:ApplicationAdminHttpBinding">
         <http:address location="https://ThinkPad:8243/services/ApplicationAdmin.ApplicationAdminHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>