components/email-verification/org.wso2.carbon.email.verification.ui/src/main/resources/EmailVerificationService/EmailVerificationService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax258="http://util.verification.email.carbon.wso2.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://services.verification.email.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.verification.email.carbon.wso2.org">
    <wsdl:documentation>EmailVerificationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.verification.email.carbon.wso2.org/xsd">
            <xs:complexType name="ConfirmationBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="redirectPath" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax259="http://util.verification.email.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.verification.email.carbon.wso2.org">
            <xs:import namespace="http://util.verification.email.carbon.wso2.org/xsd" />
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="confirmUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="secretKey" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="confirmUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax259:ConfirmationBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="confirmUserRequest">
        <wsdl:part name="parameters" element="ns:confirmUser" />
    </wsdl:message>
    <wsdl:message name="confirmUserResponse">
        <wsdl:part name="parameters" element="ns:confirmUserResponse" />
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception" />
    </wsdl:message>
    <wsdl:portType name="EmailVerificationServicePortType">
        <wsdl:operation name="confirmUser">
            <wsdl:input message="ns:confirmUserRequest" wsaw:Action="urn:confirmUser" />
            <wsdl:output message="ns:confirmUserResponse" wsaw:Action="urn:confirmUserResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:confirmUserException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmailVerificationServiceSoap11Binding" type="ns:EmailVerificationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="confirmUser">
            <soap:operation soapAction="urn:confirmUser" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmailVerificationServiceSoap12Binding" type="ns:EmailVerificationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="confirmUser">
            <soap12:operation soapAction="urn:confirmUser" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmailVerificationServiceHttpBinding" type="ns:EmailVerificationServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="confirmUser">
            <http:operation location="confirmUser" />
            <wsdl:input>
                <mime:content type="text/xml" part="confirmUser" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="confirmUser" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmailVerificationService">
        <wsdl:port name="EmailVerificationServiceHttpsSoap11Endpoint" binding="ns:EmailVerificationServiceSoap11Binding">
            <soap:address location="https://10.100.1.125:9443/services/EmailVerificationService.EmailVerificationServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="EmailVerificationServiceHttpsSoap12Endpoint" binding="ns:EmailVerificationServiceSoap12Binding">
            <soap12:address location="https://10.100.1.125:9443/services/EmailVerificationService.EmailVerificationServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="EmailVerificationServiceHttpsEndpoint" binding="ns:EmailVerificationServiceHttpBinding">
            <http:address location="https://10.100.1.125:9443/services/EmailVerificationService.EmailVerificationServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>