service-stubs/event/org.wso2.carbon.event.stub/src/main/resources/TopicManagerAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://internal.admin.event.carbon.wso2.org" xmlns:ax296="http://internal.admin.event.carbon.wso2.org/xsd" xmlns:ax297="http://subscription.core.event.carbon.wso2.org/xsd" xmlns:ax292="http://exception.internal.admin.event.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax294="http://topic.core.event.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://internal.admin.event.carbon.wso2.org">
    <wsdl:documentation>TopicManagerAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.internal.admin.event.carbon.wso2.org/xsd">
            <xs:complexType name="EventAdminException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://subscription.core.event.carbon.wso2.org/xsd">
            <xs:complexType abstract="true" name="EventDispatcher">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="EventFilter">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dialect" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://topic.core.event.carbon.wso2.org/xsd">
            <xs:complexType name="TopicRolePermission">
                <xs:sequence>
                    <xs:element minOccurs="0" name="allowedToPublish" type="xs:boolean" />
                    <xs:element minOccurs="0" name="allowedToSubscribe" type="xs:boolean" />
                    <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TopicNode">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="children" nillable="true" type="ax294:TopicNode" />
                    <xs:element minOccurs="0" name="nodeName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="topicName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax293="http://exception.internal.admin.event.carbon.wso2.org/xsd" xmlns:ax295="http://topic.core.event.carbon.wso2.org/xsd" xmlns:ax299="http://internal.admin.event.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.event.carbon.wso2.org">
            <xs:import namespace="http://exception.internal.admin.event.carbon.wso2.org/xsd" />
            <xs:import namespace="http://topic.core.event.carbon.wso2.org/xsd" />
            <xs:import namespace="http://internal.admin.event.carbon.wso2.org/xsd" />
            <xs:element name="TopicManagerAdminServiceEventAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="EventAdminException" nillable="true" type="ax292:EventAdminException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updatePermission">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="topicRolePermissions" nillable="true" type="ax294:TopicRolePermission" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeTopic">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeTopicResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWsSubscriptionsForTopic">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWsSubscriptionsForTopicResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax296:Subscription" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserRoles">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserRolesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTopicRolePermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTopicRolePermissionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax294:TopicRolePermission" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getJMSSubscriptionsForTopic">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getJMSSubscriptionsForTopicResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax296:Subscription" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllWSSubscriptionsForTopic">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="startingIndex" type="xs:int" />
                        <xs:element minOccurs="0" name="maxSubscriptionCount" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllWSSubscriptionsForTopicResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax296:Subscription" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllWSSubscriptionCountForTopic">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllWSSubscriptionCountForTopicResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTopics">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTopicsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax294:TopicNode" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTopic">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax298="http://subscription.core.event.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.event.carbon.wso2.org/xsd">
            <xs:import namespace="http://subscription.core.event.carbon.wso2.org/xsd" />
            <xs:complexType name="Subscription">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createdTime" nillable="true" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="eventDispatcher" nillable="true" type="ax297:EventDispatcher" />
                    <xs:element minOccurs="0" name="eventDispatcherName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="eventFilter" nillable="true" type="ax297:EventFilter" />
                    <xs:element minOccurs="0" name="eventSinkURL" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="expires" nillable="true" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="topicName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getWsSubscriptionsForTopicRequest">
        <wsdl:part name="parameters" element="ns:getWsSubscriptionsForTopic" />
    </wsdl:message>
    <wsdl:message name="getWsSubscriptionsForTopicResponse">
        <wsdl:part name="parameters" element="ns:getWsSubscriptionsForTopicResponse" />
    </wsdl:message>
    <wsdl:message name="TopicManagerAdminServiceEventAdminException">
        <wsdl:part name="parameters" element="ns:TopicManagerAdminServiceEventAdminException" />
    </wsdl:message>
    <wsdl:message name="getAllWSSubscriptionsForTopicRequest">
        <wsdl:part name="parameters" element="ns:getAllWSSubscriptionsForTopic" />
    </wsdl:message>
    <wsdl:message name="getAllWSSubscriptionsForTopicResponse">
        <wsdl:part name="parameters" element="ns:getAllWSSubscriptionsForTopicResponse" />
    </wsdl:message>
    <wsdl:message name="updatePermissionRequest">
        <wsdl:part name="parameters" element="ns:updatePermission" />
    </wsdl:message>
    <wsdl:message name="getAllWSSubscriptionCountForTopicRequest">
        <wsdl:part name="parameters" element="ns:getAllWSSubscriptionCountForTopic" />
    </wsdl:message>
    <wsdl:message name="getAllWSSubscriptionCountForTopicResponse">
        <wsdl:part name="parameters" element="ns:getAllWSSubscriptionCountForTopicResponse" />
    </wsdl:message>
    <wsdl:message name="addTopicRequest">
        <wsdl:part name="parameters" element="ns:addTopic" />
    </wsdl:message>
    <wsdl:message name="getAllTopicsRequest">
        <wsdl:part name="parameters" element="ns:getAllTopics" />
    </wsdl:message>
    <wsdl:message name="getAllTopicsResponse">
        <wsdl:part name="parameters" element="ns:getAllTopicsResponse" />
    </wsdl:message>
    <wsdl:message name="getUserRolesRequest">
        <wsdl:part name="parameters" element="ns:getUserRoles" />
    </wsdl:message>
    <wsdl:message name="getUserRolesResponse">
        <wsdl:part name="parameters" element="ns:getUserRolesResponse" />
    </wsdl:message>
    <wsdl:message name="removeTopicRequest">
        <wsdl:part name="parameters" element="ns:removeTopic" />
    </wsdl:message>
    <wsdl:message name="removeTopicResponse">
        <wsdl:part name="parameters" element="ns:removeTopicResponse" />
    </wsdl:message>
    <wsdl:message name="getTopicRolePermissionsRequest">
        <wsdl:part name="parameters" element="ns:getTopicRolePermissions" />
    </wsdl:message>
    <wsdl:message name="getTopicRolePermissionsResponse">
        <wsdl:part name="parameters" element="ns:getTopicRolePermissionsResponse" />
    </wsdl:message>
    <wsdl:message name="getJMSSubscriptionsForTopicRequest">
        <wsdl:part name="parameters" element="ns:getJMSSubscriptionsForTopic" />
    </wsdl:message>
    <wsdl:message name="getJMSSubscriptionsForTopicResponse">
        <wsdl:part name="parameters" element="ns:getJMSSubscriptionsForTopicResponse" />
    </wsdl:message>
    <wsdl:portType name="TopicManagerAdminServicePortType">
        <wsdl:operation name="getWsSubscriptionsForTopic">
            <wsdl:input message="ns:getWsSubscriptionsForTopicRequest" wsaw:Action="urn:getWsSubscriptionsForTopic" />
            <wsdl:output message="ns:getWsSubscriptionsForTopicResponse" wsaw:Action="urn:getWsSubscriptionsForTopicResponse" />
            <wsdl:fault message="ns:TopicManagerAdminServiceEventAdminException" name="TopicManagerAdminServiceEventAdminException" wsaw:Action="urn:getWsSubscriptionsForTopicTopicManagerAdminServiceEventAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAllWSSubscriptionsForTopic">
            <wsdl:input message="ns:getAllWSSubscriptionsForTopicRequest" wsaw:Action="urn:getAllWSSubscriptionsForTopic" />
            <wsdl:output message="ns:getAllWSSubscriptionsForTopicResponse" wsaw:Action="urn:getAllWSSubscriptionsForTopicResponse" />
            <wsdl:fault message="ns:TopicManagerAdminServiceEventAdminException" name="TopicManagerAdminServiceEventAdminException" wsaw:Action="urn:getAllWSSubscriptionsForTopicTopicManagerAdminServiceEventAdminException" />
        </wsdl:operation>
        <wsdl:operation name="updatePermission">
            <wsdl:input message="ns:updatePermissionRequest" wsaw:Action="urn:updatePermission" />
            <wsdl:fault message="ns:TopicManagerAdminServiceEventAdminException" name="TopicManagerAdminServiceEventAdminException" wsaw:Action="urn:updatePermissionTopicManagerAdminServiceEventAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAllWSSubscriptionCountForTopic">
            <wsdl:input message="ns:getAllWSSubscriptionCountForTopicRequest" wsaw:Action="urn:getAllWSSubscriptionCountForTopic" />
            <wsdl:output message="ns:getAllWSSubscriptionCountForTopicResponse" wsaw:Action="urn:getAllWSSubscriptionCountForTopicResponse" />
            <wsdl:fault message="ns:TopicManagerAdminServiceEventAdminException" name="TopicManagerAdminServiceEventAdminException" wsaw:Action="urn:getAllWSSubscriptionCountForTopicTopicManagerAdminServiceEventAdminException" />
        </wsdl:operation>
        <wsdl:operation name="addTopic">
            <wsdl:input message="ns:addTopicRequest" wsaw:Action="urn:addTopic" />
            <wsdl:fault message="ns:TopicManagerAdminServiceEventAdminException" name="TopicManagerAdminServiceEventAdminException" wsaw:Action="urn:addTopicTopicManagerAdminServiceEventAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAllTopics">
            <wsdl:input message="ns:getAllTopicsRequest" wsaw:Action="urn:getAllTopics" />
            <wsdl:output message="ns:getAllTopicsResponse" wsaw:Action="urn:getAllTopicsResponse" />
            <wsdl:fault message="ns:TopicManagerAdminServiceEventAdminException" name="TopicManagerAdminServiceEventAdminException" wsaw:Action="urn:getAllTopicsTopicManagerAdminServiceEventAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getUserRoles">
            <wsdl:input message="ns:getUserRolesRequest" wsaw:Action="urn:getUserRoles" />
            <wsdl:output message="ns:getUserRolesResponse" wsaw:Action="urn:getUserRolesResponse" />
            <wsdl:fault message="ns:TopicManagerAdminServiceEventAdminException" name="TopicManagerAdminServiceEventAdminException" wsaw:Action="urn:getUserRolesTopicManagerAdminServiceEventAdminException" />
        </wsdl:operation>
        <wsdl:operation name="removeTopic">
            <wsdl:input message="ns:removeTopicRequest" wsaw:Action="urn:removeTopic" />
            <wsdl:output message="ns:removeTopicResponse" wsaw:Action="urn:removeTopicResponse" />
            <wsdl:fault message="ns:TopicManagerAdminServiceEventAdminException" name="TopicManagerAdminServiceEventAdminException" wsaw:Action="urn:removeTopicTopicManagerAdminServiceEventAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getTopicRolePermissions">
            <wsdl:input message="ns:getTopicRolePermissionsRequest" wsaw:Action="urn:getTopicRolePermissions" />
            <wsdl:output message="ns:getTopicRolePermissionsResponse" wsaw:Action="urn:getTopicRolePermissionsResponse" />
            <wsdl:fault message="ns:TopicManagerAdminServiceEventAdminException" name="TopicManagerAdminServiceEventAdminException" wsaw:Action="urn:getTopicRolePermissionsTopicManagerAdminServiceEventAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getJMSSubscriptionsForTopic">
            <wsdl:input message="ns:getJMSSubscriptionsForTopicRequest" wsaw:Action="urn:getJMSSubscriptionsForTopic" />
            <wsdl:output message="ns:getJMSSubscriptionsForTopicResponse" wsaw:Action="urn:getJMSSubscriptionsForTopicResponse" />
            <wsdl:fault message="ns:TopicManagerAdminServiceEventAdminException" name="TopicManagerAdminServiceEventAdminException" wsaw:Action="urn:getJMSSubscriptionsForTopicTopicManagerAdminServiceEventAdminException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TopicManagerAdminServiceSoap11Binding" type="ns:TopicManagerAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getWsSubscriptionsForTopic">
            <soap:operation soapAction="urn:getWsSubscriptionsForTopic" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updatePermission">
            <soap:operation soapAction="urn:updatePermission" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllWSSubscriptionsForTopic">
            <soap:operation soapAction="urn:getAllWSSubscriptionsForTopic" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllWSSubscriptionCountForTopic">
            <soap:operation soapAction="urn:getAllWSSubscriptionCountForTopic" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTopic">
            <soap:operation soapAction="urn:addTopic" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllTopics">
            <soap:operation soapAction="urn:getAllTopics" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserRoles">
            <soap:operation soapAction="urn:getUserRoles" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeTopic">
            <soap:operation soapAction="urn:removeTopic" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTopicRolePermissions">
            <soap:operation soapAction="urn:getTopicRolePermissions" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getJMSSubscriptionsForTopic">
            <soap:operation soapAction="urn:getJMSSubscriptionsForTopic" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TopicManagerAdminServiceSoap12Binding" type="ns:TopicManagerAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getWsSubscriptionsForTopic">
            <soap12:operation soapAction="urn:getWsSubscriptionsForTopic" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap12:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updatePermission">
            <soap12:operation soapAction="urn:updatePermission" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap12:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllWSSubscriptionsForTopic">
            <soap12:operation soapAction="urn:getAllWSSubscriptionsForTopic" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap12:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllWSSubscriptionCountForTopic">
            <soap12:operation soapAction="urn:getAllWSSubscriptionCountForTopic" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap12:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTopic">
            <soap12:operation soapAction="urn:addTopic" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap12:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllTopics">
            <soap12:operation soapAction="urn:getAllTopics" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap12:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserRoles">
            <soap12:operation soapAction="urn:getUserRoles" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap12:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeTopic">
            <soap12:operation soapAction="urn:removeTopic" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap12:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTopicRolePermissions">
            <soap12:operation soapAction="urn:getTopicRolePermissions" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap12:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getJMSSubscriptionsForTopic">
            <soap12:operation soapAction="urn:getJMSSubscriptionsForTopic" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="TopicManagerAdminServiceEventAdminException">
                <soap12:fault use="literal" name="TopicManagerAdminServiceEventAdminException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TopicManagerAdminServiceHttpBinding" type="ns:TopicManagerAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getWsSubscriptionsForTopic">
            <http:operation location="getWsSubscriptionsForTopic" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updatePermission">
            <http:operation location="updatePermission" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllWSSubscriptionsForTopic">
            <http:operation location="getAllWSSubscriptionsForTopic" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllWSSubscriptionCountForTopic">
            <http:operation location="getAllWSSubscriptionCountForTopic" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTopic">
            <http:operation location="addTopic" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllTopics">
            <http:operation location="getAllTopics" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserRoles">
            <http:operation location="getUserRoles" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeTopic">
            <http:operation location="removeTopic" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTopicRolePermissions">
            <http:operation location="getTopicRolePermissions" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJMSSubscriptionsForTopic">
            <http:operation location="getJMSSubscriptionsForTopic" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TopicManagerAdminService">
        <wsdl:port name="TopicManagerAdminServiceHttpsSoap11Endpoint" binding="ns:TopicManagerAdminServiceSoap11Binding">
            <soap:address location="https://10.100.1.107:9443/services/TopicManagerAdminService.TopicManagerAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="TopicManagerAdminServiceHttpsSoap12Endpoint" binding="ns:TopicManagerAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.1.107:9443/services/TopicManagerAdminService.TopicManagerAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="TopicManagerAdminServiceHttpsEndpoint" binding="ns:TopicManagerAdminServiceHttpBinding">
            <http:address location="https://10.100.1.107:9443/services/TopicManagerAdminService.TopicManagerAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>