service-stubs/logging/org.wso2.carbon.logging.admin.stub/src/main/resources/LogAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.logging.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2273="http://data.service.logging.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2271="http://service.logging.carbon.wso2.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.logging.carbon.wso2.org">
    <wsdl:documentation>LoggingAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.logging.carbon.wso2.org/xsd">
            <xs:complexType name="LoggingAdminException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2272="http://service.logging.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2274="http://data.service.logging.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">

            <xs:import namespace="http://service.logging.carbon.wso2.org/xsd" />
            <xs:import namespace="http://data.service.logging.carbon.wso2.org/xsd" />
            <xs:element name="LoggingAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="LoggingAdminException" nillable="true" type="ns1:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="updateSystemLog">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="logLevel" nillable="true" type="xs:string" />

                        <xs:element minOccurs="0" name="logPattern" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="persist" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LoggingAdminLoggingAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="LoggingAdminException" nillable="true" type="ax2272:LoggingAdminException" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateSyslogConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="port" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="realm" nillable="true" type="xs:string" />

                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateLoggerData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggerName" nillable="true" type="xs:string" />

                        <xs:element minOccurs="0" name="loggerLevel" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="additivity" type="xs:boolean" />
                        <xs:element minOccurs="0" name="persist" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAllAppenderData">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="appenderName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="appenderPattern" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="threshold" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="logFileName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="sysLogHost" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="facility" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="persist" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="restoreDefaults">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="removeSyslogPattern">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="appenderPattern" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeSyslogPatternResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="isStratosService">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="isStratosServiceResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSystemLog">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>

            </xs:element>
            <xs:element name="getSystemLogResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2273:LogData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSyslogData">

                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getSyslogDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2273:SyslogData" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getLoggerData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggerName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getLoggerDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2273:LoggerData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppenderData">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="appenderName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppenderDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2273:AppenderData" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLoggerData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="logNameFilter" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="beginsWith" type="xs:boolean" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLoggerDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2273:LoggerData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.service.logging.carbon.wso2.org/xsd">
            <xs:complexType name="LogData">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="appenderData" nillable="true" type="ax2273:AppenderData" />
                    <xs:element minOccurs="0" name="logFile" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="logLevel" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="logPattern" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="loggerData" nillable="true" type="ax2273:LoggerData" />

                    <xs:element minOccurs="0" name="selectedAppenderData" nillable="true" type="ax2273:AppenderData" />
                    <xs:element minOccurs="0" name="selectedLoggerData" nillable="true" type="ax2273:LoggerData" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AppenderData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="facility" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="isFileAppender" type="xs:boolean" />
                    <xs:element minOccurs="0" name="isSysLogAppender" type="xs:boolean" />

                    <xs:element minOccurs="0" name="logFile" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="pattern" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="sysLogHost" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="threshold" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LoggerData">
                <xs:sequence>

                    <xs:element minOccurs="0" name="additivity" type="xs:boolean" />
                    <xs:element minOccurs="0" name="level" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parentName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SyslogData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />

                    <xs:element minOccurs="0" name="port" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="realm" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllLoggerDataRequest">

        <wsdl:part name="parameters" element="ns1:getAllLoggerData" />
    </wsdl:message>
    <wsdl:message name="getAllLoggerDataResponse">
        <wsdl:part name="parameters" element="ns1:getAllLoggerDataResponse" />
    </wsdl:message>
    <wsdl:message name="updateAllAppenderDataRequest">
        <wsdl:part name="parameters" element="ns1:updateAllAppenderData" />
    </wsdl:message>
    <wsdl:message name="LoggingAdminException">

        <wsdl:part name="parameters" element="ns1:LoggingAdminException" />
    </wsdl:message>
    <wsdl:message name="getSyslogDataRequest">
        <wsdl:part name="parameters" element="ns1:getSyslogData" />
    </wsdl:message>
    <wsdl:message name="getSyslogDataResponse">
        <wsdl:part name="parameters" element="ns1:getSyslogDataResponse" />
    </wsdl:message>
    <wsdl:message name="LoggingAdminLoggingAdminException">

        <wsdl:part name="parameters" element="ns1:LoggingAdminLoggingAdminException" />
    </wsdl:message>
    <wsdl:message name="updateSystemLogRequest">
        <wsdl:part name="parameters" element="ns1:updateSystemLog" />
    </wsdl:message>
    <wsdl:message name="updateSyslogConfigRequest">
        <wsdl:part name="parameters" element="ns1:updateSyslogConfig" />
    </wsdl:message>
    <wsdl:message name="getAppenderDataRequest">

        <wsdl:part name="parameters" element="ns1:getAppenderData" />
    </wsdl:message>
    <wsdl:message name="getAppenderDataResponse">
        <wsdl:part name="parameters" element="ns1:getAppenderDataResponse" />
    </wsdl:message>
    <wsdl:message name="removeSyslogPatternRequest">
        <wsdl:part name="parameters" element="ns1:removeSyslogPattern" />
    </wsdl:message>
    <wsdl:message name="removeSyslogPatternResponse">

        <wsdl:part name="parameters" element="ns1:removeSyslogPatternResponse" />
    </wsdl:message>
    <wsdl:message name="restoreDefaultsRequest">
        <wsdl:part name="parameters" element="ns1:restoreDefaults" />
    </wsdl:message>
    <wsdl:message name="updateLoggerDataRequest">
        <wsdl:part name="parameters" element="ns1:updateLoggerData" />
    </wsdl:message>
    <wsdl:message name="getLoggerDataRequest">

        <wsdl:part name="parameters" element="ns1:getLoggerData" />
    </wsdl:message>
    <wsdl:message name="getLoggerDataResponse">
        <wsdl:part name="parameters" element="ns1:getLoggerDataResponse" />
    </wsdl:message>
    <wsdl:message name="getSystemLogRequest">
        <wsdl:part name="parameters" element="ns1:getSystemLog" />
    </wsdl:message>
    <wsdl:message name="getSystemLogResponse">

        <wsdl:part name="parameters" element="ns1:getSystemLogResponse" />
    </wsdl:message>
    <wsdl:message name="isStratosServiceRequest">
        <wsdl:part name="parameters" element="ns1:isStratosService" />
    </wsdl:message>
    <wsdl:message name="isStratosServiceResponse">
        <wsdl:part name="parameters" element="ns1:isStratosServiceResponse" />
    </wsdl:message>
    <wsdl:portType name="LoggingAdminPortType">

        <wsdl:operation name="getAllLoggerData">
            <wsdl:input message="tns:getAllLoggerDataRequest" wsaw:Action="urn:getAllLoggerData" />
            <wsdl:output message="tns:getAllLoggerDataResponse" wsaw:Action="urn:getAllLoggerDataResponse" />
        </wsdl:operation>
        <wsdl:operation name="updateAllAppenderData">
            <wsdl:input message="tns:updateAllAppenderDataRequest" wsaw:Action="urn:updateAllAppenderData" />
            <wsdl:fault message="tns:LoggingAdminException" name="LoggingAdminException" wsaw:Action="urn:updateAllAppenderDataLoggingAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getSyslogData">

            <wsdl:input message="tns:getSyslogDataRequest" wsaw:Action="urn:getSyslogData" />
            <wsdl:output message="tns:getSyslogDataResponse" wsaw:Action="urn:getSyslogDataResponse" />
            <wsdl:fault message="tns:LoggingAdminLoggingAdminException" name="LoggingAdminLoggingAdminException" wsaw:Action="urn:getSyslogDataLoggingAdminLoggingAdminException" />
        </wsdl:operation>
        <wsdl:operation name="updateSystemLog">
            <wsdl:input message="tns:updateSystemLogRequest" wsaw:Action="urn:updateSystemLog" />
            <wsdl:fault message="tns:LoggingAdminException" name="LoggingAdminException" wsaw:Action="urn:updateSystemLogLoggingAdminException" />
        </wsdl:operation>
        <wsdl:operation name="updateSyslogConfig">

            <wsdl:input message="tns:updateSyslogConfigRequest" wsaw:Action="urn:updateSyslogConfig" />
            <wsdl:fault message="tns:LoggingAdminLoggingAdminException" name="LoggingAdminLoggingAdminException" wsaw:Action="urn:updateSyslogConfigLoggingAdminLoggingAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAppenderData">
            <wsdl:input message="tns:getAppenderDataRequest" wsaw:Action="urn:getAppenderData" />
            <wsdl:output message="tns:getAppenderDataResponse" wsaw:Action="urn:getAppenderDataResponse" />
        </wsdl:operation>
        <wsdl:operation name="removeSyslogPattern">
            <wsdl:input message="tns:removeSyslogPatternRequest" wsaw:Action="urn:removeSyslogPattern" />

            <wsdl:output message="tns:removeSyslogPatternResponse" wsaw:Action="urn:removeSyslogPatternResponse" />
        </wsdl:operation>
        <wsdl:operation name="restoreDefaults">
            <wsdl:input message="tns:restoreDefaultsRequest" wsaw:Action="urn:restoreDefaults" />
            <wsdl:fault message="tns:LoggingAdminException" name="LoggingAdminException" wsaw:Action="urn:restoreDefaultsLoggingAdminException" />
        </wsdl:operation>
        <wsdl:operation name="updateLoggerData">
            <wsdl:input message="tns:updateLoggerDataRequest" wsaw:Action="urn:updateLoggerData" />
            <wsdl:fault message="tns:LoggingAdminException" name="LoggingAdminException" wsaw:Action="urn:updateLoggerDataLoggingAdminException" />

        </wsdl:operation>
        <wsdl:operation name="getLoggerData">
            <wsdl:input message="tns:getLoggerDataRequest" wsaw:Action="urn:getLoggerData" />
            <wsdl:output message="tns:getLoggerDataResponse" wsaw:Action="urn:getLoggerDataResponse" />
        </wsdl:operation>
        <wsdl:operation name="getSystemLog">
            <wsdl:input message="tns:getSystemLogRequest" wsaw:Action="urn:getSystemLog" />
            <wsdl:output message="tns:getSystemLogResponse" wsaw:Action="urn:getSystemLogResponse" />
            <wsdl:fault message="tns:LoggingAdminException" name="LoggingAdminException" wsaw:Action="urn:getSystemLogLoggingAdminException" />

        </wsdl:operation>
        <wsdl:operation name="isStratosService">
            <wsdl:input message="tns:isStratosServiceRequest" wsaw:Action="urn:isStratosService" />
            <wsdl:output message="tns:isStratosServiceResponse" wsaw:Action="urn:isStratosServiceResponse" />
            <wsdl:fault message="tns:LoggingAdminException" name="LoggingAdminException" wsaw:Action="urn:isStratosServiceLoggingAdminException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LoggingAdminSoap11Binding" type="tns:LoggingAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />

        <wsdl:operation name="getAllLoggerData">
            <soap:operation soapAction="urn:getAllLoggerData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getSyslogData">
            <soap:operation soapAction="urn:getSyslogData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LoggingAdminLoggingAdminException">

                <soap:fault use="literal" name="LoggingAdminLoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAllAppenderData">
            <soap:operation soapAction="urn:updateAllAppenderData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="LoggingAdminException">

                <soap:fault use="literal" name="LoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateSystemLog">
            <soap:operation soapAction="urn:updateSystemLog" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="LoggingAdminException">

                <soap:fault use="literal" name="LoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateSyslogConfig">
            <soap:operation soapAction="urn:updateSyslogConfig" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="LoggingAdminLoggingAdminException">

                <soap:fault use="literal" name="LoggingAdminLoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAppenderData">
            <soap:operation soapAction="urn:getAppenderData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateLoggerData">
            <soap:operation soapAction="urn:updateLoggerData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="LoggingAdminException">

                <soap:fault use="literal" name="LoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restoreDefaults">
            <soap:operation soapAction="urn:restoreDefaults" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="LoggingAdminException">

                <soap:fault use="literal" name="LoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeSyslogPattern">
            <soap:operation soapAction="urn:removeSyslogPattern" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLoggerData">
            <soap:operation soapAction="urn:getLoggerData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isStratosService">
            <soap:operation soapAction="urn:isStratosService" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LoggingAdminException">
                <soap:fault use="literal" name="LoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSystemLog">
            <soap:operation soapAction="urn:getSystemLog" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LoggingAdminException">
                <soap:fault use="literal" name="LoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="LoggingAdminSoap12Binding" type="tns:LoggingAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getAllLoggerData">
            <soap12:operation soapAction="urn:getAllLoggerData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSyslogData">
            <soap12:operation soapAction="urn:getSyslogData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LoggingAdminLoggingAdminException">
                <soap12:fault use="literal" name="LoggingAdminLoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAllAppenderData">
            <soap12:operation soapAction="urn:updateAllAppenderData" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="LoggingAdminException">
                <soap12:fault use="literal" name="LoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateSystemLog">
            <soap12:operation soapAction="urn:updateSystemLog" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="LoggingAdminException">
                <soap12:fault use="literal" name="LoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateSyslogConfig">
            <soap12:operation soapAction="urn:updateSyslogConfig" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="LoggingAdminLoggingAdminException">
                <soap12:fault use="literal" name="LoggingAdminLoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAppenderData">
            <soap12:operation soapAction="urn:getAppenderData" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateLoggerData">
            <soap12:operation soapAction="urn:updateLoggerData" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="LoggingAdminException">
                <soap12:fault use="literal" name="LoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restoreDefaults">
            <soap12:operation soapAction="urn:restoreDefaults" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="LoggingAdminException">
                <soap12:fault use="literal" name="LoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeSyslogPattern">
            <soap12:operation soapAction="urn:removeSyslogPattern" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLoggerData">
            <soap12:operation soapAction="urn:getLoggerData" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isStratosService">
            <soap12:operation soapAction="urn:isStratosService" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LoggingAdminException">
                <soap12:fault use="literal" name="LoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getSystemLog">
            <soap12:operation soapAction="urn:getSystemLog" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LoggingAdminException">

                <soap12:fault use="literal" name="LoggingAdminException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LoggingAdminHttpBinding" type="tns:LoggingAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getAllLoggerData">
            <http:operation location="getAllLoggerData" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSyslogData">
            <http:operation location="getSyslogData" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAllAppenderData">
            <http:operation location="updateAllAppenderData" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateSystemLog">
            <http:operation location="updateSystemLog" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="updateSyslogConfig">
            <http:operation location="updateSyslogConfig" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAppenderData">
            <http:operation location="getAppenderData" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateLoggerData">
            <http:operation location="updateLoggerData" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="restoreDefaults">
            <http:operation location="restoreDefaults" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="removeSyslogPattern">
            <http:operation location="removeSyslogPattern" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getLoggerData">
            <http:operation location="getLoggerData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="isStratosService">
            <http:operation location="isStratosService" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getSystemLog">
            <http:operation location="getSystemLog" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="LoggingAdmin">
        <wsdl:port name="LoggingAdminHttpsSoap11Endpoint" binding="tns:LoggingAdminSoap11Binding">
            <soap:address location="https://192.168.1.6:9443/services/LoggingAdmin.LoggingAdminHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="LoggingAdminHttpsSoap12Endpoint" binding="tns:LoggingAdminSoap12Binding">
            <soap12:address location="https://192.168.1.6:9443/services/LoggingAdmin.LoggingAdminHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="LoggingAdminHttpsEndpoint" binding="tns:LoggingAdminHttpBinding">

            <http:address location="https://192.168.1.6:9443/services/LoggingAdmin.LoggingAdminHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
