service-stubs/logging/org.wso2.carbon.logging.view.stub/src/main/resources/logViewer.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2211="http://data.service.logging.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.logging.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2209="http://service.logging.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.logging.carbon.wso2.org">
    <wsdl:documentation>LogViewer</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.logging.carbon.wso2.org/xsd">
            <xs:complexType name="LogViewerException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2210="http://service.logging.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2212="http://data.service.logging.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://service.logging.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://data.service.logging.carbon.wso2.org/xsd"/>
            <xs:element name="isValidTenantDomain">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isValidTenantDomainResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isValidTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isValidTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isManager">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="isManagerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isLogEventReciverConfigured">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="isLogEventReciverConfiguredResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isFileAppenderConfiguredForST">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="isFileAppenderConfiguredForSTResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LogViewerLogViewerException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="LogViewerException" nillable="true" type="ax2210:LogViewerException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceNames">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LogViewerException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="LogViewerException" nillable="true" type="ns1:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getPaginatedLogInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedLogInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2211:PaginatedLogInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedLogEvents">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serverKey" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedLogEventsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2211:PaginatedLogEvent"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedApplicationLogEvents">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serverKey" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedApplicationLogEventsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2211:PaginatedLogEvent"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNoOfLogEvents">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serverKey" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNoOfLogEventsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLogs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serverKey" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLogsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2211:LogEvent"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLogLinesFromFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="logFile" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="maxLogs" type="xs:int"/>
                        <xs:element minOccurs="0" name="start" type="xs:int"/>
                        <xs:element minOccurs="0" name="end" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLogLinesFromFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLocalLogFiles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serverKey" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLocalLogFilesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2211:PaginatedLogInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLineNumbers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="logFile" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLineNumbersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serverKey" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationLogs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serverKey" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationLogsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2211:LogEvent"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSystemLogs">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSystemLogsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2211:LogEvent"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="downloadArchivedLogFiles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="logFile" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serverKey" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="downloadArchivedLogFilesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="clearLogs">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="clearLogsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.service.logging.carbon.wso2.org/xsd">
            <xs:complexType name="PaginatedLogInfo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="logInfo" nillable="true" type="ax2211:LogInfo"/>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LogInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fileSize" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="logDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="logName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaginatedLogEvent">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="logInfo" nillable="true" type="ax2211:LogEvent"/>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LogEvent">
                <xs:sequence>
                    <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="instance" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="logTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="logger" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="priority" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serverName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stacktrace" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="downloadArchivedLogFilesRequest">
        <wsdl:part name="parameters" element="ns1:downloadArchivedLogFiles"/>
    </wsdl:message>
    <wsdl:message name="downloadArchivedLogFilesResponse">
        <wsdl:part name="parameters" element="ns1:downloadArchivedLogFilesResponse"/>
    </wsdl:message>
    <wsdl:message name="LogViewerException">
        <wsdl:part name="parameters" element="ns1:LogViewerException"/>
    </wsdl:message>
    <wsdl:message name="isFileAppenderConfiguredForSTRequest">
        <wsdl:part name="parameters" element="ns1:isFileAppenderConfiguredForST"/>
    </wsdl:message>
    <wsdl:message name="isFileAppenderConfiguredForSTResponse">
        <wsdl:part name="parameters" element="ns1:isFileAppenderConfiguredForSTResponse"/>
    </wsdl:message>
    <wsdl:message name="getApplicationLogsRequest">
        <wsdl:part name="parameters" element="ns1:getApplicationLogs"/>
    </wsdl:message>
    <wsdl:message name="getApplicationLogsResponse">
        <wsdl:part name="parameters" element="ns1:getApplicationLogsResponse"/>
    </wsdl:message>
    <wsdl:message name="clearLogsRequest">
        <wsdl:part name="parameters" element="ns1:clearLogs"/>
    </wsdl:message>
    <wsdl:message name="clearLogsResponse">
        <wsdl:part name="parameters" element="ns1:clearLogsResponse"/>
    </wsdl:message>
    <wsdl:message name="isValidTenantRequest">
        <wsdl:part name="parameters" element="ns1:isValidTenant"/>
    </wsdl:message>
    <wsdl:message name="isValidTenantResponse">
        <wsdl:part name="parameters" element="ns1:isValidTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="isManagerRequest">
        <wsdl:part name="parameters" element="ns1:isManager"/>
    </wsdl:message>
    <wsdl:message name="isManagerResponse">
        <wsdl:part name="parameters" element="ns1:isManagerResponse"/>
    </wsdl:message>
    <wsdl:message name="getLogLinesFromFileRequest">
        <wsdl:part name="parameters" element="ns1:getLogLinesFromFile"/>
    </wsdl:message>
    <wsdl:message name="getLogLinesFromFileResponse">
        <wsdl:part name="parameters" element="ns1:getLogLinesFromFileResponse"/>
    </wsdl:message>
    <wsdl:message name="LogViewerLogViewerException">
        <wsdl:part name="parameters" element="ns1:LogViewerLogViewerException"/>
    </wsdl:message>
    <wsdl:message name="getLineNumbersRequest">
        <wsdl:part name="parameters" element="ns1:getLineNumbers"/>
    </wsdl:message>
    <wsdl:message name="getLineNumbersResponse">
        <wsdl:part name="parameters" element="ns1:getLineNumbersResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceNamesRequest">
        <wsdl:part name="parameters" element="ns1:getServiceNames"/>
    </wsdl:message>
    <wsdl:message name="getServiceNamesResponse">
        <wsdl:part name="parameters" element="ns1:getServiceNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="getLocalLogFilesRequest">
        <wsdl:part name="parameters" element="ns1:getLocalLogFiles"/>
    </wsdl:message>
    <wsdl:message name="getLocalLogFilesResponse">
        <wsdl:part name="parameters" element="ns1:getLocalLogFilesResponse"/>
    </wsdl:message>
    <wsdl:message name="getLogsRequest">
        <wsdl:part name="parameters" element="ns1:getLogs"/>
    </wsdl:message>
    <wsdl:message name="getLogsResponse">
        <wsdl:part name="parameters" element="ns1:getLogsResponse"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedLogInfoRequest">
        <wsdl:part name="parameters" element="ns1:getPaginatedLogInfo"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedLogInfoResponse">
        <wsdl:part name="parameters" element="ns1:getPaginatedLogInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedApplicationLogEventsRequest">
        <wsdl:part name="parameters" element="ns1:getPaginatedApplicationLogEvents"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedApplicationLogEventsResponse">
        <wsdl:part name="parameters" element="ns1:getPaginatedApplicationLogEventsResponse"/>
    </wsdl:message>
    <wsdl:message name="getApplicationNamesRequest">
        <wsdl:part name="parameters" element="ns1:getApplicationNames"/>
    </wsdl:message>
    <wsdl:message name="getApplicationNamesResponse">
        <wsdl:part name="parameters" element="ns1:getApplicationNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllSystemLogsRequest">
        <wsdl:part name="parameters" element="ns1:getAllSystemLogs"/>
    </wsdl:message>
    <wsdl:message name="getAllSystemLogsResponse">
        <wsdl:part name="parameters" element="ns1:getAllSystemLogsResponse"/>
    </wsdl:message>
    <wsdl:message name="getNoOfLogEventsRequest">
        <wsdl:part name="parameters" element="ns1:getNoOfLogEvents"/>
    </wsdl:message>
    <wsdl:message name="getNoOfLogEventsResponse">
        <wsdl:part name="parameters" element="ns1:getNoOfLogEventsResponse"/>
    </wsdl:message>
    <wsdl:message name="isValidTenantDomainRequest">
        <wsdl:part name="parameters" element="ns1:isValidTenantDomain"/>
    </wsdl:message>
    <wsdl:message name="isValidTenantDomainResponse">
        <wsdl:part name="parameters" element="ns1:isValidTenantDomainResponse"/>
    </wsdl:message>
    <wsdl:message name="isLogEventReciverConfiguredRequest">
        <wsdl:part name="parameters" element="ns1:isLogEventReciverConfigured"/>
    </wsdl:message>
    <wsdl:message name="isLogEventReciverConfiguredResponse">
        <wsdl:part name="parameters" element="ns1:isLogEventReciverConfiguredResponse"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedLogEventsRequest">
        <wsdl:part name="parameters" element="ns1:getPaginatedLogEvents"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedLogEventsResponse">
        <wsdl:part name="parameters" element="ns1:getPaginatedLogEventsResponse"/>
    </wsdl:message>
    <wsdl:portType name="LogViewerPortType">
        <wsdl:operation name="downloadArchivedLogFiles">
            <wsdl:input message="tns:downloadArchivedLogFilesRequest" wsaw:Action="urn:downloadArchivedLogFiles"/>
            <wsdl:output message="tns:downloadArchivedLogFilesResponse" wsaw:Action="urn:downloadArchivedLogFilesResponse"/>
            <wsdl:fault message="tns:LogViewerException" name="LogViewerException" wsaw:Action="urn:downloadArchivedLogFilesLogViewerException"/>
        </wsdl:operation>
        <wsdl:operation name="isFileAppenderConfiguredForST">
            <wsdl:input message="tns:isFileAppenderConfiguredForSTRequest" wsaw:Action="urn:isFileAppenderConfiguredForST"/>
            <wsdl:output message="tns:isFileAppenderConfiguredForSTResponse" wsaw:Action="urn:isFileAppenderConfiguredForSTResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getApplicationLogs">
            <wsdl:input message="tns:getApplicationLogsRequest" wsaw:Action="urn:getApplicationLogs"/>
            <wsdl:output message="tns:getApplicationLogsResponse" wsaw:Action="urn:getApplicationLogsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="clearLogs">
            <wsdl:input message="tns:clearLogsRequest" wsaw:Action="urn:clearLogs"/>
            <wsdl:output message="tns:clearLogsResponse" wsaw:Action="urn:clearLogsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="isValidTenant">
            <wsdl:input message="tns:isValidTenantRequest" wsaw:Action="urn:isValidTenant"/>
            <wsdl:output message="tns:isValidTenantResponse" wsaw:Action="urn:isValidTenantResponse"/>
        </wsdl:operation>
        <wsdl:operation name="isManager">
            <wsdl:input message="tns:isManagerRequest" wsaw:Action="urn:isManager"/>
            <wsdl:output message="tns:isManagerResponse" wsaw:Action="urn:isManagerResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getLogLinesFromFile">
            <wsdl:input message="tns:getLogLinesFromFileRequest" wsaw:Action="urn:getLogLinesFromFile"/>
            <wsdl:output message="tns:getLogLinesFromFileResponse" wsaw:Action="urn:getLogLinesFromFileResponse"/>
            <wsdl:fault message="tns:LogViewerLogViewerException" name="LogViewerLogViewerException" wsaw:Action="urn:getLogLinesFromFileLogViewerLogViewerException"/>
        </wsdl:operation>
        <wsdl:operation name="getLineNumbers">
            <wsdl:input message="tns:getLineNumbersRequest" wsaw:Action="urn:getLineNumbers"/>
            <wsdl:output message="tns:getLineNumbersResponse" wsaw:Action="urn:getLineNumbersResponse"/>
            <wsdl:fault message="tns:LogViewerException" name="LogViewerException" wsaw:Action="urn:getLineNumbersLogViewerException"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceNames">
            <wsdl:input message="tns:getServiceNamesRequest" wsaw:Action="urn:getServiceNames"/>
            <wsdl:output message="tns:getServiceNamesResponse" wsaw:Action="urn:getServiceNamesResponse"/>
            <wsdl:fault message="tns:LogViewerLogViewerException" name="LogViewerLogViewerException" wsaw:Action="urn:getServiceNamesLogViewerLogViewerException"/>
        </wsdl:operation>
        <wsdl:operation name="getLocalLogFiles">
            <wsdl:input message="tns:getLocalLogFilesRequest" wsaw:Action="urn:getLocalLogFiles"/>
            <wsdl:output message="tns:getLocalLogFilesResponse" wsaw:Action="urn:getLocalLogFilesResponse"/>
            <wsdl:fault message="tns:LogViewerLogViewerException" name="LogViewerLogViewerException" wsaw:Action="urn:getLocalLogFilesLogViewerLogViewerException"/>
        </wsdl:operation>
        <wsdl:operation name="getLogs">
            <wsdl:input message="tns:getLogsRequest" wsaw:Action="urn:getLogs"/>
            <wsdl:output message="tns:getLogsResponse" wsaw:Action="urn:getLogsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogInfo">
            <wsdl:input message="tns:getPaginatedLogInfoRequest" wsaw:Action="urn:getPaginatedLogInfo"/>
            <wsdl:output message="tns:getPaginatedLogInfoResponse" wsaw:Action="urn:getPaginatedLogInfoResponse"/>
            <wsdl:fault message="tns:LogViewerException" name="LogViewerException" wsaw:Action="urn:getPaginatedLogInfoLogViewerException"/>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedApplicationLogEvents">
            <wsdl:input message="tns:getPaginatedApplicationLogEventsRequest" wsaw:Action="urn:getPaginatedApplicationLogEvents"/>
            <wsdl:output message="tns:getPaginatedApplicationLogEventsResponse" wsaw:Action="urn:getPaginatedApplicationLogEventsResponse"/>
            <wsdl:fault message="tns:LogViewerException" name="LogViewerException" wsaw:Action="urn:getPaginatedApplicationLogEventsLogViewerException"/>
        </wsdl:operation>
        <wsdl:operation name="getApplicationNames">
            <wsdl:input message="tns:getApplicationNamesRequest" wsaw:Action="urn:getApplicationNames"/>
            <wsdl:output message="tns:getApplicationNamesResponse" wsaw:Action="urn:getApplicationNamesResponse"/>
            <wsdl:fault message="tns:LogViewerLogViewerException" name="LogViewerLogViewerException" wsaw:Action="urn:getApplicationNamesLogViewerLogViewerException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllSystemLogs">
            <wsdl:input message="tns:getAllSystemLogsRequest" wsaw:Action="urn:getAllSystemLogs"/>
            <wsdl:output message="tns:getAllSystemLogsResponse" wsaw:Action="urn:getAllSystemLogsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNoOfLogEvents">
            <wsdl:input message="tns:getNoOfLogEventsRequest" wsaw:Action="urn:getNoOfLogEvents"/>
            <wsdl:output message="tns:getNoOfLogEventsResponse" wsaw:Action="urn:getNoOfLogEventsResponse"/>
            <wsdl:fault message="tns:LogViewerLogViewerException" name="LogViewerLogViewerException" wsaw:Action="urn:getNoOfLogEventsLogViewerLogViewerException"/>
        </wsdl:operation>
        <wsdl:operation name="isValidTenantDomain">
            <wsdl:input message="tns:isValidTenantDomainRequest" wsaw:Action="urn:isValidTenantDomain"/>
            <wsdl:output message="tns:isValidTenantDomainResponse" wsaw:Action="urn:isValidTenantDomainResponse"/>
        </wsdl:operation>
        <wsdl:operation name="isLogEventReciverConfigured">
            <wsdl:input message="tns:isLogEventReciverConfiguredRequest" wsaw:Action="urn:isLogEventReciverConfigured"/>
            <wsdl:output message="tns:isLogEventReciverConfiguredResponse" wsaw:Action="urn:isLogEventReciverConfiguredResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogEvents">
            <wsdl:input message="tns:getPaginatedLogEventsRequest" wsaw:Action="urn:getPaginatedLogEvents"/>
            <wsdl:output message="tns:getPaginatedLogEventsResponse" wsaw:Action="urn:getPaginatedLogEventsResponse"/>
            <wsdl:fault message="tns:LogViewerLogViewerException" name="LogViewerLogViewerException" wsaw:Action="urn:getPaginatedLogEventsLogViewerLogViewerException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LogViewerSoap11Binding" type="tns:LogViewerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="isFileAppenderConfiguredForST">
            <soap:operation soapAction="urn:isFileAppenderConfiguredForST" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="downloadArchivedLogFiles">
            <soap:operation soapAction="urn:downloadArchivedLogFiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap:fault use="literal" name="LogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isValidTenant">
            <soap:operation soapAction="urn:isValidTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clearLogs">
            <soap:operation soapAction="urn:clearLogs" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isManager">
            <soap:operation soapAction="urn:isManager" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationLogs">
            <soap:operation soapAction="urn:getApplicationLogs" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLineNumbers">
            <soap:operation soapAction="urn:getLineNumbers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap:fault use="literal" name="LogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLogLinesFromFile">
            <soap:operation soapAction="urn:getLogLinesFromFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerLogViewerException">
                <soap:fault use="literal" name="LogViewerLogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceNames">
            <soap:operation soapAction="urn:getServiceNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerLogViewerException">
                <soap:fault use="literal" name="LogViewerLogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLogs">
            <soap:operation soapAction="urn:getLogs" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLocalLogFiles">
            <soap:operation soapAction="urn:getLocalLogFiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerLogViewerException">
                <soap:fault use="literal" name="LogViewerLogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedApplicationLogEvents">
            <soap:operation soapAction="urn:getPaginatedApplicationLogEvents" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap:fault use="literal" name="LogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogInfo">
            <soap:operation soapAction="urn:getPaginatedLogInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap:fault use="literal" name="LogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplicationNames">
            <soap:operation soapAction="urn:getApplicationNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerLogViewerException">
                <soap:fault use="literal" name="LogViewerLogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllSystemLogs">
            <soap:operation soapAction="urn:getAllSystemLogs" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isValidTenantDomain">
            <soap:operation soapAction="urn:isValidTenantDomain" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNoOfLogEvents">
            <soap:operation soapAction="urn:getNoOfLogEvents" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerLogViewerException">
                <soap:fault use="literal" name="LogViewerLogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isLogEventReciverConfigured">
            <soap:operation soapAction="urn:isLogEventReciverConfigured" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogEvents">
            <soap:operation soapAction="urn:getPaginatedLogEvents" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerLogViewerException">
                <soap:fault use="literal" name="LogViewerLogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LogViewerSoap12Binding" type="tns:LogViewerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="isFileAppenderConfiguredForST">
            <soap12:operation soapAction="urn:isFileAppenderConfiguredForST" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="downloadArchivedLogFiles">
            <soap12:operation soapAction="urn:downloadArchivedLogFiles" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap12:fault use="literal" name="LogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isValidTenant">
            <soap12:operation soapAction="urn:isValidTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clearLogs">
            <soap12:operation soapAction="urn:clearLogs" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isManager">
            <soap12:operation soapAction="urn:isManager" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationLogs">
            <soap12:operation soapAction="urn:getApplicationLogs" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLineNumbers">
            <soap12:operation soapAction="urn:getLineNumbers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap12:fault use="literal" name="LogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLogLinesFromFile">
            <soap12:operation soapAction="urn:getLogLinesFromFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerLogViewerException">
                <soap12:fault use="literal" name="LogViewerLogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceNames">
            <soap12:operation soapAction="urn:getServiceNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerLogViewerException">
                <soap12:fault use="literal" name="LogViewerLogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLogs">
            <soap12:operation soapAction="urn:getLogs" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLocalLogFiles">
            <soap12:operation soapAction="urn:getLocalLogFiles" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerLogViewerException">
                <soap12:fault use="literal" name="LogViewerLogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedApplicationLogEvents">
            <soap12:operation soapAction="urn:getPaginatedApplicationLogEvents" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap12:fault use="literal" name="LogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogInfo">
            <soap12:operation soapAction="urn:getPaginatedLogInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerException">
                <soap12:fault use="literal" name="LogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplicationNames">
            <soap12:operation soapAction="urn:getApplicationNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerLogViewerException">
                <soap12:fault use="literal" name="LogViewerLogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllSystemLogs">
            <soap12:operation soapAction="urn:getAllSystemLogs" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isValidTenantDomain">
            <soap12:operation soapAction="urn:isValidTenantDomain" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNoOfLogEvents">
            <soap12:operation soapAction="urn:getNoOfLogEvents" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerLogViewerException">
                <soap12:fault use="literal" name="LogViewerLogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isLogEventReciverConfigured">
            <soap12:operation soapAction="urn:isLogEventReciverConfigured" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogEvents">
            <soap12:operation soapAction="urn:getPaginatedLogEvents" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LogViewerLogViewerException">
                <soap12:fault use="literal" name="LogViewerLogViewerException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LogViewerHttpBinding" type="tns:LogViewerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="isFileAppenderConfiguredForST">
            <http:operation location="isFileAppenderConfiguredForST"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="downloadArchivedLogFiles">
            <http:operation location="downloadArchivedLogFiles"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isValidTenant">
            <http:operation location="isValidTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clearLogs">
            <http:operation location="clearLogs"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isManager">
            <http:operation location="isManager"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationLogs">
            <http:operation location="getApplicationLogs"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLineNumbers">
            <http:operation location="getLineNumbers"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLogLinesFromFile">
            <http:operation location="getLogLinesFromFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceNames">
            <http:operation location="getServiceNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLogs">
            <http:operation location="getLogs"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLocalLogFiles">
            <http:operation location="getLocalLogFiles"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedApplicationLogEvents">
            <http:operation location="getPaginatedApplicationLogEvents"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogInfo">
            <http:operation location="getPaginatedLogInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationNames">
            <http:operation location="getApplicationNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllSystemLogs">
            <http:operation location="getAllSystemLogs"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isValidTenantDomain">
            <http:operation location="isValidTenantDomain"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNoOfLogEvents">
            <http:operation location="getNoOfLogEvents"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isLogEventReciverConfigured">
            <http:operation location="isLogEventReciverConfigured"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedLogEvents">
            <http:operation location="getPaginatedLogEvents"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LogViewer">
        <wsdl:port name="LogViewerHttpsSoap11Endpoint" binding="tns:LogViewerSoap11Binding">
            <soap:address location="https://10.100.3.69:9450/services/LogViewer.LogViewerHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LogViewerHttpsSoap12Endpoint" binding="tns:LogViewerSoap12Binding">
            <soap12:address location="https://10.100.3.69:9450/services/LogViewer.LogViewerHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LogViewerHttpsEndpoint" binding="tns:LogViewerHttpBinding">
            <http:address location="https://10.100.3.69:9450/services/LogViewer.LogViewerHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>