service-stubs/org.wso2.carbon.identity.authenticator.saml2.sso.stub/src/main/resources/SAML2SSOAuthenticationService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:ns="http://sso.saml2.authenticator.identity.carbon.wso2.org"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ax2100="http://dto.sso.saml2.authenticator.identity.carbon.wso2.org/xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://sso.saml2.authenticator.identity.carbon.wso2.org">
    <wsdl:documentation>SAML2SSOAuthenticationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2101="http://dto.sso.saml2.authenticator.identity.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://sso.saml2.authenticator.identity.carbon.wso2.org">
            <xs:import namespace="http://dto.sso.saml2.authenticator.identity.carbon.wso2.org/xsd"/>
            <xs:element name="login">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="authDto" nillable="true"
                                    type="ax2100:AuthnReqDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://dto.sso.saml2.authenticator.identity.carbon.wso2.org/xsd">
            <xs:complexType name="AuthnReqDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="response" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="logoutRequest"/>
    <wsdl:message name="loginRequest">
        <wsdl:part name="parameters" element="ns:login"/>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part name="parameters" element="ns:loginResponse"/>
    </wsdl:message>
    <wsdl:portType name="SAML2SSOAuthenticationServicePortType">
        <wsdl:operation name="logout">
            <wsdl:input message="ns:logoutRequest" wsaw:Action="urn:logout"/>
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdl:input message="ns:loginRequest" wsaw:Action="urn:login"/>
            <wsdl:output message="ns:loginResponse" wsaw:Action="urn:loginResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SAML2SSOAuthenticationServiceSoap11Binding"
                  type="ns:SAML2SSOAuthenticationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="logout">
            <soap:operation soapAction="urn:logout" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap:operation soapAction="urn:login" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SAML2SSOAuthenticationServiceSoap12Binding"
                  type="ns:SAML2SSOAuthenticationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="logout">
            <soap12:operation soapAction="urn:logout" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap12:operation soapAction="urn:login" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SAML2SSOAuthenticationServiceHttpBinding"
                  type="ns:SAML2SSOAuthenticationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="logout">
            <http:operation location="logout"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="login">
            <http:operation location="login"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SAML2SSOAuthenticationService">
        <wsdl:port name="SAML2SSOAuthenticationServiceHttpsSoap11Endpoint"
                   binding="ns:SAML2SSOAuthenticationServiceSoap11Binding">
            <soap:address
                    location="https://localhost:8443/services/SAML2SSOAuthenticationService.SAML2SSOAuthenticationServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SAML2SSOAuthenticationServiceHttpsSoap12Endpoint"
                   binding="ns:SAML2SSOAuthenticationServiceSoap12Binding">
            <soap12:address
                    location="https://localhost:8443/services/SAML2SSOAuthenticationService.SAML2SSOAuthenticationServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SAML2SSOAuthenticationServiceHttpsEndpoint"
                   binding="ns:SAML2SSOAuthenticationServiceHttpBinding">
            <http:address
                    location="https://localhost:8443/services/SAML2SSOAuthenticationService.SAML2SSOAuthenticationServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>