components/application-mgt/org.wso2.carbon.application.mgt.webapp.ui/src/main/resources/WarApplicationAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
        xmlns:ns1="http://org.apache.axis2/xsd"
        xmlns:ns="http://webapp.mgt.application.carbon.wso2.org"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:ax2227="http://webapp.mgt.application.carbon.wso2.org/xsd"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        targetNamespace="http://webapp.mgt.application.carbon.wso2.org">
    <wsdl:documentation>WarApplicationAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2228="http://webapp.mgt.application.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webapp.mgt.application.carbon.wso2.org">
            <xs:import namespace="http://webapp.mgt.application.carbon.wso2.org/xsd"/>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getWarAppData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWarAppDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2228:WarCappMetadata"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webapp.mgt.application.carbon.wso2.org/xsd">
            <xs:complexType name="WarCappMetadata">
                <xs:sequence>
                    <xs:element minOccurs="0" name="context" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="httpPort" type="xs:int"/>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="webappFileName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getWarAppDataRequest">
        <wsdl:part name="parameters" element="ns:getWarAppData"/>
    </wsdl:message>
    <wsdl:message name="getWarAppDataResponse">
        <wsdl:part name="parameters" element="ns:getWarAppDataResponse"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception"/>
    </wsdl:message>
    <wsdl:portType name="WarApplicationAdminPortType">
        <wsdl:operation name="getWarAppData">
            <wsdl:input message="ns:getWarAppDataRequest" wsaw:Action="urn:getWarAppData"/>
            <wsdl:output message="ns:getWarAppDataResponse" wsaw:Action="urn:getWarAppDataResponse"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:getWarAppDataException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WarApplicationAdminSoap11Binding" type="ns:WarApplicationAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getWarAppData">
            <soap:operation soapAction="urn:getWarAppData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WarApplicationAdminSoap12Binding" type="ns:WarApplicationAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getWarAppData">
            <soap12:operation soapAction="urn:getWarAppData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WarApplicationAdminHttpBinding" type="ns:WarApplicationAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getWarAppData">
            <http:operation location="getWarAppData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WarApplicationAdmin">
        <wsdl:port name="WarApplicationAdminHttpsSoap11Endpoint" binding="ns:WarApplicationAdminSoap11Binding">
            <soap:address location="https://127.0.0.1:9443/services/WarApplicationAdmin.WarApplicationAdminHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WarApplicationAdminHttpsSoap12Endpoint" binding="ns:WarApplicationAdminSoap12Binding">
            <soap12:address location="https://127.0.0.1:9443/services/WarApplicationAdmin.WarApplicationAdminHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WarApplicationAdminHttpsEndpoint" binding="ns:WarApplicationAdminHttpBinding">
            <http:address location="https://127.0.0.1:9443/services/WarApplicationAdmin.WarApplicationAdminHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>