service-stubs/url-mapper/reporting/org.wso2.carbon.reporting.stub/src/main/resources/ReportingResourcesSupplier.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.core.reporting.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2305="http://core.reporting.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2303="http://engine.jasperreports.sf.net/xsd" xmlns:ax2301="http://api.reporting.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.core.reporting.carbon.wso2.org">
    <wsdl:documentation>ReportingResourcesSupplier</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://engine.jasperreports.sf.net/xsd">
            <xs:complexType name="JRException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2306="http://core.reporting.carbon.wso2.org/xsd" xmlns:ax2304="http://engine.jasperreports.sf.net/xsd" xmlns:ax2302="http://api.reporting.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.core.reporting.carbon.wso2.org">
            <xs:import namespace="http://api.reporting.carbon.wso2.org/xsd" />
            <xs:import namespace="http://engine.jasperreports.sf.net/xsd" />
            <xs:import namespace="http://core.reporting.carbon.wso2.org/xsd" />
            <xs:element name="ReportingResourcesSupplierReportingException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ReportingException" nillable="true" type="ax2302:ReportingException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReportingResourcesSupplierJRException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="JRException" nillable="true" type="ax2304:JRException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateReport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="fileContent" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateReportResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReportResources">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="componentName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="reportTemplate" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReportResourcesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReportingResourcesSupplierXMLStreamException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="XMLStreamException" nillable="true" type="xs:anyType" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReportParam">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="reportName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReportParamResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2306:ReportParameters" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getJRXMLFileContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="componentName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="reportTemplate" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getJRXMLFileContentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllReports">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllReportsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteReportTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.reporting.carbon.wso2.org/xsd">
            <xs:complexType name="ReportingException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.reporting.carbon.wso2.org/xsd">
            <xs:complexType name="ReportParameters">
                <xs:sequence>
                    <xs:element minOccurs="0" name="paramName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="paramValue" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteReportTemplateRequest">
        <wsdl:part name="parameters" element="ns:deleteReportTemplate" />
    </wsdl:message>
    <wsdl:message name="ReportingResourcesSupplierReportingException">
        <wsdl:part name="parameters" element="ns:ReportingResourcesSupplierReportingException" />
    </wsdl:message>
    <wsdl:message name="getJRXMLFileContentRequest">
        <wsdl:part name="parameters" element="ns:getJRXMLFileContent" />
    </wsdl:message>
    <wsdl:message name="getJRXMLFileContentResponse">
        <wsdl:part name="parameters" element="ns:getJRXMLFileContentResponse" />
    </wsdl:message>
    <wsdl:message name="getReportResourcesRequest">
        <wsdl:part name="parameters" element="ns:getReportResources" />
    </wsdl:message>
    <wsdl:message name="getReportResourcesResponse">
        <wsdl:part name="parameters" element="ns:getReportResourcesResponse" />
    </wsdl:message>
    <wsdl:message name="getAllReportsRequest">
        <wsdl:part name="parameters" element="ns:getAllReports" />
    </wsdl:message>
    <wsdl:message name="getAllReportsResponse">
        <wsdl:part name="parameters" element="ns:getAllReportsResponse" />
    </wsdl:message>
    <wsdl:message name="updateReportRequest">
        <wsdl:part name="parameters" element="ns:updateReport" />
    </wsdl:message>
    <wsdl:message name="updateReportResponse">
        <wsdl:part name="parameters" element="ns:updateReportResponse" />
    </wsdl:message>
    <wsdl:message name="ReportingResourcesSupplierJRException">
        <wsdl:part name="parameters" element="ns:ReportingResourcesSupplierJRException" />
    </wsdl:message>
    <wsdl:message name="getReportParamRequest">
        <wsdl:part name="parameters" element="ns:getReportParam" />
    </wsdl:message>
    <wsdl:message name="getReportParamResponse">
        <wsdl:part name="parameters" element="ns:getReportParamResponse" />
    </wsdl:message>
    <wsdl:message name="ReportingResourcesSupplierXMLStreamException">
        <wsdl:part name="parameters" element="ns:ReportingResourcesSupplierXMLStreamException" />
    </wsdl:message>
    <wsdl:portType name="ReportingResourcesSupplierPortType">
        <wsdl:operation name="deleteReportTemplate">
            <wsdl:input message="ns:deleteReportTemplateRequest" wsaw:Action="urn:deleteReportTemplate" />
            <wsdl:fault message="ns:ReportingResourcesSupplierReportingException" name="ReportingResourcesSupplierReportingException" wsaw:Action="urn:deleteReportTemplateReportingResourcesSupplierReportingException" />
        </wsdl:operation>
        <wsdl:operation name="getJRXMLFileContent">
            <wsdl:input message="ns:getJRXMLFileContentRequest" wsaw:Action="urn:getJRXMLFileContent" />
            <wsdl:output message="ns:getJRXMLFileContentResponse" wsaw:Action="urn:getJRXMLFileContentResponse" />
            <wsdl:fault message="ns:ReportingResourcesSupplierReportingException" name="ReportingResourcesSupplierReportingException" wsaw:Action="urn:getJRXMLFileContentReportingResourcesSupplierReportingException" />
        </wsdl:operation>
        <wsdl:operation name="getReportResources">
            <wsdl:input message="ns:getReportResourcesRequest" wsaw:Action="urn:getReportResources" />
            <wsdl:output message="ns:getReportResourcesResponse" wsaw:Action="urn:getReportResourcesResponse" />
            <wsdl:fault message="ns:ReportingResourcesSupplierReportingException" name="ReportingResourcesSupplierReportingException" wsaw:Action="urn:getReportResourcesReportingResourcesSupplierReportingException" />
        </wsdl:operation>
        <wsdl:operation name="getAllReports">
            <wsdl:input message="ns:getAllReportsRequest" wsaw:Action="urn:getAllReports" />
            <wsdl:output message="ns:getAllReportsResponse" wsaw:Action="urn:getAllReportsResponse" />
            <wsdl:fault message="ns:ReportingResourcesSupplierReportingException" name="ReportingResourcesSupplierReportingException" wsaw:Action="urn:getAllReportsReportingResourcesSupplierReportingException" />
        </wsdl:operation>
        <wsdl:operation name="updateReport">
            <wsdl:input message="ns:updateReportRequest" wsaw:Action="urn:updateReport" />
            <wsdl:output message="ns:updateReportResponse" wsaw:Action="urn:updateReportResponse" />
            <wsdl:fault message="ns:ReportingResourcesSupplierReportingException" name="ReportingResourcesSupplierReportingException" wsaw:Action="urn:updateReportReportingResourcesSupplierReportingException" />
            <wsdl:fault message="ns:ReportingResourcesSupplierJRException" name="ReportingResourcesSupplierJRException" wsaw:Action="urn:updateReportReportingResourcesSupplierJRException" />
        </wsdl:operation>
        <wsdl:operation name="getReportParam">
            <wsdl:input message="ns:getReportParamRequest" wsaw:Action="urn:getReportParam" />
            <wsdl:output message="ns:getReportParamResponse" wsaw:Action="urn:getReportParamResponse" />
            <wsdl:fault message="ns:ReportingResourcesSupplierReportingException" name="ReportingResourcesSupplierReportingException" wsaw:Action="urn:getReportParamReportingResourcesSupplierReportingException" />
            <wsdl:fault message="ns:ReportingResourcesSupplierXMLStreamException" name="ReportingResourcesSupplierXMLStreamException" wsaw:Action="urn:getReportParamReportingResourcesSupplierXMLStreamException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReportingResourcesSupplierSoap11Binding" type="ns:ReportingResourcesSupplierPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deleteReportTemplate">
            <soap:operation soapAction="urn:deleteReportTemplate" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportingResourcesSupplierReportingException">
                <soap:fault use="literal" name="ReportingResourcesSupplierReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getJRXMLFileContent">
            <soap:operation soapAction="urn:getJRXMLFileContent" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportingResourcesSupplierReportingException">
                <soap:fault use="literal" name="ReportingResourcesSupplierReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getReportResources">
            <soap:operation soapAction="urn:getReportResources" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportingResourcesSupplierReportingException">
                <soap:fault use="literal" name="ReportingResourcesSupplierReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllReports">
            <soap:operation soapAction="urn:getAllReports" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportingResourcesSupplierReportingException">
                <soap:fault use="literal" name="ReportingResourcesSupplierReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateReport">
            <soap:operation soapAction="urn:updateReport" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportingResourcesSupplierReportingException">
                <soap:fault use="literal" name="ReportingResourcesSupplierReportingException" />
            </wsdl:fault>
            <wsdl:fault name="ReportingResourcesSupplierJRException">
                <soap:fault use="literal" name="ReportingResourcesSupplierJRException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getReportParam">
            <soap:operation soapAction="urn:getReportParam" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportingResourcesSupplierReportingException">
                <soap:fault use="literal" name="ReportingResourcesSupplierReportingException" />
            </wsdl:fault>
            <wsdl:fault name="ReportingResourcesSupplierXMLStreamException">
                <soap:fault use="literal" name="ReportingResourcesSupplierXMLStreamException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReportingResourcesSupplierSoap12Binding" type="ns:ReportingResourcesSupplierPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deleteReportTemplate">
            <soap12:operation soapAction="urn:deleteReportTemplate" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportingResourcesSupplierReportingException">
                <soap12:fault use="literal" name="ReportingResourcesSupplierReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getJRXMLFileContent">
            <soap12:operation soapAction="urn:getJRXMLFileContent" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportingResourcesSupplierReportingException">
                <soap12:fault use="literal" name="ReportingResourcesSupplierReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getReportResources">
            <soap12:operation soapAction="urn:getReportResources" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportingResourcesSupplierReportingException">
                <soap12:fault use="literal" name="ReportingResourcesSupplierReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllReports">
            <soap12:operation soapAction="urn:getAllReports" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportingResourcesSupplierReportingException">
                <soap12:fault use="literal" name="ReportingResourcesSupplierReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateReport">
            <soap12:operation soapAction="urn:updateReport" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportingResourcesSupplierReportingException">
                <soap12:fault use="literal" name="ReportingResourcesSupplierReportingException" />
            </wsdl:fault>
            <wsdl:fault name="ReportingResourcesSupplierJRException">
                <soap12:fault use="literal" name="ReportingResourcesSupplierJRException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getReportParam">
            <soap12:operation soapAction="urn:getReportParam" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportingResourcesSupplierReportingException">
                <soap12:fault use="literal" name="ReportingResourcesSupplierReportingException" />
            </wsdl:fault>
            <wsdl:fault name="ReportingResourcesSupplierXMLStreamException">
                <soap12:fault use="literal" name="ReportingResourcesSupplierXMLStreamException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReportingResourcesSupplierHttpBinding" type="ns:ReportingResourcesSupplierPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="deleteReportTemplate">
            <http:operation location="deleteReportTemplate" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getJRXMLFileContent">
            <http:operation location="getJRXMLFileContent" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getReportResources">
            <http:operation location="getReportResources" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllReports">
            <http:operation location="getAllReports" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateReport">
            <http:operation location="updateReport" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getReportParam">
            <http:operation location="getReportParam" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReportingResourcesSupplier">
        <wsdl:port name="ReportingResourcesSupplierHttpsSoap11Endpoint" binding="ns:ReportingResourcesSupplierSoap11Binding">
            <soap:address location="https://10.200.3.102:9443/services/ReportingResourcesSupplier.ReportingResourcesSupplierHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ReportingResourcesSupplierHttpsSoap12Endpoint" binding="ns:ReportingResourcesSupplierSoap12Binding">
            <soap12:address location="https://10.200.3.102:9443/services/ReportingResourcesSupplier.ReportingResourcesSupplierHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ReportingResourcesSupplierHttpsEndpoint" binding="ns:ReportingResourcesSupplierHttpBinding">
            <http:address location="https://10.200.3.102:9443/services/ReportingResourcesSupplier.ReportingResourcesSupplierHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>