components/event/org.wso2.carbon.event.client/src/main/resources/eventing-extended.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://ws.apache.org/ws/2007/05/eventing-extended"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:wseex="http://ws.apache.org/ws/2007/05/eventing-extended">
     <xs:complexType name="SubscriptionDetails">
         <xs:all>
         	 <xs:element minOccurs="0" name="subscriptionId" nillable="true" type="xs:string" />
             <xs:element minOccurs="0" name="dialect" nillable="true" type="xs:string" />
             <xs:element minOccurs="0" name="isPersistant" nillable="true" type="xs:string" />
             <xs:element minOccurs="0" name="eventSinkAddress" nillable="true" type="xs:string" />
 			 <xs:element minOccurs="0" name="subscriptionEndingTime" nillable="true" type="xs:dateTime" />
             <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string" />
             <xs:element minOccurs="0" name="subscriptionEndString" nillable="true" type="xs:string" />
             <xs:element minOccurs="0" name="createdTime" nillable="true" type="xs:dateTime" />
         </xs:all>
     </xs:complexType>
     
    <xs:element name="getSubscriptions">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
			<xs:attribute name="maxResultCount" type="xs:int" use="optional"/>
            <xs:attribute name="resultFilter" type="xs:string" use="optional"/>
            <xs:attribute name="firstIndex" type="xs:int" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="getSubscriptionsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="subscriptionDetail" nillable="true" type="wseex:SubscriptionDetails" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="hasMoreResults" type="xs:boolean" use="optional"/>
            <xs:attribute name="allRequestCount" type="xs:int" use="optional"/>
        </xs:complexType>
    </xs:element>
 </xs:schema>
