service-stubs/org.wso2.carbon.identity.sso.saml.stub/src/main/resources/IdentitySAMLSSOService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://saml.sso.identity.carbon.wso2.org" xmlns:ax2307="http://dto.saml.sso.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2305="http://base.identity.carbon.wso2.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://saml.sso.identity.carbon.wso2.org">
    <wsdl:documentation>IdentitySAMLSSOService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2306="http://base.identity.carbon.wso2.org/xsd" xmlns:ax2308="http://dto.saml.sso.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.saml.sso.identity.carbon.wso2.org/xsd"/>
            <xs:element name="IdentityException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax2306:IdentityException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="samlReq" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="rpSessionId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="authnMode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="isPost" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateRequestResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2308:SAMLSSOReqValidationResponseDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
	    <xs:element name="isSAMLSSOLoginAccepted">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="isSAMLSSOLoginAcceptedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
	    <xs:element name="isOpenIDLoginAccepted">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="isOpenIDLoginAcceptedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSSOSessionTimeout">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSSOSessionTimeoutResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="doSingleLogout">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="doSingleLogoutResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2308:SAMLSSOReqValidationResponseDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="authReqDTO" nillable="true" type="ax2308:SAMLSSOAuthnReqDTO"/>
                        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2308:SAMLSSORespDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.saml.sso.identity.carbon.wso2.org/xsd">
            <xs:complexType name="SAMLSSOReqValidationResponseDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="assertionConsumerURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="doSingleLogout" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="issuer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="logOutReq" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="loginPageURL" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="logoutRespDTO" nillable="true" type="ax2307:SingleLogoutRequestDTO"/>
                    <xs:element minOccurs="0" name="logoutResponse" nillable="true" type="xs:string"/>
		    <xs:element minOccurs="0" name="passive" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestMessageString" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="response" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rpSessionId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="valid" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SingleLogoutRequestDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="assertionConsumerURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="logoutResponse" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rpSessionId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SAMLSSOAuthnReqDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="assertionConsumerURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributeConsumingServiceIndex" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="audience" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="certAlias" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="claim" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="doSignAssertions" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="doSignResponse" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="doSingleLogout" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="issuer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="loginPageURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="logoutURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nameIDFormat" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nameIdClaimUri" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestMessageString" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestedAudiences" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestedClaims" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rpSessionId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stratosDeployment" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="useFullyQualifiedUsernameAsSubject" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SAMLSSORespDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="assertionConsumerURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="loginPageURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="respString" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sessionEstablished" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="authenticateRequest">
        <wsdl:part name="parameters" element="ns1:authenticate"/>
    </wsdl:message>
    <wsdl:message name="authenticateResponse">
        <wsdl:part name="parameters" element="ns1:authenticateResponse"/>
    </wsdl:message>
    <wsdl:message name="IdentityException">
        <wsdl:part name="parameters" element="ns1:IdentityException"/>
    </wsdl:message>
    <wsdl:message name="isOpenIDLoginAcceptedRequest">
        <wsdl:part name="parameters" element="ns1:isOpenIDLoginAccepted"/>
    </wsdl:message>
    <wsdl:message name="isOpenIDLoginAcceptedResponse">
        <wsdl:part name="parameters" element="ns1:isOpenIDLoginAcceptedResponse"/>
    </wsdl:message>
    <wsdl:message name="getSSOSessionTimeoutRequest">
        <wsdl:part name="parameters" element="ns1:getSSOSessionTimeout"/>
    </wsdl:message>
    <wsdl:message name="getSSOSessionTimeoutResponse">
        <wsdl:part name="parameters" element="ns1:getSSOSessionTimeoutResponse"/>
    </wsdl:message>
    <wsdl:message name="validateRequestRequest">
        <wsdl:part name="parameters" element="ns1:validateRequest"/>
    </wsdl:message>
    <wsdl:message name="validateRequestResponse">
        <wsdl:part name="parameters" element="ns1:validateRequestResponse"/>
    </wsdl:message>
    <wsdl:message name="doSingleLogoutRequest">
        <wsdl:part name="parameters" element="ns1:doSingleLogout"/>
    </wsdl:message>
    <wsdl:message name="doSingleLogoutResponse">
        <wsdl:part name="parameters" element="ns1:doSingleLogoutResponse"/>
    </wsdl:message>
    <wsdl:message name="isSAMLSSOLoginAcceptedRequest">
        <wsdl:part name="parameters" element="ns1:isSAMLSSOLoginAccepted"/>
    </wsdl:message>
    <wsdl:message name="isSAMLSSOLoginAcceptedResponse">
        <wsdl:part name="parameters" element="ns1:isSAMLSSOLoginAcceptedResponse"/>
    </wsdl:message>
    <wsdl:portType name="IdentitySAMLSSOServicePortType">
        <wsdl:operation name="authenticate">
            <wsdl:input message="tns:authenticateRequest" wsaw:Action="urn:authenticate"/>
            <wsdl:output message="tns:authenticateResponse" wsaw:Action="urn:authenticateResponse"/>
            <wsdl:fault message="tns:IdentityException" name="IdentityException" wsaw:Action="urn:authenticateIdentityException"/>
        </wsdl:operation>
	<wsdl:operation name="isOpenIDLoginAccepted">
            <wsdl:input message="tns:isOpenIDLoginAcceptedRequest" wsaw:Action="urn:isOpenIDLoginAccepted"/>
            <wsdl:output message="tns:isOpenIDLoginAcceptedResponse" wsaw:Action="urn:isOpenIDLoginAcceptedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSSOSessionTimeout">
            <wsdl:input message="tns:getSSOSessionTimeoutRequest" wsaw:Action="urn:getSSOSessionTimeout"/>
            <wsdl:output message="tns:getSSOSessionTimeoutResponse" wsaw:Action="urn:getSSOSessionTimeoutResponse"/>
        </wsdl:operation>
        <wsdl:operation name="validateRequest">
            <wsdl:input message="tns:validateRequestRequest" wsaw:Action="urn:validateRequest"/>
            <wsdl:output message="tns:validateRequestResponse" wsaw:Action="urn:validateRequestResponse"/>
            <wsdl:fault message="tns:IdentityException" name="IdentityException" wsaw:Action="urn:validateRequestIdentityException"/>
        </wsdl:operation>
        <wsdl:operation name="doSingleLogout">
            <wsdl:input message="tns:doSingleLogoutRequest" wsaw:Action="urn:doSingleLogout"/>
            <wsdl:output message="tns:doSingleLogoutResponse" wsaw:Action="urn:doSingleLogoutResponse"/>
            <wsdl:fault message="tns:IdentityException" name="IdentityException" wsaw:Action="urn:doSingleLogoutIdentityException"/>
        </wsdl:operation>
	<wsdl:operation name="isSAMLSSOLoginAccepted">
            <wsdl:input message="tns:isSAMLSSOLoginAcceptedRequest" wsaw:Action="urn:isSAMLSSOLoginAccepted"/>
            <wsdl:output message="tns:isSAMLSSOLoginAcceptedResponse" wsaw:Action="urn:isSAMLSSOLoginAcceptedResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentitySAMLSSOServiceSoap11Binding" type="tns:IdentitySAMLSSOServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="authenticate">
            <soap:operation soapAction="urn:authenticate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityException">
                <soap:fault use="literal" name="IdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
	<wsdl:operation name="isOpenIDLoginAccepted">
            <soap:operation soapAction="urn:isOpenIDLoginAccepted" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSSOSessionTimeout">
            <soap:operation soapAction="urn:getSSOSessionTimeout" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateRequest">
            <soap:operation soapAction="urn:validateRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityException">
                <soap:fault use="literal" name="IdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="doSingleLogout">
            <soap:operation soapAction="urn:doSingleLogout" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityException">
                <soap:fault use="literal" name="IdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
	<wsdl:operation name="isSAMLSSOLoginAccepted">
            <soap:operation soapAction="urn:isSAMLSSOLoginAccepted" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySAMLSSOServiceSoap12Binding" type="tns:IdentitySAMLSSOServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="authenticate">
            <soap12:operation soapAction="urn:authenticate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityException">
                <soap12:fault use="literal" name="IdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
	<wsdl:operation name="isOpenIDLoginAccepted">
            <soap12:operation soapAction="urn:isOpenIDLoginAccepted" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSSOSessionTimeout">
            <soap12:operation soapAction="urn:getSSOSessionTimeout" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateRequest">
            <soap12:operation soapAction="urn:validateRequest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityException">
                <soap12:fault use="literal" name="IdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="doSingleLogout">
            <soap12:operation soapAction="urn:doSingleLogout" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityException">
                <soap12:fault use="literal" name="IdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
	<wsdl:operation name="isSAMLSSOLoginAccepted">
            <soap12:operation soapAction="urn:isSAMLSSOLoginAccepted" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySAMLSSOServiceHttpBinding" type="tns:IdentitySAMLSSOServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="authenticate">
            <http:operation location="authenticate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
	 <wsdl:operation name="isOpenIDLoginAccepted">
            <http:operation location="isOpenIDLoginAccepted"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSSOSessionTimeout">
            <http:operation location="getSSOSessionTimeout"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateRequest">
            <http:operation location="validateRequest"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="doSingleLogout">
            <http:operation location="doSingleLogout"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
	<wsdl:operation name="isSAMLSSOLoginAccepted">
            <http:operation location="isSAMLSSOLoginAccepted"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentitySAMLSSOService">
        <wsdl:port name="IdentitySAMLSSOServiceHttpsSoap11Endpoint" binding="tns:IdentitySAMLSSOServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentitySAMLSSOService.IdentitySAMLSSOServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLSSOServiceHttpSoap11Endpoint" binding="tns:IdentitySAMLSSOServiceSoap11Binding">
            <soap:address location="http://localhost:9763/services/IdentitySAMLSSOService.IdentitySAMLSSOServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLSSOServiceHttpSoap12Endpoint" binding="tns:IdentitySAMLSSOServiceSoap12Binding">
            <soap12:address location="http://localhost:9763/services/IdentitySAMLSSOService.IdentitySAMLSSOServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLSSOServiceHttpsSoap12Endpoint" binding="tns:IdentitySAMLSSOServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentitySAMLSSOService.IdentitySAMLSSOServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLSSOServiceHttpsEndpoint" binding="tns:IdentitySAMLSSOServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentitySAMLSSOService.IdentitySAMLSSOServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLSSOServiceHttpEndpoint" binding="tns:IdentitySAMLSSOServiceHttpBinding">
            <http:address location="http://localhost:9763/services/IdentitySAMLSSOService.IdentitySAMLSSOServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
