service-stubs/org.wso2.carbon.identity.sso.saml.stub/src/main/resources/IdentitySAMLSSOConfigService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://saml.sso.identity.carbon.wso2.org" xmlns:ax2331="http://dto.saml.sso.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2329="http://base.identity.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://saml.sso.identity.carbon.wso2.org">
    <wsdl:documentation>IdentitySAMLSSOConfigService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2332="http://dto.saml.sso.identity.carbon.wso2.org/xsd" xmlns:ax2330="http://base.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.saml.sso.identity.carbon.wso2.org/xsd"/>
            <xs:element name="IdentitySAMLSSOConfigServiceIdentityException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax2330:IdentityException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeServiceProvider">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="issuer" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeServiceProviderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="reloadSAML2FedaretedIdpConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="reload" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="reloadSAML2FedaretedIdpConfigResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceProviders">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceProvidersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2332:SAMLSSOServiceProviderInfoDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimURIs">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimURIsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertAliasOfPrimaryKeyStore">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertAliasOfPrimaryKeyStoreResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRPServiceProvider">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="spDto" nillable="true" type="ax2332:SAMLSSOServiceProviderDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRPServiceProviderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.saml.sso.identity.carbon.wso2.org/xsd">
            <xs:complexType name="SAMLSSOServiceProviderInfoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="pubCertFilePath" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceProviders" nillable="true" type="ax2331:SAMLSSOServiceProviderDTO"/>
                    <xs:element minOccurs="0" name="tenantZero" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SAMLSSOServiceProviderDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="assertionConsumerUrl" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributeConsumingServiceIndex" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="certAlias" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="doSignAssertions" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="doSignResponse" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="doSingleLogout" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="enableAttributesByDefault" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="issuer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="loginPageURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="logoutURL" nillable="true" type="xs:string"/>
		    <xs:element minOccurs="0" name="nameIDFormat" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nameIdClaimUri" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestedAudiences" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestedClaims" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="useFullyQualifiedUsername" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="removeServiceProviderRequest">
        <wsdl:part name="parameters" element="ns1:removeServiceProvider"/>
    </wsdl:message>
    <wsdl:message name="removeServiceProviderResponse">
        <wsdl:part name="parameters" element="ns1:removeServiceProviderResponse"/>
    </wsdl:message>
    <wsdl:message name="IdentitySAMLSSOConfigServiceIdentityException">
        <wsdl:part name="parameters" element="ns1:IdentitySAMLSSOConfigServiceIdentityException"/>
    </wsdl:message>
    <wsdl:message name="getCertAliasOfPrimaryKeyStoreRequest">
        <wsdl:part name="parameters" element="ns1:getCertAliasOfPrimaryKeyStore"/>
    </wsdl:message>
    <wsdl:message name="getCertAliasOfPrimaryKeyStoreResponse">
        <wsdl:part name="parameters" element="ns1:getCertAliasOfPrimaryKeyStoreResponse"/>
    </wsdl:message>
    <wsdl:message name="getClaimURIsRequest">
        <wsdl:part name="parameters" element="ns1:getClaimURIs"/>
    </wsdl:message>
    <wsdl:message name="getClaimURIsResponse">
        <wsdl:part name="parameters" element="ns1:getClaimURIsResponse"/>
    </wsdl:message>
    <wsdl:message name="reloadSAML2FedaretedIdpConfigRequest">
        <wsdl:part name="parameters" element="ns1:reloadSAML2FedaretedIdpConfig"/>
    </wsdl:message>
    <wsdl:message name="reloadSAML2FedaretedIdpConfigResponse">
        <wsdl:part name="parameters" element="ns1:reloadSAML2FedaretedIdpConfigResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceProvidersRequest">
        <wsdl:part name="parameters" element="ns1:getServiceProviders"/>
    </wsdl:message>
    <wsdl:message name="getServiceProvidersResponse">
        <wsdl:part name="parameters" element="ns1:getServiceProvidersResponse"/>
    </wsdl:message>
    <wsdl:message name="addRPServiceProviderRequest">
        <wsdl:part name="parameters" element="ns1:addRPServiceProvider"/>
    </wsdl:message>
    <wsdl:message name="addRPServiceProviderResponse">
        <wsdl:part name="parameters" element="ns1:addRPServiceProviderResponse"/>
    </wsdl:message>
    <wsdl:portType name="IdentitySAMLSSOConfigServicePortType">
        <wsdl:operation name="removeServiceProvider">
            <wsdl:input message="tns:removeServiceProviderRequest" wsaw:Action="urn:removeServiceProvider"/>
            <wsdl:output message="tns:removeServiceProviderResponse" wsaw:Action="urn:removeServiceProviderResponse"/>
            <wsdl:fault message="tns:IdentitySAMLSSOConfigServiceIdentityException" name="IdentitySAMLSSOConfigServiceIdentityException" wsaw:Action="urn:removeServiceProviderIdentitySAMLSSOConfigServiceIdentityException"/>
        </wsdl:operation>
        <wsdl:operation name="getCertAliasOfPrimaryKeyStore">
            <wsdl:input message="tns:getCertAliasOfPrimaryKeyStoreRequest" wsaw:Action="urn:getCertAliasOfPrimaryKeyStore"/>
            <wsdl:output message="tns:getCertAliasOfPrimaryKeyStoreResponse" wsaw:Action="urn:getCertAliasOfPrimaryKeyStoreResponse"/>
            <wsdl:fault message="tns:IdentitySAMLSSOConfigServiceIdentityException" name="IdentitySAMLSSOConfigServiceIdentityException" wsaw:Action="urn:getCertAliasOfPrimaryKeyStoreIdentitySAMLSSOConfigServiceIdentityException"/>
        </wsdl:operation>
        <wsdl:operation name="getClaimURIs">
            <wsdl:input message="tns:getClaimURIsRequest" wsaw:Action="urn:getClaimURIs"/>
            <wsdl:output message="tns:getClaimURIsResponse" wsaw:Action="urn:getClaimURIsResponse"/>
            <wsdl:fault message="tns:IdentitySAMLSSOConfigServiceIdentityException" name="IdentitySAMLSSOConfigServiceIdentityException" wsaw:Action="urn:getClaimURIsIdentitySAMLSSOConfigServiceIdentityException"/>
        </wsdl:operation>
        <wsdl:operation name="reloadSAML2FedaretedIdpConfig">
            <wsdl:input message="tns:reloadSAML2FedaretedIdpConfigRequest" wsaw:Action="urn:reloadSAML2FedaretedIdpConfig"/>
            <wsdl:output message="tns:reloadSAML2FedaretedIdpConfigResponse" wsaw:Action="urn:reloadSAML2FedaretedIdpConfigResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceProviders">
            <wsdl:input message="tns:getServiceProvidersRequest" wsaw:Action="urn:getServiceProviders"/>
            <wsdl:output message="tns:getServiceProvidersResponse" wsaw:Action="urn:getServiceProvidersResponse"/>
            <wsdl:fault message="tns:IdentitySAMLSSOConfigServiceIdentityException" name="IdentitySAMLSSOConfigServiceIdentityException" wsaw:Action="urn:getServiceProvidersIdentitySAMLSSOConfigServiceIdentityException"/>
        </wsdl:operation>
        <wsdl:operation name="addRPServiceProvider">
            <wsdl:input message="tns:addRPServiceProviderRequest" wsaw:Action="urn:addRPServiceProvider"/>
            <wsdl:output message="tns:addRPServiceProviderResponse" wsaw:Action="urn:addRPServiceProviderResponse"/>
            <wsdl:fault message="tns:IdentitySAMLSSOConfigServiceIdentityException" name="IdentitySAMLSSOConfigServiceIdentityException" wsaw:Action="urn:addRPServiceProviderIdentitySAMLSSOConfigServiceIdentityException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentitySAMLSSOConfigServiceSoap11Binding" type="tns:IdentitySAMLSSOConfigServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getCertAliasOfPrimaryKeyStore">
            <soap:operation soapAction="urn:getCertAliasOfPrimaryKeyStore" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeServiceProvider">
            <soap:operation soapAction="urn:removeServiceProvider" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClaimURIs">
            <soap:operation soapAction="urn:getClaimURIs" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="reloadSAML2FedaretedIdpConfig">
            <soap:operation soapAction="urn:reloadSAML2FedaretedIdpConfig" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceProviders">
            <soap:operation soapAction="urn:getServiceProviders" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRPServiceProvider">
            <soap:operation soapAction="urn:addRPServiceProvider" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySAMLSSOConfigServiceSoap12Binding" type="tns:IdentitySAMLSSOConfigServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getCertAliasOfPrimaryKeyStore">
            <soap12:operation soapAction="urn:getCertAliasOfPrimaryKeyStore" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeServiceProvider">
            <soap12:operation soapAction="urn:removeServiceProvider" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClaimURIs">
            <soap12:operation soapAction="urn:getClaimURIs" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="reloadSAML2FedaretedIdpConfig">
            <soap12:operation soapAction="urn:reloadSAML2FedaretedIdpConfig" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceProviders">
            <soap12:operation soapAction="urn:getServiceProviders" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRPServiceProvider">
            <soap12:operation soapAction="urn:addRPServiceProvider" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySAMLSSOConfigServiceHttpBinding" type="tns:IdentitySAMLSSOConfigServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getCertAliasOfPrimaryKeyStore">
            <http:operation location="getCertAliasOfPrimaryKeyStore"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeServiceProvider">
            <http:operation location="removeServiceProvider"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClaimURIs">
            <http:operation location="getClaimURIs"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="reloadSAML2FedaretedIdpConfig">
            <http:operation location="reloadSAML2FedaretedIdpConfig"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceProviders">
            <http:operation location="getServiceProviders"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRPServiceProvider">
            <http:operation location="addRPServiceProvider"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentitySAMLSSOConfigService">
        <wsdl:port name="IdentitySAMLSSOConfigServiceHttpsSoap11Endpoint" binding="tns:IdentitySAMLSSOConfigServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentitySAMLSSOConfigService.IdentitySAMLSSOConfigServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLSSOConfigServiceHttpsSoap12Endpoint" binding="tns:IdentitySAMLSSOConfigServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentitySAMLSSOConfigService.IdentitySAMLSSOConfigServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLSSOConfigServiceHttpsEndpoint" binding="tns:IdentitySAMLSSOConfigServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentitySAMLSSOConfigService.IdentitySAMLSSOConfigServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>