service-stubs/remote-usermgt/org.wso2.carbon.um.ws.api.stub/src/main/resources/RemoteClaimManagerService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->





<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.ws.um.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2571="http://api.user.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2570="http://core.user.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.ws.um.carbon.wso2.org">
    <wsdl:documentation>RemoteClaimManagerService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.user.carbon.wso2.org/xsd">
            <xs:complexType name="UserStoreException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="ClaimMapping">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claim" nillable="true" type="ax2571:Claim"/>
                    <xs:element minOccurs="0" name="mappedAttribute" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mappedAttributeWithNoDomain" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="mappedAttributes" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Claim">
                <xs:sequence>
                    <xs:element minOccurs="0" name="checkedAttribute" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="claimUri" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dialectURI" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayOrder" type="xs:int"/>
                    <xs:element minOccurs="0" name="displayTag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="readOnly" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="regEx" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="supportedByDefault" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2573="http://core.user.carbon.wso2.org/xsd" xmlns:ax2574="http://api.user.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.ws.um.carbon.wso2.org">
            <xs:import namespace="http://core.user.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://api.user.carbon.wso2.org/xsd"/>
            <xs:element name="RemoteClaimManagerServiceUserStoreException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UserStoreException" nillable="true" type="ax2573:UserStoreException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateClaimMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mapping" nillable="true" type="ax2571:ClaimMapping"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="claimURI" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimMappingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2571:ClaimMapping"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaim">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="claimURI" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2571:Claim"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAttributeName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="claimURI" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAttributeNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSupportClaimMappingsByDefault">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSupportClaimMappingsByDefaultResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2571:ClaimMapping"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRequiredClaimMappings">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRequiredClaimMappingsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2571:ClaimMapping"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllClaimUris">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllClaimUrisResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllClaimMappings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dialectUri" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllClaimMappingsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2571:ClaimMapping"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteClaimMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mapping" nillable="true" type="ax2571:ClaimMapping"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewClaimMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mapping" nillable="true" type="ax2571:ClaimMapping"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2572="http://api.user.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.user.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.user.carbon.wso2.org/xsd"/>
            <xs:complexType name="UserStoreException">
                <xs:complexContent>
                    <xs:extension base="ax2571:UserStoreException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getClaimMappingRequest">
        <wsdl:part name="parameters" element="ns:getClaimMapping"/>
    </wsdl:message>
    <wsdl:message name="getClaimMappingResponse">
        <wsdl:part name="parameters" element="ns:getClaimMappingResponse"/>
    </wsdl:message>
    <wsdl:message name="RemoteClaimManagerServiceUserStoreException">
        <wsdl:part name="parameters" element="ns:RemoteClaimManagerServiceUserStoreException"/>
    </wsdl:message>
    <wsdl:message name="getAttributeNameRequest">
        <wsdl:part name="parameters" element="ns:getAttributeName"/>
    </wsdl:message>
    <wsdl:message name="getAttributeNameResponse">
        <wsdl:part name="parameters" element="ns:getAttributeNameResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllSupportClaimMappingsByDefaultRequest">
        <wsdl:part name="parameters" element="ns:getAllSupportClaimMappingsByDefault"/>
    </wsdl:message>
    <wsdl:message name="getAllSupportClaimMappingsByDefaultResponse">
        <wsdl:part name="parameters" element="ns:getAllSupportClaimMappingsByDefaultResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteClaimMappingRequest">
        <wsdl:part name="parameters" element="ns:deleteClaimMapping"/>
    </wsdl:message>
    <wsdl:message name="getAllRequiredClaimMappingsRequest">
        <wsdl:part name="parameters" element="ns:getAllRequiredClaimMappings"/>
    </wsdl:message>
    <wsdl:message name="getAllRequiredClaimMappingsResponse">
        <wsdl:part name="parameters" element="ns:getAllRequiredClaimMappingsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllClaimUrisRequest">
        <wsdl:part name="parameters" element="ns:getAllClaimUris"/>
    </wsdl:message>
    <wsdl:message name="getAllClaimUrisResponse">
        <wsdl:part name="parameters" element="ns:getAllClaimUrisResponse"/>
    </wsdl:message>
    <wsdl:message name="updateClaimMappingRequest">
        <wsdl:part name="parameters" element="ns:updateClaimMapping"/>
    </wsdl:message>
    <wsdl:message name="getClaimRequest">
        <wsdl:part name="parameters" element="ns:getClaim"/>
    </wsdl:message>
    <wsdl:message name="getClaimResponse">
        <wsdl:part name="parameters" element="ns:getClaimResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllClaimMappingsRequest">
        <wsdl:part name="parameters" element="ns:getAllClaimMappings"/>
    </wsdl:message>
    <wsdl:message name="getAllClaimMappingsResponse">
        <wsdl:part name="parameters" element="ns:getAllClaimMappingsResponse"/>
    </wsdl:message>
    <wsdl:message name="addNewClaimMappingRequest">
        <wsdl:part name="parameters" element="ns:addNewClaimMapping"/>
    </wsdl:message>
    <wsdl:portType name="RemoteClaimManagerServicePortType">
        <wsdl:operation name="getClaimMapping">
            <wsdl:input message="ns:getClaimMappingRequest" wsaw:Action="urn:getClaimMapping"/>
            <wsdl:output message="ns:getClaimMappingResponse" wsaw:Action="urn:getClaimMappingResponse"/>
            <wsdl:fault message="ns:RemoteClaimManagerServiceUserStoreException" name="RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getClaimMappingRemoteClaimManagerServiceUserStoreException"/>
        </wsdl:operation>
        <wsdl:operation name="getAttributeName">
            <wsdl:input message="ns:getAttributeNameRequest" wsaw:Action="urn:getAttributeName"/>
            <wsdl:output message="ns:getAttributeNameResponse" wsaw:Action="urn:getAttributeNameResponse"/>
            <wsdl:fault message="ns:RemoteClaimManagerServiceUserStoreException" name="RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getAttributeNameRemoteClaimManagerServiceUserStoreException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllSupportClaimMappingsByDefault">
            <wsdl:input message="ns:getAllSupportClaimMappingsByDefaultRequest" wsaw:Action="urn:getAllSupportClaimMappingsByDefault"/>
            <wsdl:output message="ns:getAllSupportClaimMappingsByDefaultResponse" wsaw:Action="urn:getAllSupportClaimMappingsByDefaultResponse"/>
            <wsdl:fault message="ns:RemoteClaimManagerServiceUserStoreException" name="RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getAllSupportClaimMappingsByDefaultRemoteClaimManagerServiceUserStoreException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteClaimMapping">
            <wsdl:input message="ns:deleteClaimMappingRequest" wsaw:Action="urn:deleteClaimMapping"/>
            <wsdl:fault message="ns:RemoteClaimManagerServiceUserStoreException" name="RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:deleteClaimMappingRemoteClaimManagerServiceUserStoreException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllRequiredClaimMappings">
            <wsdl:input message="ns:getAllRequiredClaimMappingsRequest" wsaw:Action="urn:getAllRequiredClaimMappings"/>
            <wsdl:output message="ns:getAllRequiredClaimMappingsResponse" wsaw:Action="urn:getAllRequiredClaimMappingsResponse"/>
            <wsdl:fault message="ns:RemoteClaimManagerServiceUserStoreException" name="RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getAllRequiredClaimMappingsRemoteClaimManagerServiceUserStoreException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllClaimUris">
            <wsdl:input message="ns:getAllClaimUrisRequest" wsaw:Action="urn:getAllClaimUris"/>
            <wsdl:output message="ns:getAllClaimUrisResponse" wsaw:Action="urn:getAllClaimUrisResponse"/>
            <wsdl:fault message="ns:RemoteClaimManagerServiceUserStoreException" name="RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getAllClaimUrisRemoteClaimManagerServiceUserStoreException"/>
        </wsdl:operation>
        <wsdl:operation name="updateClaimMapping">
            <wsdl:input message="ns:updateClaimMappingRequest" wsaw:Action="urn:updateClaimMapping"/>
            <wsdl:fault message="ns:RemoteClaimManagerServiceUserStoreException" name="RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:updateClaimMappingRemoteClaimManagerServiceUserStoreException"/>
        </wsdl:operation>
        <wsdl:operation name="getClaim">
            <wsdl:input message="ns:getClaimRequest" wsaw:Action="urn:getClaim"/>
            <wsdl:output message="ns:getClaimResponse" wsaw:Action="urn:getClaimResponse"/>
            <wsdl:fault message="ns:RemoteClaimManagerServiceUserStoreException" name="RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getClaimRemoteClaimManagerServiceUserStoreException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllClaimMappings">
            <wsdl:input message="ns:getAllClaimMappingsRequest" wsaw:Action="urn:getAllClaimMappings"/>
            <wsdl:output message="ns:getAllClaimMappingsResponse" wsaw:Action="urn:getAllClaimMappingsResponse"/>
            <wsdl:fault message="ns:RemoteClaimManagerServiceUserStoreException" name="RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getAllClaimMappingsRemoteClaimManagerServiceUserStoreException"/>
        </wsdl:operation>
        <wsdl:operation name="addNewClaimMapping">
            <wsdl:input message="ns:addNewClaimMappingRequest" wsaw:Action="urn:addNewClaimMapping"/>
            <wsdl:fault message="ns:RemoteClaimManagerServiceUserStoreException" name="RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:addNewClaimMappingRemoteClaimManagerServiceUserStoreException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RemoteClaimManagerServiceSoap11Binding" type="ns:RemoteClaimManagerServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getClaimMapping">
            <soap:operation soapAction="urn:getClaimMapping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAttributeName">
            <soap:operation soapAction="urn:getAttributeName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllSupportClaimMappingsByDefault">
            <soap:operation soapAction="urn:getAllSupportClaimMappingsByDefault" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRequiredClaimMappings">
            <soap:operation soapAction="urn:getAllRequiredClaimMappings" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteClaimMapping">
            <soap:operation soapAction="urn:deleteClaimMapping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllClaimUris">
            <soap:operation soapAction="urn:getAllClaimUris" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateClaimMapping">
            <soap:operation soapAction="urn:updateClaimMapping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllClaimMappings">
            <soap:operation soapAction="urn:getAllClaimMappings" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClaim">
            <soap:operation soapAction="urn:getClaim" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addNewClaimMapping">
            <soap:operation soapAction="urn:addNewClaimMapping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RemoteClaimManagerServiceSoap12Binding" type="ns:RemoteClaimManagerServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getClaimMapping">
            <soap12:operation soapAction="urn:getClaimMapping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap12:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAttributeName">
            <soap12:operation soapAction="urn:getAttributeName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap12:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllSupportClaimMappingsByDefault">
            <soap12:operation soapAction="urn:getAllSupportClaimMappingsByDefault" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap12:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRequiredClaimMappings">
            <soap12:operation soapAction="urn:getAllRequiredClaimMappings" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap12:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteClaimMapping">
            <soap12:operation soapAction="urn:deleteClaimMapping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap12:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllClaimUris">
            <soap12:operation soapAction="urn:getAllClaimUris" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap12:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateClaimMapping">
            <soap12:operation soapAction="urn:updateClaimMapping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap12:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllClaimMappings">
            <soap12:operation soapAction="urn:getAllClaimMappings" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap12:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClaim">
            <soap12:operation soapAction="urn:getClaim" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap12:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addNewClaimMapping">
            <soap12:operation soapAction="urn:addNewClaimMapping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
                <soap12:fault use="literal" name="RemoteClaimManagerServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RemoteClaimManagerServiceHttpBinding" type="ns:RemoteClaimManagerServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getClaimMapping">
            <http:operation location="getClaimMapping"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAttributeName">
            <http:operation location="getAttributeName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllSupportClaimMappingsByDefault">
            <http:operation location="getAllSupportClaimMappingsByDefault"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllRequiredClaimMappings">
            <http:operation location="getAllRequiredClaimMappings"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteClaimMapping">
            <http:operation location="deleteClaimMapping"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllClaimUris">
            <http:operation location="getAllClaimUris"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateClaimMapping">
            <http:operation location="updateClaimMapping"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllClaimMappings">
            <http:operation location="getAllClaimMappings"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClaim">
            <http:operation location="getClaim"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewClaimMapping">
            <http:operation location="addNewClaimMapping"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RemoteClaimManagerService">
        <wsdl:port name="RemoteClaimManagerServiceHttpsSoap11Endpoint" binding="ns:RemoteClaimManagerServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/RemoteClaimManagerService.RemoteClaimManagerServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RemoteClaimManagerServiceHttpsSoap12Endpoint" binding="ns:RemoteClaimManagerServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/RemoteClaimManagerService.RemoteClaimManagerServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RemoteClaimManagerServiceHttpsEndpoint" binding="ns:RemoteClaimManagerServiceHttpBinding">
            <http:address location="https://localhost:9443/services/RemoteClaimManagerService.RemoteClaimManagerServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>