service-stubs/url-mapper/reporting/org.wso2.carbon.reporting.template.stub/src/main/resources/ReportTemplateAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://service.core.template.reporting.carbon.wso2.org" xmlns:ax2259="http://util.core.template.reporting.carbon.wso2.org/xsd" xmlns:ax2256="http://table.util.core.template.reporting.carbon.wso2.org/xsd" xmlns:ax2257="http://common.util.core.template.reporting.carbon.wso2.org/xsd" xmlns:ax2254="http://api.reporting.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2262="http://chart.util.core.template.reporting.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.core.template.reporting.carbon.wso2.org">
    <wsdl:documentation>ReportTemplateAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2258="http://common.util.core.template.reporting.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://table.util.core.template.reporting.carbon.wso2.org/xsd">
            <xs:import namespace="http://common.util.core.template.reporting.carbon.wso2.org/xsd" />
            <xs:complexType name="TableReportDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="backgroundColour" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="columns" nillable="true" type="ax2256:ColumnDTO" />
                    <xs:element minOccurs="0" name="dsName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="outLineColor" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="outLineThickness" type="xs:double" />
                    <xs:element minOccurs="0" name="periodicGeneration" type="xs:boolean" />
                    <xs:element minOccurs="0" name="periodicGenerationDate" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="reportHeaderInformation" nillable="true" type="ax2258:ReportHeaderInformationDTO" />
                    <xs:element minOccurs="0" name="reportName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="reportType" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="timeSeperation" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ColumnDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="columHeader" nillable="true" type="ax2258:FontStyleDTO" />
                    <xs:element minOccurs="0" name="columnFamilyName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="columnFooter" nillable="true" type="ax2258:FontStyleDTO" />
                    <xs:element minOccurs="0" name="columnFooterName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="columnHeaderName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="columnName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="primaryColumn" type="xs:boolean" />
                    <xs:element minOccurs="0" name="tableCell" nillable="true" type="ax2258:FontStyleDTO" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2263="http://common.util.core.template.reporting.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://chart.util.core.template.reporting.carbon.wso2.org/xsd">
            <xs:import namespace="http://common.util.core.template.reporting.carbon.wso2.org/xsd" />
            <xs:complexType name="ChartReportDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="backgroundColour" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="categorySeries" nillable="true" type="ax2262:SeriesDTO" />
                    <xs:element minOccurs="0" name="chartBackColor" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="dsName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="periodicGeneration" type="xs:boolean" />
                    <xs:element minOccurs="0" name="periodicGenerationDate" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="reportHeaderInformation" nillable="true" type="ax2257:ReportHeaderInformationDTO" />
                    <xs:element minOccurs="0" name="reportName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="reportType" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="subTitle" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="timeSeperation" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="xAxisLabel" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="yAxisLabel" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SeriesDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="xdata" nillable="true" type="ax2262:DataDTO" />
                    <xs:element minOccurs="0" name="ydata" nillable="true" type="ax2262:DataDTO" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DataDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dsColumnName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="dsTableName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="fieldId" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.core.template.reporting.carbon.wso2.org/xsd">
            <xs:complexType name="Resource">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary" />
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.reporting.carbon.wso2.org/xsd">
            <xs:complexType name="ReportingException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2255="http://api.reporting.carbon.wso2.org/xsd" xmlns:ax2264="http://chart.util.core.template.reporting.carbon.wso2.org/xsd" xmlns:ax2261="http://table.util.core.template.reporting.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.core.template.reporting.carbon.wso2.org">
            <xs:import namespace="http://api.reporting.carbon.wso2.org/xsd" />
            <xs:import namespace="http://table.util.core.template.reporting.carbon.wso2.org/xsd" />
            <xs:import namespace="http://chart.util.core.template.reporting.carbon.wso2.org/xsd" />
            <xs:element name="ReportTemplateAdminReportingException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ReportingException" nillable="true" type="ax2254:ReportingException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateFields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="chartType" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="dsName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="yAxis" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateFieldsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateTableReport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tableReport" nillable="true" type="ax2256:TableReportDTO" />
                        <xs:element minOccurs="0" name="jrxmlFileName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryColumnFamily">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="columnFamilyname" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="compositeIndexName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isReportExists">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="reportName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isReportExistsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isCompositeReport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="reportName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isCompositeReportResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableReport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="jrxmlFileName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableReportResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2256:TableReportDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dsName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIndexes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="columnFamily" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIndexesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getColumnNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dsName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getColumnNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllDatasourceNames">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllDatasourceNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllColumnFamilies">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllColumnFamiliesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateReport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="reportName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateReportResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteReport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="reportname" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewTableReport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tableReport" nillable="true" type="ax2256:TableReportDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewChartReport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="chartReport" nillable="true" type="ax2264:ChartReportDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addCompositeReport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="templateNames" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="compositeReportName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2260="http://util.core.template.reporting.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.util.core.template.reporting.carbon.wso2.org/xsd">
            <xs:import namespace="http://util.core.template.reporting.carbon.wso2.org/xsd" />
            <xs:complexType name="FontStyleDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alignment" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="backgroundColour" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="bold" type="xs:boolean" />
                    <xs:element minOccurs="0" name="fontColor" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="fontName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="fontSize" type="xs:int" />
                    <xs:element minOccurs="0" name="italic" type="xs:boolean" />
                    <xs:element minOccurs="0" name="strikeThough" type="xs:boolean" />
                    <xs:element minOccurs="0" name="underLine" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ReportHeaderInformationDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="logo" nillable="true" type="ax2259:Resource" />
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="titleFont" nillable="true" type="ax2257:FontStyleDTO" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addCompositeReportRequest">
        <wsdl:part name="parameters" element="ns:addCompositeReport" />
    </wsdl:message>
    <wsdl:message name="ReportTemplateAdminReportingException">
        <wsdl:part name="parameters" element="ns:ReportTemplateAdminReportingException" />
    </wsdl:message>
    <wsdl:message name="validateFieldsRequest">
        <wsdl:part name="parameters" element="ns:validateFields" />
    </wsdl:message>
    <wsdl:message name="validateFieldsResponse">
        <wsdl:part name="parameters" element="ns:validateFieldsResponse" />
    </wsdl:message>
    <wsdl:message name="getColumnNamesRequest">
        <wsdl:part name="parameters" element="ns:getColumnNames" />
    </wsdl:message>
    <wsdl:message name="getColumnNamesResponse">
        <wsdl:part name="parameters" element="ns:getColumnNamesResponse" />
    </wsdl:message>
    <wsdl:message name="getTableReportRequest">
        <wsdl:part name="parameters" element="ns:getTableReport" />
    </wsdl:message>
    <wsdl:message name="getTableReportResponse">
        <wsdl:part name="parameters" element="ns:getTableReportResponse" />
    </wsdl:message>
    <wsdl:message name="addNewTableReportRequest">
        <wsdl:part name="parameters" element="ns:addNewTableReport" />
    </wsdl:message>
    <wsdl:message name="getAllColumnFamiliesRequest">
        <wsdl:part name="parameters" element="ns:getAllColumnFamilies" />
    </wsdl:message>
    <wsdl:message name="getAllColumnFamiliesResponse">
        <wsdl:part name="parameters" element="ns:getAllColumnFamiliesResponse" />
    </wsdl:message>
    <wsdl:message name="addNewChartReportRequest">
        <wsdl:part name="parameters" element="ns:addNewChartReport" />
    </wsdl:message>
    <wsdl:message name="deleteReportRequest">
        <wsdl:part name="parameters" element="ns:deleteReport" />
    </wsdl:message>
    <wsdl:message name="isCompositeReportRequest">
        <wsdl:part name="parameters" element="ns:isCompositeReport" />
    </wsdl:message>
    <wsdl:message name="isCompositeReportResponse">
        <wsdl:part name="parameters" element="ns:isCompositeReportResponse" />
    </wsdl:message>
    <wsdl:message name="getAllDatasourceNamesRequest">
        <wsdl:part name="parameters" element="ns:getAllDatasourceNames" />
    </wsdl:message>
    <wsdl:message name="getAllDatasourceNamesResponse">
        <wsdl:part name="parameters" element="ns:getAllDatasourceNamesResponse" />
    </wsdl:message>
    <wsdl:message name="isReportExistsRequest">
        <wsdl:part name="parameters" element="ns:isReportExists" />
    </wsdl:message>
    <wsdl:message name="isReportExistsResponse">
        <wsdl:part name="parameters" element="ns:isReportExistsResponse" />
    </wsdl:message>
    <wsdl:message name="generateReportRequest">
        <wsdl:part name="parameters" element="ns:generateReport" />
    </wsdl:message>
    <wsdl:message name="generateReportResponse">
        <wsdl:part name="parameters" element="ns:generateReportResponse" />
    </wsdl:message>
    <wsdl:message name="getIndexesRequest">
        <wsdl:part name="parameters" element="ns:getIndexes" />
    </wsdl:message>
    <wsdl:message name="getIndexesResponse">
        <wsdl:part name="parameters" element="ns:getIndexesResponse" />
    </wsdl:message>
    <wsdl:message name="updateTableReportRequest">
        <wsdl:part name="parameters" element="ns:updateTableReport" />
    </wsdl:message>
    <wsdl:message name="getTableNamesRequest">
        <wsdl:part name="parameters" element="ns:getTableNames" />
    </wsdl:message>
    <wsdl:message name="getTableNamesResponse">
        <wsdl:part name="parameters" element="ns:getTableNamesResponse" />
    </wsdl:message>
    <wsdl:message name="queryColumnFamilyRequest">
        <wsdl:part name="parameters" element="ns:queryColumnFamily" />
    </wsdl:message>
    <wsdl:portType name="ReportTemplateAdminPortType">
        <wsdl:operation name="addCompositeReport">
            <wsdl:input message="ns:addCompositeReportRequest" wsaw:Action="urn:addCompositeReport" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:addCompositeReportReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="validateFields">
            <wsdl:input message="ns:validateFieldsRequest" wsaw:Action="urn:validateFields" />
            <wsdl:output message="ns:validateFieldsResponse" wsaw:Action="urn:validateFieldsResponse" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:validateFieldsReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="getColumnNames">
            <wsdl:input message="ns:getColumnNamesRequest" wsaw:Action="urn:getColumnNames" />
            <wsdl:output message="ns:getColumnNamesResponse" wsaw:Action="urn:getColumnNamesResponse" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:getColumnNamesReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="getTableReport">
            <wsdl:input message="ns:getTableReportRequest" wsaw:Action="urn:getTableReport" />
            <wsdl:output message="ns:getTableReportResponse" wsaw:Action="urn:getTableReportResponse" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:getTableReportReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="addNewTableReport">
            <wsdl:input message="ns:addNewTableReportRequest" wsaw:Action="urn:addNewTableReport" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:addNewTableReportReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="getAllColumnFamilies">
            <wsdl:input message="ns:getAllColumnFamiliesRequest" wsaw:Action="urn:getAllColumnFamilies" />
            <wsdl:output message="ns:getAllColumnFamiliesResponse" wsaw:Action="urn:getAllColumnFamiliesResponse" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:getAllColumnFamiliesReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="addNewChartReport">
            <wsdl:input message="ns:addNewChartReportRequest" wsaw:Action="urn:addNewChartReport" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:addNewChartReportReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="deleteReport">
            <wsdl:input message="ns:deleteReportRequest" wsaw:Action="urn:deleteReport" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:deleteReportReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="isCompositeReport">
            <wsdl:input message="ns:isCompositeReportRequest" wsaw:Action="urn:isCompositeReport" />
            <wsdl:output message="ns:isCompositeReportResponse" wsaw:Action="urn:isCompositeReportResponse" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:isCompositeReportReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="getAllDatasourceNames">
            <wsdl:input message="ns:getAllDatasourceNamesRequest" wsaw:Action="urn:getAllDatasourceNames" />
            <wsdl:output message="ns:getAllDatasourceNamesResponse" wsaw:Action="urn:getAllDatasourceNamesResponse" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:getAllDatasourceNamesReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="isReportExists">
            <wsdl:input message="ns:isReportExistsRequest" wsaw:Action="urn:isReportExists" />
            <wsdl:output message="ns:isReportExistsResponse" wsaw:Action="urn:isReportExistsResponse" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:isReportExistsReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="generateReport">
            <wsdl:input message="ns:generateReportRequest" wsaw:Action="urn:generateReport" />
            <wsdl:output message="ns:generateReportResponse" wsaw:Action="urn:generateReportResponse" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:generateReportReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="getIndexes">
            <wsdl:input message="ns:getIndexesRequest" wsaw:Action="urn:getIndexes" />
            <wsdl:output message="ns:getIndexesResponse" wsaw:Action="urn:getIndexesResponse" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:getIndexesReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="updateTableReport">
            <wsdl:input message="ns:updateTableReportRequest" wsaw:Action="urn:updateTableReport" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:updateTableReportReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="getTableNames">
            <wsdl:input message="ns:getTableNamesRequest" wsaw:Action="urn:getTableNames" />
            <wsdl:output message="ns:getTableNamesResponse" wsaw:Action="urn:getTableNamesResponse" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:getTableNamesReportTemplateAdminReportingException" />
        </wsdl:operation>
        <wsdl:operation name="queryColumnFamily">
            <wsdl:input message="ns:queryColumnFamilyRequest" wsaw:Action="urn:queryColumnFamily" />
            <wsdl:fault message="ns:ReportTemplateAdminReportingException" name="ReportTemplateAdminReportingException" wsaw:Action="urn:queryColumnFamilyReportTemplateAdminReportingException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReportTemplateAdminSoap11Binding" type="ns:ReportTemplateAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="addCompositeReport">
            <soap:operation soapAction="urn:addCompositeReport" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateFields">
            <soap:operation soapAction="urn:validateFields" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getColumnNames">
            <soap:operation soapAction="urn:getColumnNames" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTableReport">
            <soap:operation soapAction="urn:getTableReport" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addNewTableReport">
            <soap:operation soapAction="urn:addNewTableReport" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllColumnFamilies">
            <soap:operation soapAction="urn:getAllColumnFamilies" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteReport">
            <soap:operation soapAction="urn:deleteReport" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addNewChartReport">
            <soap:operation soapAction="urn:addNewChartReport" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllDatasourceNames">
            <soap:operation soapAction="urn:getAllDatasourceNames" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isCompositeReport">
            <soap:operation soapAction="urn:isCompositeReport" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isReportExists">
            <soap:operation soapAction="urn:isReportExists" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIndexes">
            <soap:operation soapAction="urn:getIndexes" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generateReport">
            <soap:operation soapAction="urn:generateReport" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTableReport">
            <soap:operation soapAction="urn:updateTableReport" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTableNames">
            <soap:operation soapAction="urn:getTableNames" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryColumnFamily">
            <soap:operation soapAction="urn:queryColumnFamily" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReportTemplateAdminSoap12Binding" type="ns:ReportTemplateAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="addCompositeReport">
            <soap12:operation soapAction="urn:addCompositeReport" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateFields">
            <soap12:operation soapAction="urn:validateFields" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getColumnNames">
            <soap12:operation soapAction="urn:getColumnNames" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTableReport">
            <soap12:operation soapAction="urn:getTableReport" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addNewTableReport">
            <soap12:operation soapAction="urn:addNewTableReport" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllColumnFamilies">
            <soap12:operation soapAction="urn:getAllColumnFamilies" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteReport">
            <soap12:operation soapAction="urn:deleteReport" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addNewChartReport">
            <soap12:operation soapAction="urn:addNewChartReport" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllDatasourceNames">
            <soap12:operation soapAction="urn:getAllDatasourceNames" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isCompositeReport">
            <soap12:operation soapAction="urn:isCompositeReport" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isReportExists">
            <soap12:operation soapAction="urn:isReportExists" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIndexes">
            <soap12:operation soapAction="urn:getIndexes" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generateReport">
            <soap12:operation soapAction="urn:generateReport" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTableReport">
            <soap12:operation soapAction="urn:updateTableReport" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTableNames">
            <soap12:operation soapAction="urn:getTableNames" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryColumnFamily">
            <soap12:operation soapAction="urn:queryColumnFamily" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ReportTemplateAdminReportingException">
                <soap12:fault use="literal" name="ReportTemplateAdminReportingException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReportTemplateAdminHttpBinding" type="ns:ReportTemplateAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="addCompositeReport">
            <http:operation location="addCompositeReport" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="validateFields">
            <http:operation location="validateFields" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getColumnNames">
            <http:operation location="getColumnNames" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTableReport">
            <http:operation location="getTableReport" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewTableReport">
            <http:operation location="addNewTableReport" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllColumnFamilies">
            <http:operation location="getAllColumnFamilies" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteReport">
            <http:operation location="deleteReport" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addNewChartReport">
            <http:operation location="addNewChartReport" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllDatasourceNames">
            <http:operation location="getAllDatasourceNames" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isCompositeReport">
            <http:operation location="isCompositeReport" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isReportExists">
            <http:operation location="isReportExists" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIndexes">
            <http:operation location="getIndexes" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generateReport">
            <http:operation location="generateReport" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateTableReport">
            <http:operation location="updateTableReport" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTableNames">
            <http:operation location="getTableNames" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryColumnFamily">
            <http:operation location="queryColumnFamily" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReportTemplateAdmin">
        <wsdl:port name="ReportTemplateAdminHttpsSoap11Endpoint" binding="ns:ReportTemplateAdminSoap11Binding">
            <soap:address location="https://10.150.3.89:9448/services/ReportTemplateAdmin.ReportTemplateAdminHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ReportTemplateAdminHttpsSoap12Endpoint" binding="ns:ReportTemplateAdminSoap12Binding">
            <soap12:address location="https://10.150.3.89:9448/services/ReportTemplateAdmin.ReportTemplateAdminHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ReportTemplateAdminHttpsEndpoint" binding="ns:ReportTemplateAdminHttpBinding">
            <http:address location="https://10.150.3.89:9448/services/ReportTemplateAdmin.ReportTemplateAdminHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>