components/remote-usermgt/org.wso2.carbon.um.ws.api/src/main/resources/RemoteTenantManagerService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax233="http://tenant.core.user.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax230="http://core.user.carbon.wso2.org/xsd" xmlns:ns="http://service.ws.um.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.ws.um.carbon.wso2.org">
    <wsdl:documentation>RemoteTenantManagerService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax232="http://core.user.carbon.wso2.org/xsd" xmlns:ax234="http://tenant.core.user.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.ws.um.carbon.wso2.org">
            <xs:import namespace="http://core.user.carbon.wso2.org/xsd" />
            <xs:import namespace="http://tenant.core.user.carbon.wso2.org/xsd" />
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="UserStoreException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UserStoreException" nillable="true" type="ax230:UserStoreException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenant" nillable="true" type="ax234:Tenant" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isTenantActive">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isTenantActiveResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax234:Tenant" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSuperTenantDomainResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDomain">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDomainResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTenantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax234:Tenant" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenant" nillable="true" type="ax234:Tenant" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tenant.core.user.carbon.wso2.org/xsd">
            <xs:complexType name="Tenant">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean" />
                    <xs:element minOccurs="0" name="adminName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax231="http://service.ws.um.carbon.wso2.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.user.carbon.wso2.org/xsd">
            <xs:import namespace="http://service.ws.um.carbon.wso2.org" />
            <xs:complexType name="UserStoreException">
                <xs:complexContent>
                    <xs:extension base="ax231:Exception">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllTenantsRequest" />
    <wsdl:message name="getAllTenantsResponse">
        <wsdl:part name="parameters" element="ns:getAllTenantsResponse" />
    </wsdl:message>
    <wsdl:message name="UserStoreException">
        <wsdl:part name="parameters" element="ns:UserStoreException" />
    </wsdl:message>
    <wsdl:message name="getTenantRequest">
        <wsdl:part name="parameters" element="ns:getTenant" />
    </wsdl:message>
    <wsdl:message name="getTenantResponse">
        <wsdl:part name="parameters" element="ns:getTenantResponse" />
    </wsdl:message>
    <wsdl:message name="deactivateTenantRequest">
        <wsdl:part name="parameters" element="ns:deactivateTenant" />
    </wsdl:message>
    <wsdl:message name="getTenantIdRequest">
        <wsdl:part name="parameters" element="ns:getTenantId" />
    </wsdl:message>
    <wsdl:message name="getTenantIdResponse">
        <wsdl:part name="parameters" element="ns:getTenantIdResponse" />
    </wsdl:message>
    <wsdl:message name="updateTenantRequest">
        <wsdl:part name="parameters" element="ns:updateTenant" />
    </wsdl:message>
    <wsdl:message name="isTenantActiveRequest">
        <wsdl:part name="parameters" element="ns:isTenantActive" />
    </wsdl:message>
    <wsdl:message name="isTenantActiveResponse">
        <wsdl:part name="parameters" element="ns:isTenantActiveResponse" />
    </wsdl:message>
    <wsdl:message name="getSuperTenantDomainRequest" />
    <wsdl:message name="getSuperTenantDomainResponse">
        <wsdl:part name="parameters" element="ns:getSuperTenantDomainResponse" />
    </wsdl:message>
    <wsdl:message name="addTenantRequest">
        <wsdl:part name="parameters" element="ns:addTenant" />
    </wsdl:message>
    <wsdl:message name="addTenantResponse">
        <wsdl:part name="parameters" element="ns:addTenantResponse" />
    </wsdl:message>
    <wsdl:message name="getDomainRequest">
        <wsdl:part name="parameters" element="ns:getDomain" />
    </wsdl:message>
    <wsdl:message name="getDomainResponse">
        <wsdl:part name="parameters" element="ns:getDomainResponse" />
    </wsdl:message>
    <wsdl:message name="activateTenantRequest">
        <wsdl:part name="parameters" element="ns:activateTenant" />
    </wsdl:message>
    <wsdl:message name="deleteTenantRequest">
        <wsdl:part name="parameters" element="ns:deleteTenant" />
    </wsdl:message>
    <wsdl:portType name="RemoteTenantManagerServicePortType">
        <wsdl:operation name="getAllTenants">
            <wsdl:input message="ns:getAllTenantsRequest" wsaw:Action="urn:getAllTenants" />
            <wsdl:output message="ns:getAllTenantsResponse" wsaw:Action="urn:getAllTenantsResponse" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:getAllTenantsUserStoreException" />
        </wsdl:operation>
        <wsdl:operation name="getTenant">
            <wsdl:input message="ns:getTenantRequest" wsaw:Action="urn:getTenant" />
            <wsdl:output message="ns:getTenantResponse" wsaw:Action="urn:getTenantResponse" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:getTenantUserStoreException" />
        </wsdl:operation>
        <wsdl:operation name="deactivateTenant">
            <wsdl:input message="ns:deactivateTenantRequest" wsaw:Action="urn:deactivateTenant" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:deactivateTenantUserStoreException" />
        </wsdl:operation>
        <wsdl:operation name="getTenantId">
            <wsdl:input message="ns:getTenantIdRequest" wsaw:Action="urn:getTenantId" />
            <wsdl:output message="ns:getTenantIdResponse" wsaw:Action="urn:getTenantIdResponse" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:getTenantIdUserStoreException" />
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <wsdl:input message="ns:updateTenantRequest" wsaw:Action="urn:updateTenant" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:updateTenantUserStoreException" />
        </wsdl:operation>
        <wsdl:operation name="isTenantActive">
            <wsdl:input message="ns:isTenantActiveRequest" wsaw:Action="urn:isTenantActive" />
            <wsdl:output message="ns:isTenantActiveResponse" wsaw:Action="urn:isTenantActiveResponse" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:isTenantActiveUserStoreException" />
        </wsdl:operation>
        <wsdl:operation name="getSuperTenantDomain">
            <wsdl:input message="ns:getSuperTenantDomainRequest" wsaw:Action="urn:getSuperTenantDomain" />
            <wsdl:output message="ns:getSuperTenantDomainResponse" wsaw:Action="urn:getSuperTenantDomainResponse" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:getSuperTenantDomainUserStoreException" />
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <wsdl:input message="ns:addTenantRequest" wsaw:Action="urn:addTenant" />
            <wsdl:output message="ns:addTenantResponse" wsaw:Action="urn:addTenantResponse" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:addTenantUserStoreException" />
        </wsdl:operation>
        <wsdl:operation name="getDomain">
            <wsdl:input message="ns:getDomainRequest" wsaw:Action="urn:getDomain" />
            <wsdl:output message="ns:getDomainResponse" wsaw:Action="urn:getDomainResponse" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:getDomainUserStoreException" />
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <wsdl:input message="ns:activateTenantRequest" wsaw:Action="urn:activateTenant" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:activateTenantUserStoreException" />
        </wsdl:operation>
        <wsdl:operation name="deleteTenant">
            <wsdl:input message="ns:deleteTenantRequest" wsaw:Action="urn:deleteTenant" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:deleteTenantUserStoreException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RemoteTenantManagerServiceSoap11Binding" type="ns:RemoteTenantManagerServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getAllTenants">
            <soap:operation soapAction="urn:getAllTenants" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenant">
            <soap:operation soapAction="urn:getTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateTenant">
            <soap:operation soapAction="urn:deactivateTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenantId">
            <soap:operation soapAction="urn:getTenantId" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <soap:operation soapAction="urn:updateTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSuperTenantDomain">
            <soap:operation soapAction="urn:getSuperTenantDomain" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isTenantActive">
            <soap:operation soapAction="urn:isTenantActive" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <soap:operation soapAction="urn:addTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDomain">
            <soap:operation soapAction="urn:getDomain" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTenant">
            <soap:operation soapAction="urn:deleteTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <soap:operation soapAction="urn:activateTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RemoteTenantManagerServiceSoap12Binding" type="ns:RemoteTenantManagerServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getAllTenants">
            <soap12:operation soapAction="urn:getAllTenants" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenant">
            <soap12:operation soapAction="urn:getTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateTenant">
            <soap12:operation soapAction="urn:deactivateTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenantId">
            <soap12:operation soapAction="urn:getTenantId" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <soap12:operation soapAction="urn:updateTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSuperTenantDomain">
            <soap12:operation soapAction="urn:getSuperTenantDomain" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isTenantActive">
            <soap12:operation soapAction="urn:isTenantActive" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <soap12:operation soapAction="urn:addTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDomain">
            <soap12:operation soapAction="urn:getDomain" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTenant">
            <soap12:operation soapAction="urn:deleteTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <soap12:operation soapAction="urn:activateTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RemoteTenantManagerServiceHttpBinding" type="ns:RemoteTenantManagerServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getAllTenants">
            <http:operation location="getAllTenants" />
            <wsdl:input>
                <mime:content type="text/xml" part="getAllTenants" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllTenants" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTenant">
            <http:operation location="getTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="getTenant" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTenant" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deactivateTenant">
            <http:operation location="deactivateTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="deactivateTenant" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTenantId">
            <http:operation location="getTenantId" />
            <wsdl:input>
                <mime:content type="text/xml" part="getTenantId" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTenantId" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <http:operation location="updateTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="updateTenant" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getSuperTenantDomain">
            <http:operation location="getSuperTenantDomain" />
            <wsdl:input>
                <mime:content type="text/xml" part="getSuperTenantDomain" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getSuperTenantDomain" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isTenantActive">
            <http:operation location="isTenantActive" />
            <wsdl:input>
                <mime:content type="text/xml" part="isTenantActive" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="isTenantActive" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <http:operation location="addTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="addTenant" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="addTenant" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDomain">
            <http:operation location="getDomain" />
            <wsdl:input>
                <mime:content type="text/xml" part="getDomain" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getDomain" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTenant">
            <http:operation location="deleteTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="deleteTenant" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <http:operation location="activateTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="activateTenant" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RemoteTenantManagerService">
        <wsdl:port name="RemoteTenantManagerServiceHttpsSoap11Endpoint" binding="ns:RemoteTenantManagerServiceSoap11Binding">
            <soap:address location="https://10.100.1.231:9443/services/RemoteTenantManagerService.RemoteTenantManagerServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="RemoteTenantManagerServiceHttpsSoap12Endpoint" binding="ns:RemoteTenantManagerServiceSoap12Binding">
            <soap12:address location="https://10.100.1.231:9443/services/RemoteTenantManagerService.RemoteTenantManagerServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="RemoteTenantManagerServiceHttpsEndpoint" binding="ns:RemoteTenantManagerServiceHttpBinding">
            <http:address location="https://10.100.1.231:9443/services/RemoteTenantManagerService.RemoteTenantManagerServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>