service-stubs/org.wso2.carbon.idp.mgt.stub/src/main/resources/IdentityProviderService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2366="http://dto.mgt.idp.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.idp.carbon.wso2.org" xmlns:ax2368="http://mgt.idp.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.idp.carbon.wso2.org">
    <wsdl:documentation>IdentityProviderService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2367="http://dto.mgt.idp.carbon.wso2.org/xsd" xmlns:ax2369="http://mgt.idp.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.idp.carbon.wso2.org">
            <xs:import namespace="http://dto.mgt.idp.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://mgt.idp.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="getPrimaryIdP">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPrimaryIdPResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2367:TrustedIdPDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateSAMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="idPName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="samlResponseString" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="audiences" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="validateSAMLResponse" type="xs:boolean"></xs:element>
                        <xs:element minOccurs="0" name="validateSAMLAssertion" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateSAMLResponseResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateSAMLAssertion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="idPName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="samlResponseString" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="audiences" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="validateSAMLResponse" type="xs:boolean"></xs:element>
                        <xs:element minOccurs="0" name="validateSAMLAssertion" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateSAMLAssertionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMappedTenantClaims">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="idPName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="idPClaims" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMappedTenantClaimsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMappedIdPClaims">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="idPName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="tenantClaims" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMappedIdPClaimsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMappedTenantRoles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="idPName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="idPRoles" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMappedTenantRolesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMappedIdPRoles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="idPName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="tenantRoles" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMappedIdPRolesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIdPByRealmId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="realmId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIdPByRealmIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2367:TrustedIdPDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIdPByName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="idPName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIdPByNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2367:TrustedIdPDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIdPs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIdPsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2367:TrustedIdPDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInstance">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2369:IdentityProviderService"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.idp.carbon.wso2.org/xsd">
            <xs:complexType name="TrustedIdPDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="OIDCEnabled" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="SAML2SSOEnabled" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="SSOUrl" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="authnRequestSigned" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="authnResponseSigned" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="authzEndpointUrl" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimMappings" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claims" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="clientSecret" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="homeRealmId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="idPName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="idpEntityId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="logoutEnabled" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="logoutRequestSigned" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="logoutRequestUrl" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="primary" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="publicCert" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roleMappings" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="spEntityId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tokenEndpointAlias" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tokenEndpointUrl" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.idp.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityProviderService">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getInstanceRequest">
        <wsdl:part name="parameters" element="ns:getInstance"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getInstanceResponse">
        <wsdl:part name="parameters" element="ns:getInstanceResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMappedIdPRolesRequest">
        <wsdl:part name="parameters" element="ns:getMappedIdPRoles"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMappedIdPRolesResponse">
        <wsdl:part name="parameters" element="ns:getMappedIdPRolesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPrimaryIdPRequest">
        <wsdl:part name="parameters" element="ns:getPrimaryIdP"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPrimaryIdPResponse">
        <wsdl:part name="parameters" element="ns:getPrimaryIdPResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMappedTenantClaimsRequest">
        <wsdl:part name="parameters" element="ns:getMappedTenantClaims"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMappedTenantClaimsResponse">
        <wsdl:part name="parameters" element="ns:getMappedTenantClaimsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIdPByNameRequest">
        <wsdl:part name="parameters" element="ns:getIdPByName"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIdPByNameResponse">
        <wsdl:part name="parameters" element="ns:getIdPByNameResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIdPsRequest">
        <wsdl:part name="parameters" element="ns:getIdPs"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIdPsResponse">
        <wsdl:part name="parameters" element="ns:getIdPsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMappedTenantRolesRequest">
        <wsdl:part name="parameters" element="ns:getMappedTenantRoles"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMappedTenantRolesResponse">
        <wsdl:part name="parameters" element="ns:getMappedTenantRolesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMappedIdPClaimsRequest">
        <wsdl:part name="parameters" element="ns:getMappedIdPClaims"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMappedIdPClaimsResponse">
        <wsdl:part name="parameters" element="ns:getMappedIdPClaimsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateSAMLResponseRequest">
        <wsdl:part name="parameters" element="ns:validateSAMLResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateSAMLResponseResponse">
        <wsdl:part name="parameters" element="ns:validateSAMLResponseResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateSAMLAssertionRequest">
        <wsdl:part name="parameters" element="ns:validateSAMLAssertion"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateSAMLAssertionResponse">
        <wsdl:part name="parameters" element="ns:validateSAMLAssertionResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIdPByRealmIdRequest">
        <wsdl:part name="parameters" element="ns:getIdPByRealmId"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIdPByRealmIdResponse">
        <wsdl:part name="parameters" element="ns:getIdPByRealmIdResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="IdentityProviderServicePortType">
        <wsdl:operation name="getInstance">
            <wsdl:input message="ns:getInstanceRequest" wsaw:Action="urn:getInstance"></wsdl:input>
            <wsdl:output message="ns:getInstanceResponse" wsaw:Action="urn:getInstanceResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedIdPRoles">
            <wsdl:input message="ns:getMappedIdPRolesRequest" wsaw:Action="urn:getMappedIdPRoles"></wsdl:input>
            <wsdl:output message="ns:getMappedIdPRolesResponse" wsaw:Action="urn:getMappedIdPRolesResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPrimaryIdP">
            <wsdl:input message="ns:getPrimaryIdPRequest" wsaw:Action="urn:getPrimaryIdP"></wsdl:input>
            <wsdl:output message="ns:getPrimaryIdPResponse" wsaw:Action="urn:getPrimaryIdPResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedTenantClaims">
            <wsdl:input message="ns:getMappedTenantClaimsRequest" wsaw:Action="urn:getMappedTenantClaims"></wsdl:input>
            <wsdl:output message="ns:getMappedTenantClaimsResponse" wsaw:Action="urn:getMappedTenantClaimsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIdPByName">
            <wsdl:input message="ns:getIdPByNameRequest" wsaw:Action="urn:getIdPByName"></wsdl:input>
            <wsdl:output message="ns:getIdPByNameResponse" wsaw:Action="urn:getIdPByNameResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIdPs">
            <wsdl:input message="ns:getIdPsRequest" wsaw:Action="urn:getIdPs"></wsdl:input>
            <wsdl:output message="ns:getIdPsResponse" wsaw:Action="urn:getIdPsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedTenantRoles">
            <wsdl:input message="ns:getMappedTenantRolesRequest" wsaw:Action="urn:getMappedTenantRoles"></wsdl:input>
            <wsdl:output message="ns:getMappedTenantRolesResponse" wsaw:Action="urn:getMappedTenantRolesResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedIdPClaims">
            <wsdl:input message="ns:getMappedIdPClaimsRequest" wsaw:Action="urn:getMappedIdPClaims"></wsdl:input>
            <wsdl:output message="ns:getMappedIdPClaimsResponse" wsaw:Action="urn:getMappedIdPClaimsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateSAMLResponse">
            <wsdl:input message="ns:validateSAMLResponseRequest" wsaw:Action="urn:validateSAMLResponse"></wsdl:input>
            <wsdl:output message="ns:validateSAMLResponseResponse" wsaw:Action="urn:validateSAMLResponseResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateSAMLAssertion">
            <wsdl:input message="ns:validateSAMLAssertionRequest" wsaw:Action="urn:validateSAMLAssertion"></wsdl:input>
            <wsdl:output message="ns:validateSAMLAssertionResponse" wsaw:Action="urn:validateSAMLAssertionResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIdPByRealmId">
            <wsdl:input message="ns:getIdPByRealmIdRequest" wsaw:Action="urn:getIdPByRealmId"></wsdl:input>
            <wsdl:output message="ns:getIdPByRealmIdResponse" wsaw:Action="urn:getIdPByRealmIdResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentityProviderServiceSoap11Binding" type="ns:IdentityProviderServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getInstance">
            <soap:operation soapAction="urn:getInstance" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedIdPRoles">
            <soap:operation soapAction="urn:getMappedIdPRoles" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPrimaryIdP">
            <soap:operation soapAction="urn:getPrimaryIdP" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedTenantClaims">
            <soap:operation soapAction="urn:getMappedTenantClaims" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIdPByName">
            <soap:operation soapAction="urn:getIdPByName" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIdPs">
            <soap:operation soapAction="urn:getIdPs" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedTenantRoles">
            <soap:operation soapAction="urn:getMappedTenantRoles" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedIdPClaims">
            <soap:operation soapAction="urn:getMappedIdPClaims" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateSAMLResponse">
            <soap:operation soapAction="urn:validateSAMLResponse" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateSAMLAssertion">
            <soap:operation soapAction="urn:validateSAMLAssertion" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIdPByRealmId">
            <soap:operation soapAction="urn:getIdPByRealmId" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityProviderServiceSoap12Binding" type="ns:IdentityProviderServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getInstance">
            <soap12:operation soapAction="urn:getInstance" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedIdPRoles">
            <soap12:operation soapAction="urn:getMappedIdPRoles" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPrimaryIdP">
            <soap12:operation soapAction="urn:getPrimaryIdP" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedTenantClaims">
            <soap12:operation soapAction="urn:getMappedTenantClaims" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIdPByName">
            <soap12:operation soapAction="urn:getIdPByName" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIdPs">
            <soap12:operation soapAction="urn:getIdPs" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedTenantRoles">
            <soap12:operation soapAction="urn:getMappedTenantRoles" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedIdPClaims">
            <soap12:operation soapAction="urn:getMappedIdPClaims" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateSAMLResponse">
            <soap12:operation soapAction="urn:validateSAMLResponse" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateSAMLAssertion">
            <soap12:operation soapAction="urn:validateSAMLAssertion" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIdPByRealmId">
            <soap12:operation soapAction="urn:getIdPByRealmId" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityProviderServiceHttpBinding" type="ns:IdentityProviderServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getInstance">
            <http:operation location="getInstance"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedIdPRoles">
            <http:operation location="getMappedIdPRoles"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPrimaryIdP">
            <http:operation location="getPrimaryIdP"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedTenantClaims">
            <http:operation location="getMappedTenantClaims"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIdPByName">
            <http:operation location="getIdPByName"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIdPs">
            <http:operation location="getIdPs"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedTenantRoles">
            <http:operation location="getMappedTenantRoles"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMappedIdPClaims">
            <http:operation location="getMappedIdPClaims"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateSAMLResponse">
            <http:operation location="validateSAMLResponse"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateSAMLAssertion">
            <http:operation location="validateSAMLAssertion"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIdPByRealmId">
            <http:operation location="getIdPByRealmId"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentityProviderService">
        <wsdl:port name="IdentityProviderServiceHttpsSoap11Endpoint" binding="ns:IdentityProviderServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentityProviderService.IdentityProviderServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="IdentityProviderServiceHttpsSoap12Endpoint" binding="ns:IdentityProviderServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentityProviderService.IdentityProviderServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="IdentityProviderServiceHttpsEndpoint" binding="ns:IdentityProviderServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentityProviderService.IdentityProviderServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
