service-stubs/org.wso2.carbon.idp.mgt.stub/src/main/resources/IdentityProviderMgtService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.idp.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2362="http://exception.mgt.idp.carbon.wso2.org/xsd" xmlns:ax2364="http://dto.mgt.idp.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.idp.carbon.wso2.org">
    <wsdl:documentation>IdentityProviderMgtService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.mgt.idp.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityProviderMgtException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2363="http://exception.mgt.idp.carbon.wso2.org/xsd" xmlns:ax2365="http://dto.mgt.idp.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.idp.carbon.wso2.org">
            <xs:import namespace="http://exception.mgt.idp.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://dto.mgt.idp.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityProviderMgtException" nillable="true" type="ax2363:IdentityProviderMgtException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateIdP">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="oldTrustedIdP" nillable="true" type="ax2365:TrustedIdPDTO"></xs:element>
                        <xs:element minOccurs="0" name="newTrustedIdP" nillable="true" type="ax2365:TrustedIdPDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIdPByName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="idPName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIdPByNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2365:TrustedIdPDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIdPs">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIdPsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2365:TrustedIdPDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.idp.carbon.wso2.org/xsd">
            <xs:complexType name="TrustedIdPDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="OIDCEnabled" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="SAML2SSOEnabled" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="SSOUrl" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="authnRequestSigned" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="authnResponseSigned" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="authzEndpointUrl" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimMappings" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claims" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="clientSecret" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="homeRealmId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="idPName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="idpEntityId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="logoutEnabled" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="logoutRequestSigned" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="logoutRequestUrl" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="primary" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="publicCert" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roleMappings" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="spEntityId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tokenEndpointAlias" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tokenEndpointUrl" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getIdPByNameRequest">
        <wsdl:part name="parameters" element="ns:getIdPByName"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIdPByNameResponse">
        <wsdl:part name="parameters" element="ns:getIdPByNameResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="IdentityProviderMgtServiceIdentityProviderMgtException">
        <wsdl:part name="parameters" element="ns:IdentityProviderMgtServiceIdentityProviderMgtException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIdPsRequest">
        <wsdl:part name="parameters" element="ns:getIdPs"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIdPsResponse">
        <wsdl:part name="parameters" element="ns:getIdPsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateIdPRequest">
        <wsdl:part name="parameters" element="ns:updateIdP"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="IdentityProviderMgtServicePortType">
        <wsdl:operation name="getIdPByName">
            <wsdl:input message="ns:getIdPByNameRequest" wsaw:Action="urn:getIdPByName"></wsdl:input>
            <wsdl:output message="ns:getIdPByNameResponse" wsaw:Action="urn:getIdPByNameResponse"></wsdl:output>
            <wsdl:fault message="ns:IdentityProviderMgtServiceIdentityProviderMgtException" name="IdentityProviderMgtServiceIdentityProviderMgtException" wsaw:Action="urn:getIdPByNameIdentityProviderMgtServiceIdentityProviderMgtException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIdPs">
            <wsdl:input message="ns:getIdPsRequest" wsaw:Action="urn:getIdPs"></wsdl:input>
            <wsdl:output message="ns:getIdPsResponse" wsaw:Action="urn:getIdPsResponse"></wsdl:output>
            <wsdl:fault message="ns:IdentityProviderMgtServiceIdentityProviderMgtException" name="IdentityProviderMgtServiceIdentityProviderMgtException" wsaw:Action="urn:getIdPsIdentityProviderMgtServiceIdentityProviderMgtException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateIdP">
            <wsdl:input message="ns:updateIdPRequest" wsaw:Action="urn:updateIdP"></wsdl:input>
            <wsdl:fault message="ns:IdentityProviderMgtServiceIdentityProviderMgtException" name="IdentityProviderMgtServiceIdentityProviderMgtException" wsaw:Action="urn:updateIdPIdentityProviderMgtServiceIdentityProviderMgtException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentityProviderMgtServiceSoap11Binding" type="ns:IdentityProviderMgtServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getIdPByName">
            <soap:operation soapAction="urn:getIdPByName" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <soap:fault use="literal" name="IdentityProviderMgtServiceIdentityProviderMgtException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIdPs">
            <soap:operation soapAction="urn:getIdPs" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <soap:fault use="literal" name="IdentityProviderMgtServiceIdentityProviderMgtException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateIdP">
            <soap:operation soapAction="urn:updateIdP" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <soap:fault use="literal" name="IdentityProviderMgtServiceIdentityProviderMgtException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityProviderMgtServiceSoap12Binding" type="ns:IdentityProviderMgtServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getIdPByName">
            <soap12:operation soapAction="urn:getIdPByName" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <soap12:fault use="literal" name="IdentityProviderMgtServiceIdentityProviderMgtException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIdPs">
            <soap12:operation soapAction="urn:getIdPs" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <soap12:fault use="literal" name="IdentityProviderMgtServiceIdentityProviderMgtException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateIdP">
            <soap12:operation soapAction="urn:updateIdP" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <soap12:fault use="literal" name="IdentityProviderMgtServiceIdentityProviderMgtException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityProviderMgtServiceHttpBinding" type="ns:IdentityProviderMgtServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getIdPByName">
            <http:operation location="getIdPByName"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIdPs">
            <http:operation location="getIdPs"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateIdP">
            <http:operation location="updateIdP"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentityProviderMgtService">
        <wsdl:port name="IdentityProviderMgtServiceHttpsSoap11Endpoint" binding="ns:IdentityProviderMgtServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentityProviderMgtService.IdentityProviderMgtServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="IdentityProviderMgtServiceHttpsSoap12Endpoint" binding="ns:IdentityProviderMgtServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentityProviderMgtService.IdentityProviderMgtServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="IdentityProviderMgtServiceHttpsEndpoint" binding="ns:IdentityProviderMgtServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentityProviderMgtService.IdentityProviderMgtServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
