service-stubs/reporting/org.wso2.carbon.reporting.stub/src/main/resources/JrxmlFileUploader.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.core.reporting.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2315="http://api.reporting.carbon.wso2.org/xsd" xmlns:ax2317="http://engine.jasperreports.sf.net/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.core.reporting.carbon.wso2.org">
    <wsdl:documentation>JrxmlFileUploader</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://engine.jasperreports.sf.net/xsd">
            <xs:complexType name="JRException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2316="http://api.reporting.carbon.wso2.org/xsd" xmlns:ax2318="http://engine.jasperreports.sf.net/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.core.reporting.carbon.wso2.org">
            <xs:import namespace="http://api.reporting.carbon.wso2.org/xsd" />
            <xs:import namespace="http://engine.jasperreports.sf.net/xsd" />
            <xs:element name="JrxmlFileUploaderReportingException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ReportingException" nillable="true" type="ax2315:ReportingException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadLogo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="imageName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="reportName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="imageContent" nillable="true" type="xs:base64Binary" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadLogoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="JrxmlFileUploaderJRException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="JRException" nillable="true" type="ax2317:JRException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadJrxmlFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="fileContent" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadJrxmlFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.reporting.carbon.wso2.org/xsd">
            <xs:complexType name="ReportingException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadLogoRequest">
        <wsdl:part name="parameters" element="ns:uploadLogo" />
    </wsdl:message>
    <wsdl:message name="uploadLogoResponse">
        <wsdl:part name="parameters" element="ns:uploadLogoResponse" />
    </wsdl:message>
    <wsdl:message name="JrxmlFileUploaderReportingException">
        <wsdl:part name="parameters" element="ns:JrxmlFileUploaderReportingException" />
    </wsdl:message>
    <wsdl:message name="uploadJrxmlFileRequest">
        <wsdl:part name="parameters" element="ns:uploadJrxmlFile" />
    </wsdl:message>
    <wsdl:message name="uploadJrxmlFileResponse">
        <wsdl:part name="parameters" element="ns:uploadJrxmlFileResponse" />
    </wsdl:message>
    <wsdl:message name="JrxmlFileUploaderJRException">
        <wsdl:part name="parameters" element="ns:JrxmlFileUploaderJRException" />
    </wsdl:message>
    <wsdl:portType name="JrxmlFileUploaderPortType">
        <wsdl:operation name="uploadLogo">
            <wsdl:input message="ns:uploadLogoRequest" wsaw:Action="urn:uploadLogo" />
            <wsdl:output message="ns:uploadLogoResponse" wsaw:Action="urn:uploadLogoResponse" />
            <wsdl:fault message="ns:JrxmlFileUploaderReportingException" name="JrxmlFileUploaderReportingException" wsaw:Action="urn:uploadLogoJrxmlFileUploaderReportingException" />
        </wsdl:operation>
        <wsdl:operation name="uploadJrxmlFile">
            <wsdl:input message="ns:uploadJrxmlFileRequest" wsaw:Action="urn:uploadJrxmlFile" />
            <wsdl:output message="ns:uploadJrxmlFileResponse" wsaw:Action="urn:uploadJrxmlFileResponse" />
            <wsdl:fault message="ns:JrxmlFileUploaderReportingException" name="JrxmlFileUploaderReportingException" wsaw:Action="urn:uploadJrxmlFileJrxmlFileUploaderReportingException" />
            <wsdl:fault message="ns:JrxmlFileUploaderJRException" name="JrxmlFileUploaderJRException" wsaw:Action="urn:uploadJrxmlFileJrxmlFileUploaderJRException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JrxmlFileUploaderSoap11Binding" type="ns:JrxmlFileUploaderPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="uploadLogo">
            <soap:operation soapAction="urn:uploadLogo" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="JrxmlFileUploaderReportingException">
                <soap:fault use="literal" name="JrxmlFileUploaderReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="uploadJrxmlFile">
            <soap:operation soapAction="urn:uploadJrxmlFile" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="JrxmlFileUploaderJRException">
                <soap:fault use="literal" name="JrxmlFileUploaderJRException" />
            </wsdl:fault>
            <wsdl:fault name="JrxmlFileUploaderReportingException">
                <soap:fault use="literal" name="JrxmlFileUploaderReportingException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JrxmlFileUploaderSoap12Binding" type="ns:JrxmlFileUploaderPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="uploadLogo">
            <soap12:operation soapAction="urn:uploadLogo" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="JrxmlFileUploaderReportingException">
                <soap12:fault use="literal" name="JrxmlFileUploaderReportingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="uploadJrxmlFile">
            <soap12:operation soapAction="urn:uploadJrxmlFile" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="JrxmlFileUploaderJRException">
                <soap12:fault use="literal" name="JrxmlFileUploaderJRException" />
            </wsdl:fault>
            <wsdl:fault name="JrxmlFileUploaderReportingException">
                <soap12:fault use="literal" name="JrxmlFileUploaderReportingException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JrxmlFileUploaderHttpBinding" type="ns:JrxmlFileUploaderPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="uploadLogo">
            <http:operation location="uploadLogo" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadJrxmlFile">
            <http:operation location="uploadJrxmlFile" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JrxmlFileUploader">
        <wsdl:port name="JrxmlFileUploaderHttpsSoap11Endpoint" binding="ns:JrxmlFileUploaderSoap11Binding">
            <soap:address location="https://10.216.169.106:9444/services/JrxmlFileUploader.JrxmlFileUploaderHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="JrxmlFileUploaderHttpsSoap12Endpoint" binding="ns:JrxmlFileUploaderSoap12Binding">
            <soap12:address location="https://10.216.169.106:9444/services/JrxmlFileUploader.JrxmlFileUploaderHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="JrxmlFileUploaderHttpsEndpoint" binding="ns:JrxmlFileUploaderHttpBinding">
            <http:address location="https://10.216.169.106:9444/services/JrxmlFileUploader.JrxmlFileUploaderHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>