service-stubs/logging/org.wso2.carbon.logging.config.stub/src/main/resources/LogConfig.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2498="http://exception.lang.commons.apache.org/xsd" xmlns:ax2501="http://data.service.logging.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2495="http://io.java/xsd" xmlns:ax2497="http://configuration.commons.apache.org/xsd" xmlns:tns="http://service.logging.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.logging.carbon.wso2.org">
    <wsdl:documentation>LoggingConfig</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.lang.commons.apache.org/xsd">
            <xs:complexType name="NestableException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cause" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="messages" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="throwableCount" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="throwables" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2500="http://configuration.commons.apache.org/xsd" xmlns:ax2502="http://data.service.logging.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2496="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://io.java/xsd"/>
            <xs:import namespace="http://configuration.commons.apache.org/xsd"/>
            <xs:import namespace="http://data.service.logging.carbon.wso2.org/xsd"/>
            <xs:element name="LoggingConfigIOException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IOException" nillable="true" type="ax2495:IOException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LoggingConfigConfigurationException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ConfigurationException" nillable="true" type="ax2500:ConfigurationException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addLogger">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggerName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loggerClass" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="logLevel" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLoggerData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggerName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLoggerDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2501:LoggerData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLoggerData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="beginsWith" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="logNameFilter" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLoggerDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2501:LoggerData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isLoggerExist">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggerName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isLoggerExistResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRemoteServerConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="connectTimeoutMillis" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLoggers">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLoggersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2499="http://exception.lang.commons.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://configuration.commons.apache.org/xsd">
            <xs:import namespace="http://exception.lang.commons.apache.org/xsd"/>
            <xs:complexType name="ConfigurationException">
                <xs:complexContent>
                    <xs:extension base="ax2498:NestableException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.service.logging.carbon.wso2.org/xsd">
            <xs:complexType name="LoggerData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="componentName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="level" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="isLoggerExistRequest">
        <wsdl:part name="parameters" element="ns1:isLoggerExist"/>
    </wsdl:message>
    <wsdl:message name="isLoggerExistResponse">
        <wsdl:part name="parameters" element="ns1:isLoggerExistResponse"/>
    </wsdl:message>
    <wsdl:message name="LoggingConfigIOException">
        <wsdl:part name="parameters" element="ns1:LoggingConfigIOException"/>
    </wsdl:message>
    <wsdl:message name="addRemoteServerConfigRequest">
        <wsdl:part name="parameters" element="ns1:addRemoteServerConfig"/>
    </wsdl:message>
    <wsdl:message name="LoggingConfigConfigurationException">
        <wsdl:part name="parameters" element="ns1:LoggingConfigConfigurationException"/>
    </wsdl:message>
    <wsdl:message name="getAllLoggerDataRequest">
        <wsdl:part name="parameters" element="ns1:getAllLoggerData"/>
    </wsdl:message>
    <wsdl:message name="getAllLoggerDataResponse">
        <wsdl:part name="parameters" element="ns1:getAllLoggerDataResponse"/>
    </wsdl:message>
    <wsdl:message name="getLoggerDataRequest">
        <wsdl:part name="parameters" element="ns1:getLoggerData"/>
    </wsdl:message>
    <wsdl:message name="getLoggerDataResponse">
        <wsdl:part name="parameters" element="ns1:getLoggerDataResponse"/>
    </wsdl:message>
    <wsdl:message name="addLoggerRequest">
        <wsdl:part name="parameters" element="ns1:addLogger"/>
    </wsdl:message>
    <wsdl:message name="getLoggersRequest">
        <wsdl:part name="parameters" element="ns1:getLoggers"/>
    </wsdl:message>
    <wsdl:message name="getLoggersResponse">
        <wsdl:part name="parameters" element="ns1:getLoggersResponse"/>
    </wsdl:message>
    <wsdl:portType name="LoggingConfigPortType">
        <wsdl:operation name="isLoggerExist">
            <wsdl:input message="tns:isLoggerExistRequest" wsaw:Action="urn:isLoggerExist"/>
            <wsdl:output message="tns:isLoggerExistResponse" wsaw:Action="urn:isLoggerExistResponse"/>
            <wsdl:fault message="tns:LoggingConfigIOException" name="LoggingConfigIOException" wsaw:Action="urn:isLoggerExistLoggingConfigIOException"/>
        </wsdl:operation>
        <wsdl:operation name="addRemoteServerConfig">
            <wsdl:input message="tns:addRemoteServerConfigRequest" wsaw:Action="urn:addRemoteServerConfig"/>
            <wsdl:fault message="tns:LoggingConfigIOException" name="LoggingConfigIOException" wsaw:Action="urn:addRemoteServerConfigLoggingConfigIOException"/>
            <wsdl:fault message="tns:LoggingConfigConfigurationException" name="LoggingConfigConfigurationException" wsaw:Action="urn:addRemoteServerConfigLoggingConfigConfigurationException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllLoggerData">
            <wsdl:input message="tns:getAllLoggerDataRequest" wsaw:Action="urn:getAllLoggerData"/>
            <wsdl:output message="tns:getAllLoggerDataResponse" wsaw:Action="urn:getAllLoggerDataResponse"/>
            <wsdl:fault message="tns:LoggingConfigIOException" name="LoggingConfigIOException" wsaw:Action="urn:getAllLoggerDataLoggingConfigIOException"/>
        </wsdl:operation>
        <wsdl:operation name="getLoggerData">
            <wsdl:input message="tns:getLoggerDataRequest" wsaw:Action="urn:getLoggerData"/>
            <wsdl:output message="tns:getLoggerDataResponse" wsaw:Action="urn:getLoggerDataResponse"/>
            <wsdl:fault message="tns:LoggingConfigIOException" name="LoggingConfigIOException" wsaw:Action="urn:getLoggerDataLoggingConfigIOException"/>
        </wsdl:operation>
        <wsdl:operation name="addLogger">
            <wsdl:input message="tns:addLoggerRequest" wsaw:Action="urn:addLogger"/>
            <wsdl:fault message="tns:LoggingConfigIOException" name="LoggingConfigIOException" wsaw:Action="urn:addLoggerLoggingConfigIOException"/>
            <wsdl:fault message="tns:LoggingConfigConfigurationException" name="LoggingConfigConfigurationException" wsaw:Action="urn:addLoggerLoggingConfigConfigurationException"/>
        </wsdl:operation>
        <wsdl:operation name="getLoggers">
            <wsdl:input message="tns:getLoggersRequest" wsaw:Action="urn:getLoggers"/>
            <wsdl:output message="tns:getLoggersResponse" wsaw:Action="urn:getLoggersResponse"/>
            <wsdl:fault message="tns:LoggingConfigIOException" name="LoggingConfigIOException" wsaw:Action="urn:getLoggersLoggingConfigIOException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LoggingConfigSoap11Binding" type="tns:LoggingConfigPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="isLoggerExist">
            <soap:operation soapAction="urn:isLoggerExist" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LoggingConfigIOException">
                <soap:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRemoteServerConfig">
            <soap:operation soapAction="urn:addRemoteServerConfig" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="LoggingConfigIOException">
                <soap:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
            <wsdl:fault name="LoggingConfigConfigurationException">
                <soap:fault use="literal" name="LoggingConfigConfigurationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLoggerData">
            <soap:operation soapAction="urn:getAllLoggerData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LoggingConfigIOException">
                <soap:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLoggerData">
            <soap:operation soapAction="urn:getLoggerData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LoggingConfigIOException">
                <soap:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addLogger">
            <soap:operation soapAction="urn:addLogger" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="LoggingConfigIOException">
                <soap:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
            <wsdl:fault name="LoggingConfigConfigurationException">
                <soap:fault use="literal" name="LoggingConfigConfigurationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLoggers">
            <soap:operation soapAction="urn:getLoggers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LoggingConfigIOException">
                <soap:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LoggingConfigSoap12Binding" type="tns:LoggingConfigPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="isLoggerExist">
            <soap12:operation soapAction="urn:isLoggerExist" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LoggingConfigIOException">
                <soap12:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRemoteServerConfig">
            <soap12:operation soapAction="urn:addRemoteServerConfig" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="LoggingConfigIOException">
                <soap12:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
            <wsdl:fault name="LoggingConfigConfigurationException">
                <soap12:fault use="literal" name="LoggingConfigConfigurationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLoggerData">
            <soap12:operation soapAction="urn:getAllLoggerData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LoggingConfigIOException">
                <soap12:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLoggerData">
            <soap12:operation soapAction="urn:getLoggerData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LoggingConfigIOException">
                <soap12:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addLogger">
            <soap12:operation soapAction="urn:addLogger" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="LoggingConfigIOException">
                <soap12:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
            <wsdl:fault name="LoggingConfigConfigurationException">
                <soap12:fault use="literal" name="LoggingConfigConfigurationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLoggers">
            <soap12:operation soapAction="urn:getLoggers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LoggingConfigIOException">
                <soap12:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LoggingConfigHttpBinding" type="tns:LoggingConfigPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="isLoggerExist">
            <http:operation location="isLoggerExist"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRemoteServerConfig">
            <http:operation location="addRemoteServerConfig"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllLoggerData">
            <http:operation location="getAllLoggerData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLoggerData">
            <http:operation location="getLoggerData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addLogger">
            <http:operation location="addLogger"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLoggers">
            <http:operation location="getLoggers"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LoggingConfig">
        <wsdl:port name="LoggingConfigHttpsSoap11Endpoint" binding="tns:LoggingConfigSoap11Binding">
            <soap:address location="https://localhost:8243/services/LoggingConfig.LoggingConfigHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="LoggingConfigHttpsSoap12Endpoint" binding="tns:LoggingConfigSoap12Binding">
            <soap12:address location="https://localhost:8243/services/LoggingConfig.LoggingConfigHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="LoggingConfigHttpsEndpoint" binding="tns:LoggingConfigHttpBinding">
            <http:address location="https://localhost:8243/services/LoggingConfig.LoggingConfigHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
