service-stubs/logging/org.wso2.carbon.logging.config.stub/src/main/resources/LogConfig.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2498="http://exception.lang.commons.apache.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://service.logging.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2495="http://io.java/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2497="http://configuration.commons.apache.org/xsd" targetNamespace="http://service.logging.carbon.wso2.org">
    <wsdl:documentation>LoggingConfig</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.lang.commons.apache.org/xsd">
            <xs:complexType name="NestableException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cause" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="messages" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="throwableCount" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="throwables" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2500="http://configuration.commons.apache.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2496="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://io.java/xsd"/>
            <xs:import namespace="http://configuration.commons.apache.org/xsd"/>
            <xs:element name="LoggingConfigIOException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IOException" nillable="true" type="ax2495:IOException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LoggingConfigConfigurationException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ConfigurationException" nillable="true" type="ax2500:ConfigurationException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRemoteServerConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="connectTimeoutMillis" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="auditLogTypeStatus" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="apiLogTypeStatus" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="carbonLogTypeStatus" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2499="http://exception.lang.commons.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://configuration.commons.apache.org/xsd">
            <xs:import namespace="http://exception.lang.commons.apache.org/xsd"/>
            <xs:complexType name="ConfigurationException">
                <xs:complexContent>
                    <xs:extension base="ax2498:NestableException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addRemoteServerConfigRequest">
        <wsdl:part name="parameters" element="ns1:addRemoteServerConfig"/>
    </wsdl:message>
    <wsdl:message name="LoggingConfigIOException">
        <wsdl:part name="parameters" element="ns1:LoggingConfigIOException"/>
    </wsdl:message>
    <wsdl:message name="LoggingConfigConfigurationException">
        <wsdl:part name="parameters" element="ns1:LoggingConfigConfigurationException"/>
    </wsdl:message>
    <wsdl:portType name="LoggingConfigPortType">
        <wsdl:operation name="addRemoteServerConfig">
            <wsdl:input message="tns:addRemoteServerConfigRequest" wsaw:Action="urn:addRemoteServerConfig"/>
            <wsdl:fault message="tns:LoggingConfigIOException" name="LoggingConfigIOException" wsaw:Action="urn:addRemoteServerConfigLoggingConfigIOException"/>
            <wsdl:fault message="tns:LoggingConfigConfigurationException" name="LoggingConfigConfigurationException" wsaw:Action="urn:addRemoteServerConfigLoggingConfigConfigurationException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LoggingConfigSoap11Binding" type="tns:LoggingConfigPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addRemoteServerConfig">
            <soap:operation soapAction="urn:addRemoteServerConfig" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="LoggingConfigIOException">
                <soap:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
            <wsdl:fault name="LoggingConfigConfigurationException">
                <soap:fault use="literal" name="LoggingConfigConfigurationException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LoggingConfigSoap12Binding" type="tns:LoggingConfigPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addRemoteServerConfig">
            <soap12:operation soapAction="urn:addRemoteServerConfig" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="LoggingConfigIOException">
                <soap12:fault use="literal" name="LoggingConfigIOException"/>
            </wsdl:fault>
            <wsdl:fault name="LoggingConfigConfigurationException">
                <soap12:fault use="literal" name="LoggingConfigConfigurationException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LoggingConfigHttpBinding" type="tns:LoggingConfigPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addRemoteServerConfig">
            <http:operation location="addRemoteServerConfig"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LoggingConfig">
        <wsdl:port name="LoggingConfigHttpsSoap11Endpoint" binding="tns:LoggingConfigSoap11Binding">
            <soap:address location="https://localhost:8243/services/LoggingConfig.LoggingConfigHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="LoggingConfigHttpsSoap12Endpoint" binding="tns:LoggingConfigSoap12Binding">
            <soap12:address location="https://localhost:8243/services/LoggingConfig.LoggingConfigHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="LoggingConfigHttpsEndpoint" binding="tns:LoggingConfigHttpBinding">
            <http:address location="https://localhost:8243/services/LoggingConfig.LoggingConfigHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>