service-stubs/org.wso2.carbon.tenant.mgt.stub/src/main/resources/TenantMgtAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.tenant.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2388="http://beans.common.tenant.carbon.wso2.org/xsd" xmlns:ax2390="http://beans.mgt.tenant.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.tenant.carbon.wso2.org">
    <wsdl:documentation>TenantMgtAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2392="http://beans.mgt.tenant.carbon.wso2.org/xsd" xmlns:ax2389="http://beans.common.tenant.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.tenant.carbon.wso2.org">
            <xs:import namespace="http://beans.common.tenant.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://beans.mgt.tenant.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="TenantMgtAdminServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="TenantMgtAdminServiceException" nillable="true" type="ns:Exception"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="updateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantInfoBean" nillable="true" type="ax2388:TenantInfoBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveTenants">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveTenantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2388:TenantInfoBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePartialSearchTenants">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePartialSearchTenantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2388:TenantInfoBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePaginatedTenants">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePaginatedTenantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2392:PaginatedTenantInfoBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePaginatedPartialSearchTenants">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePaginatedPartialSearchTenantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2392:PaginatedTenantInfoBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2388:TenantInfoBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantInfoBean" nillable="true" type="ax2388:TenantInfoBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addSkeletonTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantInfoBean" nillable="true" type="ax2388:TenantInfoBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addSkeletonTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.common.tenant.carbon.wso2.org/xsd">
            <xs:complexType name="TenantInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="admin" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:dateTime"></xs:element>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="originatedService" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="successKey" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="usagePlan" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2391="http://beans.common.tenant.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.mgt.tenant.carbon.wso2.org/xsd">
            <xs:import namespace="http://beans.common.tenant.carbon.wso2.org/xsd"></xs:import>
            <xs:complexType name="PaginatedTenantInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="tenantInfoBeans" nillable="true" type="ax2391:TenantInfoBean"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="retrieveTenantsRequest">
        <wsdl:part name="parameters" element="ns:retrieveTenants"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveTenantsResponse">
        <wsdl:part name="parameters" element="ns:retrieveTenantsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="TenantMgtAdminServiceException">
        <wsdl:part name="parameters" element="ns:TenantMgtAdminServiceException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTenantRequest">
        <wsdl:part name="parameters" element="ns:getTenant"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTenantResponse">
        <wsdl:part name="parameters" element="ns:getTenantResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deactivateTenantRequest">
        <wsdl:part name="parameters" element="ns:deactivateTenant"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deactivateTenantResponse"></wsdl:message>
    <wsdl:message name="retrievePartialSearchTenantsRequest">
        <wsdl:part name="parameters" element="ns:retrievePartialSearchTenants"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrievePartialSearchTenantsResponse">
        <wsdl:part name="parameters" element="ns:retrievePartialSearchTenantsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrievePaginatedTenantsRequest">
        <wsdl:part name="parameters" element="ns:retrievePaginatedTenants"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrievePaginatedTenantsResponse">
        <wsdl:part name="parameters" element="ns:retrievePaginatedTenantsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateTenantRequest">
        <wsdl:part name="parameters" element="ns:updateTenant"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateTenantResponse"></wsdl:message>
    <wsdl:message name="addSkeletonTenantRequest">
        <wsdl:part name="parameters" element="ns:addSkeletonTenant"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addSkeletonTenantResponse">
        <wsdl:part name="parameters" element="ns:addSkeletonTenantResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addTenantRequest">
        <wsdl:part name="parameters" element="ns:addTenant"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addTenantResponse">
        <wsdl:part name="parameters" element="ns:addTenantResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrievePaginatedPartialSearchTenantsRequest">
        <wsdl:part name="parameters" element="ns:retrievePaginatedPartialSearchTenants"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrievePaginatedPartialSearchTenantsResponse">
        <wsdl:part name="parameters" element="ns:retrievePaginatedPartialSearchTenantsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="activateTenantRequest">
        <wsdl:part name="parameters" element="ns:activateTenant"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="activateTenantResponse"></wsdl:message>
    <wsdl:message name="deleteTenantRequest">
        <wsdl:part name="parameters" element="ns:deleteTenant"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteTenantResponse"></wsdl:message>
    <wsdl:portType name="TenantMgtAdminServicePortType">
        <wsdl:operation name="retrieveTenants">
            <wsdl:input message="ns:retrieveTenantsRequest" wsaw:Action="urn:retrieveTenants"></wsdl:input>
            <wsdl:output message="ns:retrieveTenantsResponse" wsaw:Action="urn:retrieveTenantsResponse"></wsdl:output>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:retrieveTenantsTenantMgtAdminServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenant">
            <wsdl:input message="ns:getTenantRequest" wsaw:Action="urn:getTenant"></wsdl:input>
            <wsdl:output message="ns:getTenantResponse" wsaw:Action="urn:getTenantResponse"></wsdl:output>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:getTenantTenantMgtAdminServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateTenant">
            <wsdl:input message="ns:deactivateTenantRequest" wsaw:Action="urn:deactivateTenant"></wsdl:input>
            <wsdl:output message="ns:deactivateTenantResponse" wsaw:Action="urn:deactivateTenantResponse"></wsdl:output>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:deactivateTenantTenantMgtAdminServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePartialSearchTenants">
            <wsdl:input message="ns:retrievePartialSearchTenantsRequest" wsaw:Action="urn:retrievePartialSearchTenants"></wsdl:input>
            <wsdl:output message="ns:retrievePartialSearchTenantsResponse" wsaw:Action="urn:retrievePartialSearchTenantsResponse"></wsdl:output>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:retrievePartialSearchTenantsTenantMgtAdminServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedTenants">
            <wsdl:input message="ns:retrievePaginatedTenantsRequest" wsaw:Action="urn:retrievePaginatedTenants"></wsdl:input>
            <wsdl:output message="ns:retrievePaginatedTenantsResponse" wsaw:Action="urn:retrievePaginatedTenantsResponse"></wsdl:output>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:retrievePaginatedTenantsTenantMgtAdminServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <wsdl:input message="ns:updateTenantRequest" wsaw:Action="urn:updateTenant"></wsdl:input>
            <wsdl:output message="ns:updateTenantResponse" wsaw:Action="urn:updateTenantResponse"></wsdl:output>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:updateTenantTenantMgtAdminServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSkeletonTenant">
            <wsdl:input message="ns:addSkeletonTenantRequest" wsaw:Action="urn:addSkeletonTenant"></wsdl:input>
            <wsdl:output message="ns:addSkeletonTenantResponse" wsaw:Action="urn:addSkeletonTenantResponse"></wsdl:output>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:addSkeletonTenantTenantMgtAdminServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <wsdl:input message="ns:addTenantRequest" wsaw:Action="urn:addTenant"></wsdl:input>
            <wsdl:output message="ns:addTenantResponse" wsaw:Action="urn:addTenantResponse"></wsdl:output>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:addTenantTenantMgtAdminServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedPartialSearchTenants">
            <wsdl:input message="ns:retrievePaginatedPartialSearchTenantsRequest" wsaw:Action="urn:retrievePaginatedPartialSearchTenants"></wsdl:input>
            <wsdl:output message="ns:retrievePaginatedPartialSearchTenantsResponse" wsaw:Action="urn:retrievePaginatedPartialSearchTenantsResponse"></wsdl:output>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:retrievePaginatedPartialSearchTenantsTenantMgtAdminServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <wsdl:input message="ns:activateTenantRequest" wsaw:Action="urn:activateTenant"></wsdl:input>
            <wsdl:output message="ns:activateTenantResponse" wsaw:Action="urn:activateTenantResponse"></wsdl:output>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:activateTenantTenantMgtAdminServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTenant">
            <wsdl:input message="ns:deleteTenantRequest" wsaw:Action="urn:deleteTenant"></wsdl:input>
            <wsdl:output message="ns:deleteTenantResponse" wsaw:Action="urn:deleteTenantResponse"></wsdl:output>
            <wsdl:fault message="ns:TenantMgtAdminServiceException" name="TenantMgtAdminServiceException" wsaw:Action="urn:deleteTenantTenantMgtAdminServiceException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TenantMgtAdminServiceSoap11Binding" type="ns:TenantMgtAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getTenant">
            <soap:operation soapAction="urn:getTenant" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrieveTenants">
            <soap:operation soapAction="urn:retrieveTenants" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateTenant">
            <soap:operation soapAction="urn:deactivateTenant" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePartialSearchTenants">
            <soap:operation soapAction="urn:retrievePartialSearchTenants" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedTenants">
            <soap:operation soapAction="urn:retrievePaginatedTenants" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <soap:operation soapAction="urn:updateTenant" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSkeletonTenant">
            <soap:operation soapAction="urn:addSkeletonTenant" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <soap:operation soapAction="urn:addTenant" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedPartialSearchTenants">
            <soap:operation soapAction="urn:retrievePaginatedPartialSearchTenants" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTenant">
            <soap:operation soapAction="urn:deleteTenant" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <soap:operation soapAction="urn:activateTenant" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap:fault use="literal" name="TenantMgtAdminServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TenantMgtAdminServiceSoap12Binding" type="ns:TenantMgtAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getTenant">
            <soap12:operation soapAction="urn:getTenant" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrieveTenants">
            <soap12:operation soapAction="urn:retrieveTenants" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateTenant">
            <soap12:operation soapAction="urn:deactivateTenant" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePartialSearchTenants">
            <soap12:operation soapAction="urn:retrievePartialSearchTenants" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedTenants">
            <soap12:operation soapAction="urn:retrievePaginatedTenants" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <soap12:operation soapAction="urn:updateTenant" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSkeletonTenant">
            <soap12:operation soapAction="urn:addSkeletonTenant" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <soap12:operation soapAction="urn:addTenant" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedPartialSearchTenants">
            <soap12:operation soapAction="urn:retrievePaginatedPartialSearchTenants" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTenant">
            <soap12:operation soapAction="urn:deleteTenant" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <soap12:operation soapAction="urn:activateTenant" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="TenantMgtAdminServiceException">
                <soap12:fault use="literal" name="TenantMgtAdminServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TenantMgtAdminServiceHttpBinding" type="ns:TenantMgtAdminServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getTenant">
            <http:operation location="getTenant"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveTenants">
            <http:operation location="retrieveTenants"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deactivateTenant">
            <http:operation location="deactivateTenant"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrievePartialSearchTenants">
            <http:operation location="retrievePartialSearchTenants"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedTenants">
            <http:operation location="retrievePaginatedTenants"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <http:operation location="updateTenant"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addSkeletonTenant">
            <http:operation location="addSkeletonTenant"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTenant">
            <http:operation location="addTenant"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrievePaginatedPartialSearchTenants">
            <http:operation location="retrievePaginatedPartialSearchTenants"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTenant">
            <http:operation location="deleteTenant"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="activateTenant">
            <http:operation location="activateTenant"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TenantMgtAdminService">
        <wsdl:port name="TenantMgtAdminServiceHttpsSoap11Endpoint" binding="ns:TenantMgtAdminServiceSoap11Binding">
            <soap:address location="https://192.168.122.1:9443/services/TenantMgtAdminService.TenantMgtAdminServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="TenantMgtAdminServiceHttpsSoap12Endpoint" binding="ns:TenantMgtAdminServiceSoap12Binding">
            <soap12:address location="https://192.168.122.1:9443/services/TenantMgtAdminService.TenantMgtAdminServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="TenantMgtAdminServiceHttpsEndpoint" binding="ns:TenantMgtAdminServiceHttpBinding">
            <http:address location="https://192.168.122.1:9443/services/TenantMgtAdminService.TenantMgtAdminServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
