components/cluster-mgt/org.wso2.carbon.cluster.mgt.admin.ui/src/main/resources/ClusterAdmin.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:axis2="http://admin.mgt.cluster.carbon.wso2.org"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ax28="http://admin.mgt.cluster.carbon.wso2.org/xsd"
                  targetNamespace="http://admin.mgt.cluster.carbon.wso2.org">
    <wsdl:documentation>ClusterAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd"
                   xmlns:ax29="http://admin.mgt.cluster.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://admin.mgt.cluster.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>

            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true"
                                    type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMembers">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMembersResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax28:GroupMember"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGroupsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax28:Group"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="endGroupMaintenance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="restartGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="restartGroupGracefully">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="shutdownGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true"
                                    type="xs:string"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="shutdownGroupGracefully">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="startGroupMaintenance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>

        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://admin.mgt.cluster.carbon.wso2.org/xsd">
            <xs:complexType name="GroupMember">
                <xs:all>
                    <xs:element minOccurs="0" name="backendServerURL" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="httpPort" type="xs:int"/>
                    <xs:element minOccurs="0" name="httpsPort" type="xs:int"/>
                    <xs:element minOccurs="0" name="mgConsoleURL" nillable="true" type="xs:string"/>
                </xs:all>

            </xs:complexType>
            <xs:complexType name="Group">
                <xs:all>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="numberOfMembers" type="xs:int"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>

    </wsdl:types>
    <wsdl:message name="startClusterMaintenanceRequest"/>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception"/>
    </wsdl:message>
    <wsdl:message name="getMembersRequest">
        <wsdl:part name="parameters" element="ns1:getMembers"/>
    </wsdl:message>
    <wsdl:message name="getMembersResponse">

        <wsdl:part name="parameters" element="ns1:getMembersResponse"/>
    </wsdl:message>
    <wsdl:message name="restartGroupGracefullyRequest">
        <wsdl:part name="parameters" element="ns1:restartGroupGracefully"/>
    </wsdl:message>
    <wsdl:message name="endGroupMaintenanceRequest">
        <wsdl:part name="parameters" element="ns1:endGroupMaintenance"/>
    </wsdl:message>
    <wsdl:message name="getGroupsRequest"/>

    <wsdl:message name="getGroupsResponse">
        <wsdl:part name="parameters" element="ns1:getGroupsResponse"/>
    </wsdl:message>
    <wsdl:message name="restartClusterRequest"/>
    <wsdl:message name="shutdownClusterGracefullyRequest"/>
    <wsdl:message name="restartGroupRequest">
        <wsdl:part name="parameters" element="ns1:restartGroup"/>
    </wsdl:message>
    <wsdl:message name="shutdownClusterRequest"/>

    <wsdl:message name="shutdownGroupGracefullyRequest">
        <wsdl:part name="parameters" element="ns1:shutdownGroupGracefully"/>
    </wsdl:message>
    <wsdl:message name="shutdownGroupRequest">
        <wsdl:part name="parameters" element="ns1:shutdownGroup"/>
    </wsdl:message>
    <wsdl:message name="startGroupMaintenanceRequest">
        <wsdl:part name="parameters" element="ns1:startGroupMaintenance"/>
    </wsdl:message>

    <wsdl:message name="endClusterMaintenanceRequest"/>
    <wsdl:message name="restartClusterGracefullyRequest"/>
    <wsdl:portType name="ClusterAdminPortType">
        <wsdl:operation name="startClusterMaintenance">
            <wsdl:input message="axis2:startClusterMaintenanceRequest"
                        wsaw:Action="urn:startClusterMaintenance"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:startClusterMaintenanceException"/>
        </wsdl:operation>
        <wsdl:operation name="getMembers">
            <wsdl:input message="axis2:getMembersRequest" wsaw:Action="urn:getMembers"/>

            <wsdl:output message="axis2:getMembersResponse" wsaw:Action="urn:getMembersResponse"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:getMembersException"/>
        </wsdl:operation>
        <wsdl:operation name="restartGroupGracefully">
            <wsdl:input message="axis2:restartGroupGracefullyRequest"
                        wsaw:Action="urn:restartGroupGracefully"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:restartGroupGracefullyException"/>
        </wsdl:operation>
        <wsdl:operation name="endGroupMaintenance">
            <wsdl:input message="axis2:endGroupMaintenanceRequest"
                        wsaw:Action="urn:endGroupMaintenance"/>

            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:endGroupMaintenanceException"/>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <wsdl:input message="axis2:getGroupsRequest" wsaw:Action="urn:getGroups"/>
            <wsdl:output message="axis2:getGroupsResponse" wsaw:Action="urn:getGroupsResponse"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:getGroupsException"/>
        </wsdl:operation>
        <wsdl:operation name="restartCluster">
            <wsdl:input message="axis2:restartClusterRequest" wsaw:Action="urn:restartCluster"/>

            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:restartClusterException"/>
        </wsdl:operation>
        <wsdl:operation name="shutdownClusterGracefully">
            <wsdl:input message="axis2:shutdownClusterGracefullyRequest"
                        wsaw:Action="urn:shutdownClusterGracefully"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:shutdownClusterGracefullyException"/>
        </wsdl:operation>
        <wsdl:operation name="restartGroup">
            <wsdl:input message="axis2:restartGroupRequest" wsaw:Action="urn:restartGroup"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:restartGroupException"/>

        </wsdl:operation>
        <wsdl:operation name="shutdownCluster">
            <wsdl:input message="axis2:shutdownClusterRequest" wsaw:Action="urn:shutdownCluster"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:shutdownClusterException"/>
        </wsdl:operation>
        <wsdl:operation name="shutdownGroupGracefully">
            <wsdl:input message="axis2:shutdownGroupGracefullyRequest"
                        wsaw:Action="urn:shutdownGroupGracefully"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:shutdownGroupGracefullyException"/>
        </wsdl:operation>

        <wsdl:operation name="shutdownGroup">
            <wsdl:input message="axis2:shutdownGroupRequest" wsaw:Action="urn:shutdownGroup"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:shutdownGroupException"/>
        </wsdl:operation>
        <wsdl:operation name="startGroupMaintenance">
            <wsdl:input message="axis2:startGroupMaintenanceRequest"
                        wsaw:Action="urn:startGroupMaintenance"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:startGroupMaintenanceException"/>
        </wsdl:operation>
        <wsdl:operation name="endClusterMaintenance">

            <wsdl:input message="axis2:endClusterMaintenanceRequest"
                        wsaw:Action="urn:endClusterMaintenance"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:endClusterMaintenanceException"/>
        </wsdl:operation>
        <wsdl:operation name="restartClusterGracefully">
            <wsdl:input message="axis2:restartClusterGracefullyRequest"
                        wsaw:Action="urn:restartClusterGracefully"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:restartClusterGracefullyException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClusterAdminSoap11Binding" type="axis2:ClusterAdminPortType">

        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="startClusterMaintenance">
            <soap:operation soapAction="urn:startClusterMaintenance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="restartGroupGracefully">
            <soap:operation soapAction="urn:restartGroupGracefully" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getMembers">
            <soap:operation soapAction="urn:getMembers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>

            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <soap:operation soapAction="urn:getGroups" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="endGroupMaintenance">
            <soap:operation soapAction="urn:endGroupMaintenance" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="shutdownClusterGracefully">
            <soap:operation soapAction="urn:shutdownClusterGracefully" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restartCluster">
            <soap:operation soapAction="urn:restartCluster" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="shutdownCluster">
            <soap:operation soapAction="urn:shutdownCluster" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restartGroup">
            <soap:operation soapAction="urn:restartGroup" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="shutdownGroup">
            <soap:operation soapAction="urn:shutdownGroup" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="shutdownGroupGracefully">
            <soap:operation soapAction="urn:shutdownGroupGracefully" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startGroupMaintenance">
            <soap:operation soapAction="urn:startGroupMaintenance" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="endClusterMaintenance">
            <soap:operation soapAction="urn:endClusterMaintenance" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restartClusterGracefully">
            <soap:operation soapAction="urn:restartClusterGracefully" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ClusterAdminSoap12Binding" type="axis2:ClusterAdminPortType">

        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="startClusterMaintenance">
            <soap12:operation soapAction="urn:startClusterMaintenance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="restartGroupGracefully">
            <soap12:operation soapAction="urn:restartGroupGracefully" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getMembers">
            <soap12:operation soapAction="urn:getMembers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>

            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <soap12:operation soapAction="urn:getGroups" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="endGroupMaintenance">
            <soap12:operation soapAction="urn:endGroupMaintenance" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="shutdownClusterGracefully">
            <soap12:operation soapAction="urn:shutdownClusterGracefully" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restartCluster">
            <soap12:operation soapAction="urn:restartCluster" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="shutdownCluster">
            <soap12:operation soapAction="urn:shutdownCluster" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restartGroup">
            <soap12:operation soapAction="urn:restartGroup" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="shutdownGroup">
            <soap12:operation soapAction="urn:shutdownGroup" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="shutdownGroupGracefully">
            <soap12:operation soapAction="urn:shutdownGroupGracefully" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startGroupMaintenance">
            <soap12:operation soapAction="urn:startGroupMaintenance" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="endClusterMaintenance">
            <soap12:operation soapAction="urn:endClusterMaintenance" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="restartClusterGracefully">
            <soap12:operation soapAction="urn:restartClusterGracefully" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ClusterAdminHttpBinding" type="axis2:ClusterAdminPortType">

        <http:binding verb="POST"/>
        <wsdl:operation name="startClusterMaintenance">
            <http:operation location="ClusterAdmin/startClusterMaintenance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="startClusterMaintenance"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="restartGroupGracefully">
            <http:operation location="ClusterAdmin/restartGroupGracefully"/>

            <wsdl:input>
                <mime:content type="text/xml" part="restartGroupGracefully"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getMembers">
            <http:operation location="ClusterAdmin/getMembers"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMembers"/>
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="getMembers"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <http:operation location="ClusterAdmin/getGroups"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getGroups"/>
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="getGroups"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="endGroupMaintenance">
            <http:operation location="ClusterAdmin/endGroupMaintenance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="endGroupMaintenance"/>
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="shutdownClusterGracefully">
            <http:operation location="ClusterAdmin/shutdownClusterGracefully"/>
            <wsdl:input>
                <mime:content type="text/xml" part="shutdownClusterGracefully"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="restartCluster">
            <http:operation location="ClusterAdmin/restartCluster"/>

            <wsdl:input>
                <mime:content type="text/xml" part="restartCluster"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="shutdownCluster">
            <http:operation location="ClusterAdmin/shutdownCluster"/>
            <wsdl:input>
                <mime:content type="text/xml" part="shutdownCluster"/>
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="restartGroup">
            <http:operation location="ClusterAdmin/restartGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="restartGroup"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="shutdownGroup">
            <http:operation location="ClusterAdmin/shutdownGroup"/>

            <wsdl:input>
                <mime:content type="text/xml" part="shutdownGroup"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="shutdownGroupGracefully">
            <http:operation location="ClusterAdmin/shutdownGroupGracefully"/>
            <wsdl:input>
                <mime:content type="text/xml" part="shutdownGroupGracefully"/>
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="startGroupMaintenance">
            <http:operation location="ClusterAdmin/startGroupMaintenance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="startGroupMaintenance"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="endClusterMaintenance">
            <http:operation location="ClusterAdmin/endClusterMaintenance"/>

            <wsdl:input>
                <mime:content type="text/xml" part="endClusterMaintenance"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="restartClusterGracefully">
            <http:operation location="ClusterAdmin/restartClusterGracefully"/>
            <wsdl:input>
                <mime:content type="text/xml" part="restartClusterGracefully"/>
            </wsdl:input>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClusterAdmin">
        <wsdl:port name="ClusterAdminHttpsSoap11Endpoint" binding="axis2:ClusterAdminSoap11Binding">
            <soap:address
                    location="https://172.16.212.1:9447/services/ClusterAdmin.ClusterAdminHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ClusterAdminHttpsSoap12Endpoint" binding="axis2:ClusterAdminSoap12Binding">
            <soap12:address
                    location="https://172.16.212.1:9447/services/ClusterAdmin.ClusterAdminHttpsSoap12Endpoint/"/>
        </wsdl:port>

        <wsdl:port name="ClusterAdminHttpsEndpoint" binding="axis2:ClusterAdminHttpBinding">
            <http:address
                    location="https://172.16.212.1:9447/services/ClusterAdmin.ClusterAdminHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
